.smm-strategy-need {
	position: relative;
	overflow: hidden;
	padding-top: 149px;
    padding-bottom: 230px;
	font-family: ALS Hauss, sans-serif;
	z-index: 1;
	@include dArea{
		padding-top: vwx(149);
		padding-bottom: vwx(230);
	}

	&__container {
		color: #fff;
		z-index: 3;
		position: relative;
	}

	&__title {
		max-width: 1300px;
		margin: 0 auto;
		margin-bottom: 235px;
		color: #000000;
		font-size: 113px;
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		z-index: 3;
		text-align: center;
		@include dArea{
			max-width: vwx(1300);
			margin-bottom: vwx(235);
			font-size: vwx(113);
		}
	}


	&__content {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 155px 35px 162px;
		border-radius: 80px;
		background: #181725;
		@include dArea{
			padding: vwx(155) vwx(35) vwx(162);
			border-radius: vwx(80);
		}
	}

	/*495
	17*/
	&__inner {
		width: 1375px;
		max-width: 100%;
		@include dArea{
			width: vwx(1375);
		}
	}

	&__decor {
		position: absolute;
		top: 0;
		left: 50%;
		display: flex;
		align-items: center;
		margin-top: -3px;
		margin-left: 18px;
		padding: 39px 76px;
		transform: rotate(-10.51deg) translate(-50%, -75%);
		text-align: center;
		color: #FFFFFF;
		/* or 48px */
		background: #5B6CFF;
		font-size: 48px;
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		@include dArea{
			margin-left: vwx(18);
			font-size: vwx(48);
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin-top: 13px;
		margin-bottom: -54px;
		@include dArea{
			margin-top: vwx(13);
			margin-bottom: vwx(-54);
		}
	}

	&__card {
		width: 419px;
		margin-bottom: 73px;
		@include dArea{
			width: vwx(419);
			margin-bottom: vwx(73);
		}

		&:nth-child(4) {
			margin-left: 221px;
			@include dArea{
				margin-left: vwx(221);
			}
		}

		&:nth-child(5) {
			margin-right: auto;
			margin-left: 60px;
			@include dArea{
				margin-left: vwx(60);
			}
		}
	}

	&__card-img {
		height: 353px;
		@include dArea{
			height: vwx(353);
		}

		img {
			width: auto;
			height: auto;
			max-height: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__card-title {
		margin-top: -7px;
		font-size: 36px;
		font-weight: 500;
		font-style: normal;
		line-height: 125.8%;
		@include dArea{
			font-size: vwx(36);
		}

		&-xl {
			font-size: 41px;
			@include dArea{
				font-size: vwx(41);
			}
		}
	}

	&__card-desc {
		max-width: 378px;
		margin-top: 35px;
		font-size: 24px;
		font-family: $secondFont;
		font-style: normal;
		line-height: 125.8%;
		@include dArea{
			max-width: vwx(378);
			margin-top: vwx(35);
			font-size: vwx(24);
		}
	}
}