@media (max-width: 1200px) {
    .smm-strategy-banner {
        &__logo {
            margin-bottom: 90px;
        }
        &__subtitle {
            font-size: 90px;
        }
        &__title-decor {
            position: absolute;
            top: -5vw;
            right: 47%;
        }
    }
}
@media (max-width: 1200px) {
    .smm-strategy-banner {
        &__decor-wrapper {
            position: absolute;
            overflow: hidden;
            // width: 100vw;
            height: auto;
            z-index: 2;
        }
        &__decor {
            // display: none;
        }
        &__line {
            // top: -2px;
            // left: -2px;
            // display: block;
            // width: 100%;
            // height: 100%;
        }
        &__title-decor {
            max-width: 240px;
            top: -5vw;
            right: 47%;
        }
    }
}
@media (max-width: 1200px) {
    .smm-strategy-banner {
        &__title-decor {
            position: absolute;
            top: -1vw;
            right: 56%;
            width: 150px;
            height: 125px;
        }
        &__decor-wrapper {
            top: 6vw;
        }
        &__logo {
            margin-bottom: 60px;
        }
        &__subtitle {
            font-size: 64px;
        }
        &__link {
            padding: 0px 50px;
        }
        &__row {

        }
    }
}
@media (max-width:768px) {


    .smm-strategy-banner {
        padding-top: vw(96);
        padding-bottom: vw(93);
        &__row{
            flex-direction: column;
            align-items: flex-start;
        }
        &__logo {
            width: vw(32);
            height: vw(32);
            margin-bottom: vw(92);
        }
        &__decor-wrapper {
            position: absolute;
            right: 0;
            left: -17vw;
            top: 63vw;
            overflow: hidden;
            width: 200vw;
            height: auto;
            z-index: 2;
        }
        &__title-decor {
            display: none;
        }
        &__decor {
            display: none;
        }
        &__line {
            display: block;
            width: 100%;
            height: 100%;
        }
        &__title {
            display: block;
            font-size: vw(18);
            margin-bottom: vw(15);
        }
        &__subtitle {
            font-family: ALS Hauss;
            font-size: vw(36);
            line-height: 100%;
            margin-bottom: vw(53);
            margin-right: 0;
            position: relative;
        }
        &__link {
            font-size: vw(17);
            padding: vw(0) vw(50);
            height: vw(58);
            border-radius: vw(13);
            min-width: vw(216);
        }
        &__play {
            width: vw(14);
            height: vw(14);
            margin-right: vw(6);
        }

        &__kurs-info {
            margin: 0 auto;
            margin-top: vw(0);
            margin-bottom: vw(52);
            width: vw(275);

            height: vw(350);
        }
        &__play-text {
            font-size: vw(18);

        }
    }
    .teacher--smm-strat {

    padding-bottom: vw(115);
    }
}