.land-top--smm{
  .land-top__bg{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 1010px;
    @include dArea{
      width: vwd(1010);
    }
    @include mMax{
      width: vw(279);
      top: vw(20);
    }
  }
}