@media (max-width: 1200px) {
    .motion-banner2 {
        &__content-decor {
            position: absolute;
            bottom: 30%;
            right: 5%;
        }
    }
}
@media (max-width: 1200px) {
    .motion-banner2 {
        &__content-decor {
            position: absolute;
            bottom: 44%;
            right: 0%;
        }
    }
}
@media (max-width: 1200px) {
    .motion-banner2 {
        &__title {
            max-width: 1140px;
            margin: 0 auto;
            text-align: center;
            font-family: $secondFont;
            font-size: 82px;
            line-height: 100%;
            margin-bottom: 126px;
        }
    }
}

@media (max-width:1024px) {
    .motion-banner2__title{
        font-size: 8vw;
        margin-bottom: 15vw;
    }
    .motion-banner2__content{
        display: block;
    }
    .motion-banner2__card{
        margin-bottom: 15vw;
    }
    .motion-banner2__content-decor{
        display: none;
    }
}