.motion-components {
background-color: #000;
padding-top: 190px;
padding-bottom: 219px;
    @include dArea{
        padding-top: vwx(190);
        padding-bottom: vwx(219);
    }
    &__container {
    }

    &__content {
        box-sizing: border-box;
        padding: 96px;
        background: #FFFFFF;
        border-radius: 32px;
        position: relative;
        padding-bottom: 119px;
        @include dArea{
            padding: vwx(96);
            border-radius: vwx(32);
            padding-bottom: vwx(119);
        }
    }

    &__row {
        display: flex;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
        justify-content: space-between;
        &:not(:first-child) {
            padding-left: 3.5%;
        }
    }

    &__card-md {
        width: 100%;
        &:first-child {
            margin-bottom: -187px;
            @include dArea{
                margin-bottom: vwx(-187);
            }
        }
    }

    &__card-img-wrapper {
        position: relative;
        bottom: 44%;
        right: 22%;

        &::before {
            content: "";
            display: block;
            padding-top: 91%
        }
    }

    &__card-img {
        position: absolute;
        top: -5px;
        left: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include dArea{
            left: vwx(12);
        }
    }

    &__section-title {
        font-size: 72px;
        line-height: 125.8%;
        @include dArea{
            font-size: vwx(72);
        }
    }

    &__card-sm {
       &:not(:last-child) {
           margin-bottom: 82px;
           @include dArea{
               margin-bottom: vwx(82);
           }
       }
    }

    &__card-title {
        font-size: 41px;
        line-height: 125.8%;
        margin-bottom: 29px;
        @include dArea{
            font-size: vwx(41);
            margin-bottom: vwx(29);
        }
    }

    &__card-desc {
        font-size: 24px;
        line-height: 125.8%;
        @include dArea{
            font-size: vwx(24);
        }
    }
    }
    .container2 {
    }
