@media (max-width: 1200px) {
	.motion-info {
		&__card-title {
			font-size: 72px;
		}
		&__card {
			&_change {
				margin-top: -18.5%;
			}
		}
	}
}
@media (max-width: 1200px) {
	.motion-info {
		padding-top: 200px;
		padding-bottom: 97px;
		&__card-subtitle {
			font-size: 38px;
			line-height: 100%;
			color: #FF4E00;
			margin-bottom: 34px;
		}
		&__card-title {
			font-size: 58px;
		}
		&__card {
			&:not(:last-child) {
				margin-right: 50px;
			}
			&_change {
				margin-top: -18.5%;
			}
		}
		&__card-text {
			font-size: 32px;
		}
		&__card-text-info {
			font-size: 22px;
			img {
				width: 22px;
				height: 22px;
				margin-right: 16px;
			}
		}
	}
}
@media (max-width: 1200px) {
	.motion-info {
		padding-top: 150px;
		padding-bottom: 97px;
		&__card-content {
			box-sizing: border-box;

			top: -20px;
			padding-left: 20px;
			padding-bottom: 30px;
			padding-right: 20px;
			padding-top: 40px;
			border-bottom-left-radius: 24px;
			border-bottom-right-radius: 24px;
			&_mod {
				padding-left: 40px;
			}
		}
			&__card-subtitle {
				font-size: 32px;
				line-height: 100%;
				color: #FF4E00;
				margin-bottom: 34px;
			}
			&__card-title {
				font-size: 46px;
			}
			&__card {
				&:not(:last-child) {
					margin-right: 50px;
				}
				&_change {
					margin-top: -18.5%;
				}
			}
			&__card-text {
				font-size: 26px;
			}
			&__card-text-info {
				font-size: 20px;

			}
	}
}
@media (max-width:1024px) {
	.motion-info {
		padding-top: vw(75);
		padding-bottom: vw(85);
		&__container {
			max-width: calc(100% - #{vw(27)} * 2);
			padding-left: vw(0);
		}

		&__row {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&:not(:last-child) {
				margin-bottom: vw(0);
			}
		}

		&__card {
			margin-bottom: vw(32);

			&:not(:last-child) {
				margin-right: vw(0);
			}

			&_change {
				margin-top: 0;
			}

			&_text {
				margin-bottom: vw(52);
			}
		}

		&__card-subtitle {
			font-size: vw(21);
			max-width: vw(280);
			margin: 0 auto;
			margin-bottom: vw(23);
		}

		&__card-title {
			font-size: vw(34);
			padding-left: vw(0);
			text-align: center;
		}

		&__card-img-wrapper {
			position: relative;
			border-radius: vw(24);
			&-2 {
				&::before {
					content: '';
					display: block;
					padding-top:100%;
				}
			}
			&-3 {
				&::before {
					content: '';
					display: block;
					padding-top:100%;
				}
			}
		}
		&__card-img {
			border-radius: vw(24);
		}
		&__card-content {
			padding-left: vw(18);
			padding-bottom: vw(34);
			padding-right: vw(18);
			padding-top: vw(44);

			&_mod {
				padding-left: vw(18);
				padding-bottom: vw(18);
				padding-right: vw(18);
				padding-top: vw(35);
			}
		}

		&__card-text {
			font-size: vw(24);
			text-align: center;
		}

		&__card-text-info {
			margin-top: vw(19);
			font-size: vw(14);
			img {
				width: vw(13);
				height: vw(13);
				margin-right: vw(6);
			}
		}
	}
}