.section-motion-examples {
	background: #000000;
	position: relative;
	z-index: 1;
    padding-top: 181px;
	.container2, .moexam-container2 {
		position: relative;
		z-index: 3;
	}
}

.moexam-examples-bg {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	right: 0;
    //top: -22%;
	top: -400px;
}

.moexam-examples-bg-2 {
	display: block;
	position: absolute;
	z-index: 2;
	width: 1920px;
	min-width: 100%;
	height: auto;
	right: 0;
    top: 39%;
    top: 460px;
}

.moexam-title {
	font-weight: 500;
	font-size: 96px;
	line-height: 100%;
	text-align: center;
	color: #FFFFFF;
}

.moexam-items-wrap {
    margin-top: 78px;
	overflow: hidden;
	&-2{
		display: inline-flex;
		overflow: hidden;
		 box-sizing: border-box;
	}
}

.moexam-items {
	display: flex;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 175px;
	padding-right: 175px;
	overflow: hidden;
	box-sizing: border-box;
}

.moexam-item {
	position: relative;
	z-index: 1;
    width: 463px;
	transition-duration: .2s;
	max-height: 90vh;
	overflow: hidden;

	&:not(:first-child) {
		margin-left: 56px;
	}

	&:hover {}

	&:active {}

	&:focus {}

	&::before {
		content: '';
		display: block;
		width: 100%;
		position: relative;
		z-index: 1;
		padding-top: 178.1115%;
		box-sizing: border-box;
		max-height: 100%;
	}

	&::after {
		transition-duration: .2s;
		content: '';
		display: block;
		position: absolute;
		z-index: 3;
		width: 96px;
		height: 96px;
		border-radius: 50%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: url(../img/landings/motion/vids/gray-play.svg) no-repeat center center;
		background-size: contain;
		box-shadow: 0 0 33px #000;
	}

	&:hover {
		&::after {
			opacity: .9;
			transform: translate(-50%, -50%) scale(1.1);
			box-shadow: 0 0 20px #000;
		}
	}
}

.moexam-item-preview {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	z-index: 2;
}