@media (max-width: 1200px) {
    .motion-banner { 
        &__logo {
            margin-bottom: 90px;
        }
        &__subtitle {
            font-size: 90px;
        }
        &__title-decor {
            position: absolute;
            top: -5vw;
            right: 47%;
        }
    }
}
@media (max-width: 1200px) {
    .motion-banner { 
        &__decor-wrapper {
            position: absolute;
            overflow: hidden;
            // width: 100vw;
            height: auto;
            z-index: 2;
        }
        &__decor {
            // display: none;
        }
        &__line {
            // top: -2px;
            // left: -2px;
            // display: block;
            // width: 100%;
            // height: 100%;
        }
        &__title-decor {
            max-width: 240px;
            top: -5vw;
            right: 47%;
        }
    }
}
@media (max-width: 1200px) {
    .motion-banner { 
        &__title-decor {
            position: absolute;
            top: -1vw;
            right: 56%;
            width: 150px;
            height: 125px;
        }
        &__decor-wrapper {
            top: 6vw;
        }
        &__logo {
            margin-bottom: 60px;
        }
        &__subtitle {
            font-size: 64px;
        }
        &__link {
            padding: 0px 50px;
        }
        &__row {

        }
    }
}

@media (max-width:1024px) {
    .motion-banner{
        padding-top: 25.86667vw;
        padding-bottom: 25.06667vw;
    }
    .motion-banner__logo{
        width: 8.53333vw;
        height: 8.53333vw;
        margin-bottom: 25.06667vw;
    }
    .motion-banner__row{
        flex-direction: column;
        align-items: flex-start;
    }
    .motion-banner__subtitle{
        font-size: 9.6vw;
        margin-bottom: 4vw;
    }
    .motion-banner__kurs-info{
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 13.86667vw;
        width: 73.33333vw;
        height: 93.33333vw;
    }
    .motion-banner__link{
        font-size: 4.53333vw;
        padding: 0 13.33333vw;
        height: 15.46667vw;
        border-radius: 3.46667vw;
        min-width: 57.6vw;
    }
    .motion-banner__decor-wrapper, .motion-banner__title-decor{
        display: none;
    }
}