.land-top--motion{
  .land-top__bg{
    position: absolute;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 252px;
    display: block;
    width: 1506px;
    @include dArea{
      width: vwd(1506);
      top: vwd(252);
    }
    @include mMax{
      width: vw(1500);
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(60deg);
    }
  }
}