.motion-banner2 {
padding-top: 147px;
padding-bottom: 78px;
position: relative;
overflow: hidden;
    @include dArea{
        padding-top: vwx(147);
        padding-bottom: vwx(78);
    }
    &__line1 {
        position: absolute;
        top: 9%;
        left: 0;
        width: 43vw;
        height: 51vw;
        @include dArea{
            top: 0;
        }
    }

    &__line2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 53vw;
        height: 52vw;
        @include dArea{
            bottom: -25%;
        }
    }

    &__container {
        position: relative;
    }

    &__title {
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        font-weight: 400;
        font-size: 113px;
        line-height: 100%;
        margin-bottom: 126px;
        padding-right: 22px;
        @include dArea{
            max-width: vwx(1140);
            font-size: vwx(113);
            margin-bottom: vwx(126);
            padding-right: vwx(22);
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        margin-bottom: 66px;
        position: relative;
        @include dArea{
            margin-bottom: vwx(66);
        }
    }
    &__card {
        max-width: 360px;
        width: 100%;
        @include dArea{
            max-width: vwx(360);
        }
        &:first-child {
            margin-right: 45px;
            @include dArea{
                margin-right: vwx(45);
            }

        }
    }
    &__img-wrapper {
        position: relative;
        width: 100%;
        margin-bottom: 22px;
        @include dArea{
            margin-bottom: vwx(22);
        }
        &::before {
            content: '';
            display: block;
            padding-top: 635/357 * 100%;
        }

        &:hover {
            .motion-banner2__img-play {
                opacity: 0.9;
                transform: translate(-50%,-50%) scale(1.1);
            }
        }
    }
    &__img-play {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        object-position: center center;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    &__img,
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &__img-desc {
        text-align: center;
        font-family: ALS Hauss;
        font-weight: 300;
        font-size: 24px;
        line-height: 125.8%;
        @include dArea{
            font-size: vwx(24);
        }
    }
    &__content-decor {
        position: absolute;
        bottom: 30%;
        right: 15%;
    }

    &__subtitle {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        font-family: $secondFont;
        font-size: 41px;
        line-height: 125.8%;
        @include dArea{
            font-size: vwx(41);
            max-width: vwx(650);
        }
    }
}