section.copywriting-programm.copywriting-programm--context
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Програма курса
				.cwprog-cards
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Начало работы
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
							.cwprog-card-left__bottom
								.cwprog-card-part-name Урок 0

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Введение
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Термины и определения
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сервис подбора слов Wordstat
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ конкурентов
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Медиапланирование
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Utm-метки


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
							a.btn.btn--v2.btn--green.cwprog-card-btn(href="") Получить бесплатно


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Сбор семантического ядра
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Майнд-карты и сегментация рекламных кампаний
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сбор базовых фраз
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сбор семантического ядра (Режим Easy)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сбор семантического ядра (Режим Medium)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сбор семантического ядра (Режим Hard)

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Яндекс
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Поисковая реклама в Яндексе
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Создание excel файла для поисковой рекламы в Яндексе
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Импорт рекламных кампаний в Директ
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Импорт рекламных кампаний в Директ Коммандер
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Рекламная сеть Яндекса
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Ретаргетинг
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Динамические поисковые объявления
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Смарт-баннеры
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Баннер на поиске
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Медийные объявления
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Медийная реклама на главной странице Яндекса
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ рекламных кампаний в Яндексе
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Яндекс.Метрика

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Google
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 3

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Регистрация кабинета Google Рекламы и подготовка к работе
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Поисковая реклама в Google
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Создание excel файла для поисковой рекламы в Google
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Импорт рекламных кампаний в Ads Editor
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Контекстно-медийная сеть Google
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Ремаркетинг
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Умная рекламная кампания Google
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Discovery кампания в Google
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Торговые рекламные кампании
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Мой бизнес
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Реклама в Google картах
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Локальные кампании
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Видеореклама в YouTube
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ рекламных кампаний в Google
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Analytics. Для новых пользователей
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Analytics. Для существующих пользователей
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Tag Manager

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
