section.questions.questions--context
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Я слышал(а), что контекстная реклама это дорого.
                .questions__question-desc В некоторых нишах действительно большая конкуренция в поиске, а клики могут доходить до 500 и даже 1000 рублей. Но помимо поиска есть реклама в сетях, где можно привлекать трафик на сайт намного дешевле, нежели в поиске. Он будет холоднее, но его будет больше и он скорее всего будет окупаться, если правильно подойти к настройке, грамотно сделать сайт, вести на правильную посадочную страницу, проработать УТП и так далее.<br>Помимо этого есть возможность показывать объявления тем, кто уже был на вашем сайте. Такая аудитория будет и дешевле и теплее.
            .questions__question
                .questions__question-title Моей нише/нише моего клиента подойдет контекстная реклама?
                .questions__question-desc Проверить спрос на услуги или товары можно в сервисе wordstat.yandex.ru<br/>Введя запрос потенциального клиента можно увидеть количество запросов в месяц в поиске Яндекса. Также есть возможность настраивать рекламу по социально-демографическим данным и интересам.<br/>В Яндекс и Google есть инструменты для настройки медийной рекламы - для повышения узнаваемости бренда и увеличения лояльности.
            .questions__question
                .questions__question-title Зачем устанавливать счетчики аналитики, лезть в код сайта, если можно просто настроить рекламу и следить за ценой клика?
                .questions__question-desc Цена клика вообще не показатель доходности бизнеса.<br/>Пример: цена клика в поиске 40 рублей и из каждых 100 человек, заходящих на сайт покупают товар 10 человек. Цена клика в сетях 5 рублей, а из каждых 100 человек покупает 1. В первом случае цена за одного клиента составит 400 рублей, во втором случае 500 рублей.<br/>Откуда клиенты обходятся дешевле показывают постоянные тесты форматов объявлений, креативов итд.<br/>Помимо того, откуда приходят заказы в системах аналитики можно увидеть с каких регионов и городов более дешевые клиенты, на каких устройствах и операционных системах у пользователей возникают проблемы на страницах сайта. Также можно посмотреть запись экрана как пользователи взаимодействуют с вашим сайтом, на какие элементы больше кликают, как скролят страницы, таким образом внедрять изменения, чтобы людям было удобно сайтом пользоваться. И еще много много полезного можно увидеть в системах аналитики.
            .questions__question
                .questions__question-title У меня нет сайта. Контекстная реклама мне не подойдет?
                .questions__question-desc У Яндекс и Google есть встроенные бесплатные конструкторы сайтов, в которых можно быстро и легко создать как лендинг, так и полноценный сайт.
            .questions__question
                .questions__question-title Я продаю наркотики/оружие/людей на органы будут ли у меня проблемы с прохождением модерации?
                .questions__question-desc_mb Разрешенные, запрещенные и ограниченные тематики можно узнать в официальных справках: <a href="#" target="_blank">Яндекс</a> и <a href="#" target="_blank">Google</a>.
                .questions__question-desc А также более детально в чатах поддержки: <a href="#" target="_blank">Яндекс</a> и <a href="#" target="_blank">Google</a>.
