section.ylearn-section.ylearn-section--context
	.container2.ylearn-container
		h2.ylearn-title Чему вы научитесь <br> на курсе

	#ylearn-pinContainer.container2.ylearn-row-container
		#ylearn-scroll.ylearn-row-wrap
			.ylearn-row
				.ylearn-col.ylearn-col--short
					.ylearn-item
						.ylearn-item__title Составлять <br> майнд-карты и <br> сегментировать <br> рекламные <br> кампании
						picture
							source(media='(min-width: 1025px)', srcset='img/landings/context/ylearn-1.svg')
							img(src="img/landings/context/ylearn-1-small.svg", alt="")

				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--tall(style="background-color: #e27bf5; color: #fff")
						.ylearn-item__title Правильно собирать <br> семантическое ядро
					.ylearn-item.ylearn-item--small
						.ylearn-item__title Настраивать рекламные кампании <br> в Яндекс и Google

				.ylearn-col.ylearn-col--short.ylearn-col--short-2
					.ylearn-item
						.ylearn-item__title Управлять рекламными кампаниями
						img(src="img/landings/context/ylearn-2.svg", alt="")

				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--tall(style="background-color: #e27bf5; color: #fff")
						.ylearn-item__title Анализировать и <br> оптимизировать рекламные <br> кампании
					.ylearn-item.ylearn-item--small
						.ylearn-item__title Работать с веб-аналитикой
