section.context-need
    .container2.context-need__container
        .context-need__title 
            span Яндекс и Google 
            span — самые крупные рекламные сети в России и мире
        .context-need__content
            .context-need__decor Для&nbsp;кого?
            .context-need__inner
                .context-need__row
                    .context-need__card
                        .context-need__card-img
                            img(src="img/landings/context/need-1.svg")
                        .context-need__card-title Желающим освоить digital-профессию
                    .context-need__card
                        .context-need__card-img
                            img(src="img/landings/context/need-2.svg")
                        .context-need__card-title Уже работаете<br/> с трафиком
                    .context-need__card
                        .context-need__card-img
                            img(src="img/landings/context/need-3.svg")
                        .context-need__card-title Интернет-маркетологам