section.context-advantages
	picture.context-advantages__img.context-advantages__img--1
		source(media='(min-width: 1200px)', srcset='img/landings/context/advantage-1.svg')
		img(src='img/landings/context/advantage-1-small.svg')
	picture.context-advantages__img.context-advantages__img--2
		source(media='(min-width: 1200px)', srcset='img/landings/context/advantage-2.svg')
		img(src='img/landings/context/advantage-2-small.svg')
	picture.context-advantages__img.context-advantages__img--3
		source(media='(min-width: 1200px)', srcset='img/landings/context/advantage-3.svg')
		img(src='img/landings/context/advantage-3-small.svg')
	picture.context-advantages__img.context-advantages__img--4
		source(media='(min-width: 1200px)', srcset='img/landings/context/advantage-4.svg')
		img(src='img/landings/context/advantage-4-small.svg')
	.container2.context-advantages__container
		.context-advantages__text
			| Возможность привлекать трафик на всех этапах воронки продаж, таким образом расширяя границы в поиске потенциальных клиентов
		.context-advantages__text.context-advantages__text--right
			| Это довольно гибкий инструмент, где есть текстовые, графические (в том числе и gif), видеообъявления.
