.teacherland {
	background: #000;
	padding-top: 187px;
	@include dArea{
		padding-top: vwx(187);
	}

	&__container {}

	&__wrapper {
		background: #FFFFFF;
		border-radius: 60px;
		padding: 0 61px 0;
		@include dArea{
			border-radius: vwx(60);
			padding: 0 vwx(61) 0;
		}
	}

	&__title {
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: 500;
		font-size: 96px;
		line-height: 100%;
		text-align: center;
		color: #ffffff;
		margin-bottom: 86px;
		@include dArea{
			margin-bottom: vwx(86);
			font-size: vwx(96);
		}

	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__img-wrapper {
		display: block;
		position: relative;
		width: 100%;
		max-width: 677px;
		margin-right: 115px;
		@include dArea{
			max-width: vwx(677);
			margin-right: vwx(115);
		}

		&::before {
			content: '';
			display: block;
			padding-top: 877/677 * 100%;
		}

	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: center center;

		@media screen and (min-width:1400px) {
			//left: 27px;
		}
	}

	&__teacher-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: baseline;
		max-width: 535px;
		margin-top: 20px;
		@include dArea{
			max-width: vwx(535);
			margin-top: vwx(20);
		}
	}

	&__teacher-name {
		margin-bottom: 35px;
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: 500;
		font-size: 41px;
		line-height: 125.8%;
		@include dArea{
			margin-bottom: vwx(35);
			font-size: vwx(41);
		}
	}

	&__teacher-info {
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 125.8%;
		color: #000000;
		margin-bottom: 62px;
		@include dArea{
			font-size: vwx(24);
			margin-bottom: vwx(62);
			width:vwx(453) !important;
		}

		p + p {
			margin-top: 30px;
			@include dArea{
				margin-top: vwx(30);
			}

		}
	}

	&__teacher-link {
		position: relative;
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 30px;
		color: #FF4E00;
		text-decoration: underline;
		transition: 0.2s;
		@include dArea{
			font-size: vwx(24);
			line-height: vwx(30);
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.teacherland--brand {
    padding-top: 135px;
    padding-bottom: 245px;
	@include dArea{
		padding-top: vwx(135);
		padding-bottom: vwx(245);
	}
	.teacherland__wrapper {
		background: #000;
	}

	.teacherland__title {
		color: #fff;
	}

	.teacherland__teacher-wrapper {
		margin-top: 50px;
		@include dArea{
			margin-top: vwx(50);
		}
	}

	.teacherland__teacher-name {
		color: #fff;

	}

	.teacherland__teacher-info {
		color: #fff;
	}

	.teacherland__img {
		top: 119px;
		@include dArea{
			top: vwx(119);
		}

		&-wrapper {
			max-width: 584px;
			margin-right: 145px;
			margin-left: 130px;
			@include dArea{
				max-width: vwx(584);
				margin-right: vwx(145);
				margin-left: vwx(130);
			}

			&::before {
				content: '';
				display: block;
				padding-top: 753/662 * 100%;
			}
		}
	}
}

.teacherland__content-reverse {
	flex-direction: row-reverse;

	.teacherland__img-wrapper {
		margin-right: 0;
		margin-left: 187px;
		@include dArea{
			margin-left: vwx(187);
		}
	}

	.teacherland__img {
		top: 120px;
		left: -145px;
		@include dArea{
			top: vwx(120);
			left: vwx(-145);
		}
	}
}

.teacherland--motion {
	padding-bottom: 216px;
	@include dArea{
		padding-bottom: vwx(216);
	}
}

.teacherland--smm-strat {
	.teacherland__wrapper {
		overflow: hidden;

		@media screen and (max-width: 1024px) {
			margin: 0;
		}
	}

	.teacherland__img-wrapper {
		@media screen and (max-width: 1024px) {
			width: calc(100% + 16vw);
			max-width: 1100px;
			margin-left: 0;

			&::before {
				padding-top: 85%;
			}
		}
	}
}

.teacherland--target {
	.teacherland__wrapper {
		overflow: hidden;

		@media screen and (max-width: 1024px) {
			margin: 0;
		}
	}

	.teacherland__img-wrapper {
		@media screen and (max-width: 1024px) {
			width: calc(100% + 16vw);
			max-width: 1100px;
			margin-left: 0;

			&::before {
				padding-top: 125%;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.teacherland--smm-strat {
		padding-bottom: 226px;

		.teacherland__teacher-wrapper {
			padding-top: 45px;
			padding-bottom: 40px;
		}

		.teacherland__teacher-info {
			min-width: 100%;
			width: 453px;
		}
	}
}

@media screen and (min-width: 1025px) {
	.teacherland--target {
		padding-top: 93px;
		padding-bottom: 187px;

		.teacherland__teacher-wrapper {
			padding-top: 73px;
			padding-bottom: 40px;
		}

		.teacherland__teacher-info {
			min-width: 100%;
			width: 453px;
		}
	}

	.teacherland--complex .teacherland__teacher-wrapper {
		padding-top: 0px;
		padding-bottom: 55px;
	}

	.teacherland--complex.teacherland--target .teacherland__teacher-info {
		min-width: 100%;
		width: 353px;
	}
}

.content-reverse {
	flex-direction: row-reverse;

	.teacherland__img-wrapper {
		margin-right: 166px;
		margin-left: 14px;
		@include dArea{
			margin-right: vwx(166);
			margin-left: vwx(14);
		}

		@media (max-width: 1400px) {
			margin-right: 0px;
		}
	}

	.teacherland__teacher-wrapper {
		margin-top: -81px;
		@include dArea{
			margin-top: vwx(-81);
		}
	}
}

.teacherland__wrapper_pt0 {
	padding-top: 0;
}

.teacherland__wrapper_mb {
	margin-bottom: 59px;
	@include dArea{
		margin-bottom: vwx(59);
	}

	@media (max-width: 1024px) {
		margin-bottom: vw(24);
	}
}

.teacherland__express-smm {
	padding-bottom: 179px;
	@include dArea{
		padding-bottom: vwx(179);
	}

	.teacherland__teacher-wrapper {
		@media screen and (min-width: 1025px) {
			padding-bottom: 187px;
		}
	}

	.teacherland__wrapper {
		overflow: hidden;
	}

	.content-reverse {
		.teacherland__teacher-wrapper {
			@media screen and (min-width: 1025px) {
				max-width: 450px;
				margin-top: 0;
				padding-bottom: 33px;
			}
		}

		.teacherland__img-wrapper {
			@media screen and (max-width: 1024px) {
				width: calc(100% + 16vw);
				max-width: 1100px;
				margin-left: 0;

				&::before {
					padding-top: 100%;
				}
			}

			@media screen and (min-width: 1025px) {
				margin-right: 49px;
				margin-left: 131px;
			}
		}
	}
}

.teacherland__title_mob {
	display: none;
}

.context-teacher {
	padding-bottom: 180px;
	padding-top: 193px;
	@include dArea{
		padding-bottom: vwx(180);
		padding-top: vwx(193);
	}

	@media (max-width: 1024px) {
		padding-bottom: vw(130);
	}

	.teacherland__wrapper {
		padding-bottom: 113px;
		padding-top: 113px;
		@include dArea{
			padding-bottom: vwx(113);
			padding-top: vwx(113);
		}
		@media (max-width: 1024px) {
			padding-bottom: vw(0);
			padding-top: vw(0);
			border-bottom-left-radius: 24px;
			border-bottom-right-radius: 24px;
		}
	}
	.teacherland__teacher-wrapper {
		margin-top: -23px;
		max-width: 488px;
		@include dArea{
			margin-top: vwx(-23);
			max-width: vwx(488);
		}
	}
	.teacherland__title {
		margin-bottom: 106px;
		@include dArea{
			margin-bottom: vwx(106);
		}
		@media (max-width: 1024px) {
			margin-bottom: vw(62);
		}
	}
	.teacherland__img-wrapper {
		max-width: 632px;
		margin-right: 88px;
		margin-left: 73px;
		border-radius: 24px;
		overflow: hidden;
		@include dArea{
			max-width: vwx(632);
			margin-right: vwx(88);
			margin-left: vwx(73);
			border-radius: vwx(24);
		}

		@media (max-width: 1200px) {
			margin-right: 44px;
			margin-left: 0px;
		}
		@media (max-width: 1024px) {
			margin: 0 vw(-20);
			width: vw(321.5);
			height: auto;
			max-width: vw(321.5);
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
		img {
			top: 1px;
			@media (max-width: 1024px) {
				border-bottom-left-radius: 24px;
				border-bottom-right-radius: 24px;
				left: -30px;
				width: 115%;
    			height: 125%;
			}
		}
		&::before {
			content: '';
			display: block;
			padding-top: 107.379%;
		}
	}
	.teacherland__img {
		left: 0;
	}
	.teacherland__teacher-link {
		//margin-bottom: vw(46);
	}
}