.teacher {
	background: #000;
	padding-top: 187px;

	&__container {}

	&__wrapper {
		background: #FFFFFF;
		border-radius: 60px;
		padding: 0 61px;
		padding-bottom: 0;
		padding-top: 88px;
	}

	&__title {
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: 500;
		font-size: 96px;
		line-height: 100%;
		text-align: center;
		color: #000000;
		margin-bottom: 14px;

	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__img-wrapper {
		display: block;
		position: relative;
		width: 100%;
		max-width: 677px;
		margin-right: 115px;

		&::before {
			content: '';
			display: block;
			padding-top: 877/677 * 100%;
		}

	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: center center;

		@media screen and (min-width:1400px) {
			left: 27px;
		}

	}

	&__teacher-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: baseline;
		max-width: 450px;
		margin-top: -70px;
	}

	&__teacher-name {
		margin-bottom: 32px;
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: 500;
		font-size: 41px;
		line-height: 125.8%;
	}

	&__teacher-info {
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 125.8%;
		color: #000000;
		margin-bottom: 82px;
	}

	&__teacher-link {
		position: relative;
		font-family: ALS Hauss;
		font-style: normal;
		font-weight: normal;
		font-size: 41px;
		line-height: 125.8%;
		color: #FF4E00;
		transition: 0.2s;

		&::before {
			content: '';
			position: absolute;
			height: 3px;
			bottom: 5px;
			left: 0;
			right: 0;
			background-color: #FF4E00;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.teacher--brand {
	.teacher__wrapper {
		background: #000;
	}
	.teacher__title{
		color: #fff;
	}
	.teacher__teacher-wrapper {
		margin-top: 62px;
	}
	.teacher__teacher-name {
		color: #fff;

	}
	.teacher__teacher-info {
		color: #fff;
	}
	.teacher__img {
		left: 151px;
		top: 119px;
		&-wrapper {
			max-width: 662px;
			margin-right: 197px;
			&::before {
				content: '';
				display: block;
				padding-top: 753/662 * 100%;
			}
		}
	}
}

.teacher__content-reverse {
	flex-direction: row-reverse;
	.teacher__img-wrapper {
		margin-right: 0;
		margin-left: 187px;
	}
	.teacher__img {
		top: 120px;
    	left: -145px;
	}
}
.teacher--motion {
	padding-bottom: 216px;
}

@media screen and (min-width: 1025px){
	.teacher--smm-strat {
		padding-bottom: 226px;
		.teacher__teacher-wrapper {
			padding-top: 189px;
			padding-bottom: 40px;
		}
		.teacher__teacher-info {
			min-width: 100%;
			width: 453px;
		}
	}
}

@media screen and (min-width: 1025px){
	.teacher--target {
		padding-top: 93px;
		padding-bottom: 187px;

		.teacher__teacher-wrapper {
			padding-top: 73px;
			padding-bottom: 40px;
		}
		.teacher__teacher-info {
			min-width: 100%;
			width: 453px;
		}
	}
}

.content-reverse {
	flex-direction: row-reverse;
	.teacher__img-wrapper {
		margin-right: 166px;
		margin-left: 14px;
		@media (max-width: 1400px) {
			margin-right: 0px;
		}
	}
	.teacher__teacher-wrapper {
		margin-top: -81px;
	}
}
.teacher__wrapper_pt0 {
	padding-top: 0;
}
.teacher__wrapper_mb {
	margin-bottom: 59px;
	@media (max-width: 1024px) {
		margin-bottom: vw(24);
	}
}

.teacher__express-smm {
	padding-bottom: 179px;
}
.teacher__title_mob {
	display: none;
}

.context-teacher {
	padding-bottom: 180px;

	.teacher__wrapper {
		padding-bottom: 113px;
		@media (max-width: 1024px) {
			padding-bottom: vw(0);
			border-bottom-left-radius: 24px;
			border-bottom-right-radius: 24px;
		}
	}
	.teacher__teacher-wrapper {
		margin-top: -23px;
	}
	.teacher__title {
		margin-bottom: 106px;
		@media (max-width: 1024px) {
			margin-bottom: vw(62);
		}
	}
	.teacher__img-wrapper {
		max-width: 632px;
		margin-right: 88px;
		margin-left: 73px;
		@media (max-width: 1200px) {
			margin-right: 44px;
			margin-left: 0px;
		}
		@media (max-width: 1024px) {
			margin: 0 vw(-20);
			width: vw(321.5);
			height: auto;
			max-width: vw(321.5);
		
		}
		img {
			@media (max-width: 1024px) {
				border-bottom-left-radius: 24px;
				border-bottom-right-radius: 24px;
			}
		}
		&::before {
			content: '';
			display: block;
			padding-top: 320/322 * 100%;
		}
	}
	.teacher__img {
		left: 0;
	}
	.teacher__teacher-link {
		margin-bottom: vw(46);
	}
}