@media (max-width: 1500px) {
	.brand-is {
        &__title {
            font-size: 76px;
            line-height: 130%;
        }
        
        &__inner-title {
            font-size: 36px;
            margin-bottom: 20px;
        }
        &__inner-desc {
            font-size: 24px;
            line-height: 125%;
        }
    }
}
@media (max-width: 1350px) {
	.brand-is {
        &__inner-title {
            font-size: 28px;
            margin-bottom: 20px;
        }
        &__inner-desc {
            font-size: 22px;
            line-height: 125%;
        }
        &__inner {
            &-xl {
                padding: 58px 55px 58px;
                width: 1034/1571 * 100%;
                border-radius: 32px;
                margin-right: 40px;
            }
            &-md {
                padding: 80px 88px 95px;
                width: 766/1571 * 100%;
                &:not(:last-child) {
                    margin-right: 40px;
                }
            }
            &-sm {
                padding: 58px 37px 58px;
                width: 497/1571 * 100%;
            }
        }
    }
}
@media (max-width:375px) {
    .brand-is {
        &__container {
            max-width: calc(100% - 27px * 2);
        }
        &__row {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &:first-child {
                margin-bottom: 20px;
            }
        }
        &__title {
            font-size: 36px;
            line-height: 130%;
        }
        &__inner-title {
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 117%;
        }
        &__inner-desc {
            font-size: 18px;
            line-height: 130%;
        }
        &__inner {
            border-radius: 32px;
            &-xl {
                padding: 63px 53px 154px;
                width: 100%;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            &-md {
                padding: 70px 53px 70px;
                width: 100%;
                &:not(:last-child) {
                    margin-right: 0px;
                    margin-bottom: 20px;
                }
                &:last-child {
                    padding-bottom: 101px;
                }
            }
            &-sm {
                padding: 69px 53px 79px;
                width: 100%;
            }
        }
    }
}