.brand-need {
	position: relative;
	overflow: hidden;
	padding-top: 213px;
	padding-bottom: 64px;
	font-family: ALS Hauss, sans-serif;
	z-index: 1;
    background: #000;
	@include dArea{
		padding-top: vwx(213);
		padding-bottom: vwx(64);
	}
	&__container {
		color: #fff;
		z-index: 3;
		position: relative;
	}

	&__title {
		max-width: 1100px;
        margin: 0 auto;
		margin-bottom: 222px;
		color: #fff;
		font-size: 55px;
		line-height: 100%;
		font-weight: 400;
		z-index: 3;
        text-align: center;
		@include dArea{
			max-width: vwx(1100);
			margin-bottom: vwx(222);
			font-size: vwx(55);
		}
		&-last {
			margin-bottom: 0;
		}
		span {
			display: block;
		}
	}


	&__content {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 155px 35px 168px;
		border-radius: 80px;
		background: #181725;
		margin-bottom: 205px;
		@include dArea{
			padding: vwx(155) vwx(35) vwx(168);
			border-radius: vwx(80);
			margin-bottom: vwx(205);
		}
	}

	/*495
	17*/
	&__inner {
		width: 1376px;
		@include dArea{
			width: vwx(1376);
		}
	}

	&__decor {
		position: absolute;
		top: 0;
		left: 50%;
		display: flex;
		align-items: center;
		margin-top: -4px;
		margin-left: 18px;
		padding: 39px 76px;
		transform: rotate(-10.51deg) translate(-50%, -75%);
		text-align: center;
		color: #FFFFFF;
		/* or 48px */
		background: #5B6CFF;
		font-size: 48px;
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		@include dArea{
			margin-top: vwx(-4);
			margin-left: vwx(18);
			font-size: vwx(48);
			padding: vwx(39) vwx(76);
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin-top: 6px;
		margin-bottom: -54px;
		@include dArea{
			margin-top: vwx(6);
			margin-bottom: vwx(-54);
		}
	}

	&__card {
		width: 415px;
		margin-bottom: 102px;
		@include dArea{
			width: vwx(415);
			margin-bottom: vwx(102);
		}
		&:nth-child(1) {
			.brand-need__card-img  {
				margin-top: -50px;
				@include dArea{
					margin-top: vwx(-50);
				}
			}
		}
		&:nth-child(3) {
			.brand-need__card-desc  {
				max-width: 330px;
				@include dArea{
					max-width: vwx(330);
				}
			}
		}
	}

	&__card-img {
		height: 353px;
		@include dArea{
			height: vwx(353);
		}
		img {
			width: auto;
			height: auto;
			max-height: 100%;
			object-fit: contain;
			object-position: center center;
		}
		
	}

	&__card-title {
		margin-top: 48px;
		font-size: 36px;
		font-weight: 500;
		font-style: normal;
		line-height: 125.8%;
		max-width: 340px;
		@include dArea{
			margin-top: vwx(48);
			font-size: vwx(36);
			max-width: vwx(340);
		}
        &-xl {
            font-size: 41px;
			@include dArea{
				font-size: vwx(41);
			}
        }
	}

	&__card-desc {
        max-width: 380px;
		margin-top: 35px;
		font-size: 24px;
		font-weight: 350;
		font-style: normal;
		line-height: 125.8%;
		@include dArea{
			max-width: vwx(380);
			margin-top: vwx(35);
			font-size: vwx(24);
		}
	}
}