.land-top--brand{
  .land-top__right{
    z-index: 1;
  }
  .land-top__title-decor{
    right: -140px;
    top: -130px;
    @include dArea{
      right: vwd(-140);
      top: vwd(-130);
    }
    @include mMax{
      right: vw(-80);
      top: vw(-25);
    }
  }
  .land-top__bg{
    position: absolute;
    right: -300px;
    top: -245px;
    display: block;
    width: 851px;
    @include dArea{
      width: vwd(851);
      top: vwd(-245);
      right: vwd(-300);
    }
    @include mMax{
      width: 100%;
      position: static;
    }
  }
}