footer.footer
  .footer-wrapper
    .footer-half.footer-half__left
      .footer-text.footer-text__top
        | Москва, Россия

      a(href="#").footer-text.footer-text__bottom.footer-link
        | Политика обработки персональных данных

    .footer-half.footer-half__right
      a(href="mailto:info@smmagnat.ru").footer-text.footer-text__top.footer-link
        | info@smmagnat.ru

      a(href="https://www.instagram.com/" target="_blank" rel="nofollow").footer-text.footer-text__bottom.footer-link
        | Instagram