header.header
  .header-wrapper
    a(href="/").header-logo
      img(src="images/tutor/logo.png", alt="Логотип").header-logo__img
    
    nav.header-nav.header__nav
      a(href="#").header-nav__item
        | F. A. Q.
      a(href="#").header-nav__item
        | Для кого
      a(href="#").header-nav__item
        | Программа
      a(href="#").header-nav__item
        | Стоимость

    .header-contants
      a(href="mailto:info@smmagnat.ru").header-contants__link
        | info@smmagnat.ru
      span.header-contants__text
        | По всем вопросам