//- section.hero
.hero
  .hero-wrapper
    .hero-heading
      //- h1.hero-heading__title
      //-   | smmagnat tutorship
      //- .hero-heading__bg
      img(src="images/tutor/hero-heading__temp.png", alt="Smmagnat tutorship NEW").hero-heading__item
    
    .hero-description
      span.hero-description__text.hero-description__text--1
        span.hero-description__text--bold
          | Наставничество 
        | по запускам

      span.hero-description__text.hero-description__text--2
        | от создателя (т. е. меня )) онлайн-продуктов,

      span.hero-description__text.hero-description__text--3
        | которые купили более 
        span.hero-description__text--bold
          |10 000  
        |человек          

