header.ts-header
	.ts-header__container
		.ts-header__flex
			.ts-header__left
				a.ts-header__logo(href="")
					img(src="images/tutor/header-logo.png" alt="")
				.ts-header__menu
					.ts-header__menu-item
						a(href="#faq") F. A. Q.
					.ts-header__menu-item
						a(href="#who") Для кого
					.ts-header__menu-item
						a(href="#program") Программа
					.ts-header__menu-item
						a(href="#price") Стоимость
			.ts-header__right
				.ts-header__info
					div
						a(href="mailto:info@smmagnat.ru") info@smmagnat.ru
					div
						span По всем вопросам



main.main2.ts-main
	section.ts-hero
		.ts-hero__bg
		.ts-hero__title
			h1 <span>smmagnat</span> <span>&nbsp;</span> <span>tutorship</span>
				img(src="images/tutor/label-new.png" alt="")
		.ts-hero__text
			span <strong>Наставничество</strong> по запускам <br>от создателя (т. е. меня )) онлайн-продуктов, которые купили более <strong>10&nbsp;000</strong> человек
		.ts-hero__bottom
			.ts-hero__bottom-title Мы с командой не раз доказали свою эффективность, помогая <span>разъебать</span> громко заявить <br>о себе сотням брендов.
			.ts-hero__bottom-text Настало время ворваться в инфобизнес и показать, как делаются настоящие результаты.

	section.ts-faq#faq
		.ts-faq__content
			.ts-faq__title
				img(src="images/tutor/faq.svg" alt="faq")
			.ts-faq__items
				.ts-faq__item
					.ts-faq__item-title Что тебе надо знать <br>об инфобизнесе?
					.ts-faq__item-text Всё просто. Это отличная возможность перестать искать себя, потратить немного времени, чтобы разобраться в профессии и наконец-то начать жить той жизнью, которой ты хочешь.
				.ts-faq__item
					.ts-faq__item-title Насколько будут <br>востребованы твои услуги?
					.ts-faq__item-text Это будет зависеть только от тебя. Каждый день рынок штампует сотни инфопродюсеров, которые не дают результата своим клиентам и едва сводят концы с концами.
				.ts-faq__item
					.ts-faq__item-title Сколько сможешь <br>зарабатывать именно ты?
					.ts-faq__item-text Границ нет. И если цифра в 1 000 000 рублей пока кажется тебе недосягаемой, то, поверь, один грамотный запуск может принести сотни миллионов рублей.
				.ts-faq__item
					.ts-faq__item-title Получится ли у тебя с первого раза и есть ли гарантии?
					.ts-faq__item-text Если у тебя нет самодисциплины, способности и готовности обучаться и действовать, то лучше не начинать. Но если ты действительно хочешь сделать результат, то мы дадим тебе все возможности.
		.ts-faq__par.ts-faq__par-1.parallax_scroll
			img(src="images/tutor/paral1.png" alt="")
		.ts-faq__par.ts-faq__par-2.parallax_scroll2
			img(src="images/tutor/paral2.png" alt="")

	section.ts-white
		.ts-star
			.ts-star__img
				img(src="images/tutor/star.png" alt="")
			.ts-star__content
				.ts-star__content-title Тебе нужно просто выполнить набор пошаговых действий.
				.ts-star__content-text Это не магия, <span>smmagnat tutorship</span> — это отработанная система запуска, с которой ты точно получишь результат. Просто делай!
			.ts-star__bottom
				img(src="images/tutor/star2.png" alt="")

		.ts-who#who
			.ts-who__title Кому будет полезна эта программа
			.ts-who__flex
				.ts-who__item
					.ts-who__item-img
						img(src="images/tutor/who-1.png" alt="")
					.ts-who__item-text Экспертам и спикерам, желающие монетизировать свои знания в формате онлайн.
				.ts-who__item
					.ts-who__item-img
						img(src="images/tutor/who-2.png" alt="")
					.ts-who__item-text Маркетологам, желающим расширить сферы своей деятельности и компетенции, чтобы увеличить доход.
				.ts-who__item
					.ts-who__item-img
						img(src="images/tutor/who-3.png" alt="")
					.ts-who__item-text Владельцам и продюсерам действующих онлайн-школ, желающим улучшить свои показатели.
				.ts-who__item
					.ts-who__item-img
						img(src="images/tutor/who-4.png" alt="")
					.ts-who__item-text Фрилансерам с опытом удалённой работы, желающим освоить новую профессию и монетизировать новые навыки.
				.ts-who__item
					.ts-who__item-img
						img(src="images/tutor/who-5.png" alt="")
					.ts-who__item-text SMM-специалистам, желающим увеличить свою экспертность, повысить доходность и перейти к запускам.
			.ts-who__bottom
				img(src="images/tutor/star2.png" alt="")

		.ts-yes
			.ts-yes__title Почему вы можете нам доверять?
			.ts-yes__flex
				.ts-yes__left
					.ts-yes__number >100
					.ts-yes__text Мы реализовали сотни успешных кейсов по продвижению товаров и услуг наших клиентов.
				.ts-yes__right
					.ts-yes__number 10&nbsp;000
					.ts-yes__text Мы создали лучшие обучающие материалы во всех отраслях интернет маркетинга и выпустили более 10&nbsp;000 успешных специалистов.
			.ts-yes__bottom smmagnat в 2017 году сделал кейс на своём блоге не показывая лица и кейсов на <span>250 000 $ за 7 месяцев.</span><br>А сейчас есть и лицо и кейсы <img src="images/tutor/emoji.png" alt="">.<br><br>Ну как тут не довериться? ;)


	section.ts-programm#program
		.ts-programm__title
			img(src="images/tutor/program.svg" alt="program")
		.ts-programm__content
			.ts-programm__items
				.ts-programm__items-title Обучение состоит <br>из десяти модулей
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 1
							| Вводный. Знакомство с группой и регламентом работы, ввод в инфобизнес
						.ts-programm__item-plus
					.ts-programm__item-text
						| — Разберёмся, как на самом деле работает успешный инфобизнес и что нужно делать, чтобы получить желаемый результат.<br>
						| — Оценим, на каком этапе каждый участник находится сейчас, обозначим точку «В» и наметим план её достижения.<br>
						| — Возьмём на себя обязательства по достижению своих целей.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 2
							| Позиционирование.	<br>Распаковка продукта / бренда /	личности эксперта / продюсера
						.ts-programm__item-plus
					.ts-programm__item-text
						| Задача этого модуля — понять, как максимально эффективно заявить о себе, подчеркнуть свою уникальность, показать опыт и раскрыть экспертность.<br>
						| — Стратегическая сессия по личному бренду.<br>
						| — Brand Wheel. Распаковка и составление карты личности.<br>
						| — Проработка ценностей, характеристики и преимуществ.<br>
						| — Разработка визуальной символики и атрибутики бренда.<br>
						| — Подготовка референсов и технических заданий.<br><br>
						| <span>В результате прохождения второго модуля ты получишь:</span>
						| — Понимание ценности себя и своего опыта.<br>
						| — Сможешь уверенно заявить о себе и своём продукте.<br>
						| — Избавишься от страхов, комплексов и синдрома самозванца.<br>
						| — Сформируешь свой уникальный стиль и позиционирование.<br>
						| — Получишь энергию для работы и самореализации в блоге.<br>
						| — Твоя аудитория начнёт узнавать и лучше понимать тебя.<br>
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 3
							| Разбор целевой аудитории продукта
						.ts-programm__item-plus
					.ts-programm__item-text
						| 90% запусков проваливаются по одной причине. Эксперт делает не то предложение, не той аудитории. Мы это исправим и выявим ЦА не при помощи фантазии, а с опорой на проверенные алгоритмы.<br>
						| — Стратегическая сессия по анализу и поиску целевой аудитории.<br>
						| — Технология выявления истинных и скрытых потребностей ЦА.<br>
						| — Выявление возражений, которые останавливают от покупки.<br>
						| — Анализ потенциального спроса на твоё предложение.<br>
						| — Составление портретов потенциальных покупателей.<br><br>
						| <span>В результате прохождения третьего модуля ты получишь</span><br>
						| — Понимание, кто будет покупать твой продукт с вероятностью 100%<br>
						| — Фундаментальные смыслы для разработки и запуска продукта.<br>
						| — Возможные возражения перед покупкой и способы их закрытия.<br>
						| — Обратную связь от потенциальных покупателей твоего продукта.<br>
						| — Универсальную методику, которая позволит сделать 30% от плана продаж всего за несколько дней.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 4
							| Продуктовая линейка и ценообразование
						.ts-programm__item-plus
					.ts-programm__item-text
						| Востребованным становится лишь тот продукт, который даёт реальный результат тем, кто его покупает. Эта сессия поможет тебе сделать твой продукт именно таким.<br>
						| — Стратегическая сессия по выстраиванию продуктовой линейки.<br>
						| — Формирование миссии и идеи продукта, донесение глобальных смыслов, идей и ценностей.<br>
						| — Осмысление важности. Как и почему продукт изменит жизнь потребителя.<br>
						| — Формирование продуктовой линейки и её стоимости.<br>
						| — Кураторы, контроль, домашние задания и обратная связь.<br>
						| — Построение системы обучения и мотивации учеников.<br><br>
						| <span>В результате прохождения четвертого модуля ты получишь</span><br>
						| — Понимание, как создать ценный, полезный продукт и повысить качество своих услуг.<br>
						| — Разработаешь линейку уникальных продуктов разной ценности и ценовой категории.<br>
						| — Узнаешь, что такое методология и научишься выстраивать свои продукты так, чтобы давать клиентам максимальный результат.<br>
						| — Поймёшь, как закрывать существующих учеников на повторные продажи.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 5
							| Предложение, от которого нельзя отказаться
						.ts-programm__item-plus
					.ts-programm__item-text
						| Этот блок поможет сформировать твоё торговое предложение так, чтобы отстроиться от конкурентов и забыть о навязанных продажах.<br>
						| — Стратегическая сессия по формированию уникального торгового предложения.<br>
						| — Анализ текущего восприятия продукта и постановка каскадной системы целей.<br>
						| — Формирование желаемого восприятия продукта для решения бизнес-задач.<br>
						| — Разработка оффера, его усиления и способов донесения до аудитории.<br><br>
						| <span>В результате прохождения пятого модуля ты получишь</span><br>
						| — Уникальное торговое предложение, которое поможет отстроиться от конкурентов и обеспечить продажи.<br>
						| — Формулу написания идеального оффера, его усиление и донесения до своей целевой аудитории.<br>
						| — Поймёшь, как довести клиента до покупки без навязывания продукта.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 6
							| Стратегия запуска и этапы прогрева клиентов
						.ts-programm__item-plus
					.ts-programm__item-text
						| Этот блок расскажет всё о контент-маркетинге. Ты поймёшь, как привлекать трафик, вовлекать новых подписчиков в свой контент и превращать их в покупателей своих продуктов.<br>
						| — Стратегическая сессия по контент-маркетингу.<br>
						| — Создание уникального продающего контента.<br>
						| — Разработка лид-магнитов и трипваеров.<br>
						| — Вовлечение и геймификация.<br>
						| — Работа со сторителлингом.<br><br>
						| <span>В результате прохождения шестого модуля ты получишь</span><br>
						| — Готовую контент-стратегию, которую можно адаптировать для любой социальной сети.<br>
						| — Поймёшь, как донести свою экспертность, продавать через посты и сторителлинг.<br>
						| — Узнаешь, как упаковать свой блог, чтобы он приносил прибыль без твоего активного участия.<br>
						| — Поймёшь, как вовлекать аудиторию и создавать ценность вокруг себя и своего продукта.<br>
						| — Узнаешь, как правильно использовать лид-магниты и трипваеры, чтобы получить максимальную лояльность клиентов.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 7
							| Воронка продаж
						.ts-programm__item-plus
					.ts-programm__item-text
						| Этот модуль поможет разобраться во всех возможных воронках продаж. От бесплатных вебинаров и марафонов, до продаж «в лоб» через мессенджеры, чат-боты, автоворонки и подписные листы.<br>
						| — Стратегическая сессия по выбору модели и разработке структуры воронки продаж.<br>
						| — Обзор существующих воронок продаж на примере реальных кейсов.<br>
						| — Разработка автоворонок, которые закрывают клиента без участия отдела продаж.<br>
						| — Выбор технических платформ для реализации выбранной модели / воронки продаж.<br><br>
						| <span>В результате прохождения седьмого модуля ты получишь</span><br>
						| — Работающие воронки продаж, которые подойдут для твоего продукта.<br>
						| — Поймёшь все этапы прогрева, который проходит клиент внутри воронки продаж и научишься их создавать.<br>
						| — Узнаешь всё о кросс-продажах внутри продуктовой воронки и поймёшь, как продавать ещё больше и ещё эффективнее.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 8
							| Трафик
						.ts-programm__item-plus
					.ts-programm__item-text
						| Этот модуль поможет понять, как эффективно освоить рекламный бюджет и не бояться вкладывать деньги в своё продвижение. <br>
						| — Стратегическая сессия по привлечению целевого трафика из сети.<br>
						| — Таргетированная реклама. Офферы, креативы, техническая часть.<br>
						| — Контекстная реклама.<br>
						| — Реклама в пабликах, у блогеров и лидеров мнений.<br>
						| — Окупаемость рекламного трафика и заработок на рекламе.<br><br>
						| <span>В результате прохождения восьмого модуля ты научишся</span><br>
						| — Выявлять рабочие рекламные связки и масштабировать их.<br>
						| — Поймёшь все этапы создания и запускаа эффективных рекламных кампаний.<br>
						| — Научишься эффективно осваивать большие рекламные бюджеты и зарабатывать на рекламе.<br>
						| — Перестанешь бояться вкладывать деньги в себя и продвижение своего продукта.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 9
							| Техническая реализация и операционка
						.ts-programm__item-plus
					.ts-programm__item-text
						| Это большой раздел, который поможет разобраться с тем, как автоматизировать инфобизнес, масштабироваться и поставить его на поток.<br>
						| — Стратегическая сессия по подбору команды и удаленному управлению проектом.<br>
						| — Обзор задачников, которые идеально подходят под нужды онлайн-школ.<br>
						| — Статистика, аудит запуска, полная аналитика для создания системы продаж и масштабирования продукта.<br>
						| — Обзор систем управления доступом и контентом для онлайн-школ.<br>
						| — Сервисы и конструкторы для создания посадочных страниц.<br>
						| — Построение отдела продаж.<br><br>
						| <span>В результате прохождения девятого модуля ты получишь</span><br>
						| — Полное понимание внутренних процессов запуска онлайн-школ.<br>
						| — Понимание, что входит в компетенции каждого члена команды.<br>
						| — Научишься быстро отличать настоящих профессионалов от любителей.<br>
						| — Определишься с тем, кто необходим для успешного старта, где найти этих людей и что нужно требовать от тех, кто работает с тобой в одной команде.
				.ts-programm__item
					.ts-programm__item-top
						.ts-programm__item-title
							span Модуль 10
							| Реализация стратегии и запуск продукта
						.ts-programm__item-plus
					.ts-programm__item-text
						| Дойдя до конца и выполнив все задания, ты гарантированно получишь результат в виде системы запусков, которая приносит тебе стабильный доход и удовольствие. Ты убедишься в том, что правильно настроенная система работы даёт результаты, которые всегда можно масштабировать.<br><br>
						| <span>В результате ты</span> построишь личный бренд через свою миссию, наладишь систему запусков, чтобы зарабатывать на своих продуктах больше, чем сейчас, оптимизируешь затраты, соберёшь команду профессионалов, которым можно доверять, выйдешь из операционки и сможешь заниматься любимым делом.
		.ts-programm__par.parallax_scroll
			img(src="images/tutor/paral3.png" alt="")

	section.ts-money
		.ts-money__content
			.ts-money__title
				img(src="images/tutor/money.svg" alt="money")
			.ts-money__text Мы за честность, открытость <br>и гарантию результата
			.ts-money__subtext Если ты выполнишь все домашние задания и рекомендации по запуску, но получишь отрицательный результат, мы полностью вернем стоимость обучения и проведём совместную работу над ошибками. <br><br>Запусти свой проект и получи необходимую базу для коммерческой деятельности по созданию онлайн-школ для сторонних экспертов.
		.ts-money__par.parallax_scroll2
			img(src="images/tutor/paral4.png" alt="")

	section.ts-format
		.ts-format__title
			img(src="images/tutor/format.svg" alt="format")
		.ts-format__text <span>Блять</span>, так не люблю эти блоки на сайтах, такая нудятина <img src="images/tutor/emoji2.png" alt="">, но вы должны понимать до конца за что платите
		.ts-format__flex
			.ts-format__item
				.ts-format__item-inner
					.ts-format__item-number 1
					.ts-format__item-text <span>Обучающая программа рассчитана на</span> <br> <span class="green">10 или 12 недель</span>
			.ts-format__item
				.ts-format__item-inner
					.ts-format__item-number 2
					.ts-format__item-text <span>Каждый модуль начинается со</span> <span class="green">стратегической сессии,</span> <span> на которой раскрывается вся суть блока</span>
			.ts-format__item
				.ts-format__item-inner
					.ts-format__item-number 3
					.ts-format__item-text <span>К каждому разделу открываются</span> <span class="green">текстовые и графические обучающие материалы</span> <span>с подробным описанием последовательности необходимых действий</span>
			.ts-format__item
				.ts-format__item-inner
					.ts-format__item-number 4
					.ts-format__item-text <span>После прохождения <br>каждого модуля участники курса выполняют</span> <span class="green">домашние задания,</span> <span>которые проверяются кураторами проекта</span>
			.ts-format__item
				.ts-format__item-inner
					.ts-format__item-number 5
					.ts-format__item-text <span>По окончанию каждого модуля</span> <span class="green">проводится мастер-майнд</span> <span>(Zoom конференция) с ответами на вопросы</span>
			.ts-format__item
				.ts-format__item-inner
					.ts-format__item-number 6
					.ts-format__item-text <span>Во время курса прохождения курса всем участникам доступен</span> <span class="green">чат с smmagnat,</span> <span>кураторами проекта и командой te</span>

	section.ts-price#price
		.ts-price__title
			img(src="images/tutor/price.svg" alt="price")
		.ts-price__flex
			.ts-price__item
				.ts-price__item-inner
					.ts-price__item-content
						.ts-price__item-top
							.ts-price__item-label ТЫ ПОЛУЧИШЬ
							.ts-price__item-text
								ul
									li 10 стратегических сессий по каждому этапу создания онлайн-школ от&nbsp;smmagnat
									li 30 обучающих уроков с подробными инструкциями и домашними заданиями
									li 10 встреч вопрос / ответ с smmagnat и&nbsp;кураторами проекта
									li Проверку домашних заданий и обратную&nbsp;связь
									li Общий чат участников для обмена опытом

							.ts-price__item-label БОНУСЫ
							.ts-price__item-text Тебя ждут специальные бонусные видео с приглашенными экспертами. Это специалисты, чьи советы и экспертиза помогут в достижении твоей цели.
							.ts-price__item-center
								img(src="images/tutor/cross.png" alt="")
						.ts-price__item-bottom
							.ts-price__item-label 10 недель
							.ts-price__item-text Длительность
							.ts-price__item-label 100 000
							.ts-price__item-text Стоимость участия
							.ts-price__item-under Возможна рассрочка
					a.ts-price__item-btn(href="") Оплатить
			.ts-price__item.ts-price__item--light
				.ts-price__item-inner
					.ts-price__item-content
						.ts-price__item-top
							.ts-price__item-label ТЫ ПОЛУЧИШЬ
							.ts-price__item-text
								ul
									li 10 стратегических сессий по каждому этапу создания онлайн-школ от&nbsp;smmagnat
									li 30 обучающих уроков с подробными инструкциями и домашними заданиями
									li 10 встреч вопрос / ответ с smmagnat и&nbsp;кураторами проекта
									li Проверку домашних заданий и обратную&nbsp;связь
									li Общий чат участников для обмена опытом

							.ts-price__item-label БОНУСЫ
							.ts-price__item-text Тебя ждут специальные бонусные видео с приглашенными экспертами. Это специалисты, чьи советы и экспертиза помогут в достижении твоей цели.
							.ts-price__item-center
								.ts-price__item-label ЕЩЁ БОНУСЫ
								.ts-price__item-text
									ul
										li Ужин с smmagnat в @sybarite.rest, одном из успешных кейсов @te.horeca от te
										li Курирование твоего запуска в рамках наставничества лично smmagnat
										li Аудит действующей стратегии, посадочных страниц и источников трафика
										li Аудит запуска, полная аналитика для создания системы продаж и масштабирование продукта
						.ts-price__item-bottom
							.ts-price__item-label 10 недель
							.ts-price__item-text Длительность
							.ts-price__item-label 100 000
							.ts-price__item-text Стоимость участия
							.ts-price__item-under Возможна рассрочка
					a.ts-price__item-btn(href="") Оплатить
