section.section-motylearn
	.container2
		h2.motylearn-title Чему вы научитесь <div class="only-desktop"></div> на&nbsp;курсе
	.container2--motylearn
		.motylearn-scroll#motylearn-pinContainer
			.motylearn-scroll-wrap#motylearn-scroll
				.motylearn-scroll-row
					.motylearn-item
						.motylearn-item-text Делать продающие видео для социальных сетей
						.motylearn-item-pic.motylearn-item-pic--pic-1
							img.motylearn-item-pic__img(src="img/landings/motion/motylearn/1.svg", alt="")
					.motylearn-item
						.motylearn-item-pic.motylearn-item-pic--pic-2
							img.motylearn-item-pic__img(src="img/landings/motion/motylearn/2.svg", alt="")
						.motylearn-item-text Освоите весь базовый функционал After Effects
					.motylearn-item
						.motylearn-item-text С помощью разных приёмов научитесь экономить время так, чтобы это не&nbsp;сказывалось на качестве
					.motylearn-item
						.motylearn-item-pic.motylearn-item-pic--pic-3
							img.motylearn-item-pic__img(src="img/landings/motion/motylearn/3.svg", alt="")
						.motylearn-item-text Работать с&nbsp;клиентами
					.motylearn-item
						.motylearn-item-pic.motylearn-item-pic--pic-4
							img.motylearn-item-pic__img(src="img/landings/motion/motylearn/4.svg", alt="")
						.motylearn-item-text Работать с&nbsp;текстом, цветом, композицией, изображениями и видео
					.motylearn-item
						.motylearn-item-text Теории о том как влиять на&nbsp;конечного потребителя
						.motylearn-item-pic.motylearn-item-pic--pic-5
							img.motylearn-item-pic__img(src="img/landings/motion/motylearn/5.svg", alt="")

