section.motion-need
    .container2.motion-need__container
        .motion-need__content
            .motion-need__decor Для&nbsp;кого?
            .motion-need__inner
                .motion-need__row
                    .motion-need__card
                        .motion-need__card-img
                            img(src="img/landings/motion/motion-need-1.svg")
                        .motion-need__card-title Всех, кто хочет освоить <br/> моушн-дизайн,
                    .motion-need__card
                        .motion-need__card-img
                            img(src="img/landings/motion/motion-need-2.svg")
                        .motion-need__card-title Новичков  в&nbsp;<div class="only-desktop"></div>дизайне
                    .motion-need__card
                        .motion-need__card-img
                            img(src="img/landings/motion/motion-need-3.svg")
                        .motion-need__card-title Дизайнеров
                    .motion-need__card
                        .motion-need__card-img
                            img(src="img/landings/motion/motion-need-4.svg")
                        .motion-need__card-title Motion-дизайнеров