section.copywriting-work.copywriting-work--motion
	.copywriting-work__container.container2
		.copywriting-work__title Как проходит курс
	.copywriting-work__container.copywriting-work__container2.container2
		.copywriting-work__content
			.copywriting-work__row
				.copywriting-work__card-md.copywriting-work__card-md-one
					.copywriting-work__card-text(style="margin-bottom:0px;") Текстовые и видео-уроки, <br> в вашем личном кабинете <br> на нашей IT-платформе
				.copywriting-work__card-md.copywriting-work__card-md-two
					.copywriting-work__card-text Общение с <br>  преподавателем в чате <br>  в Telegram
				.copywriting-work__card-xl
					.copywriting-work__card-img-wrapper
						img.copywriting-work__card-img(src="img/check.svg")
					.copywriting-work__text-wrapper

						.copywriting-work__card-desc.copywriting-work__card-desc--motion Вы можете задавать в чат любые вопросы, на каждый будет дан ответ. Вопросы могут касаться как уроков, так и ситуаций с клиентом, сотрудниками и так далее. Так же все видео, домашние работы присылаются в чат и разбираются преподователем.
				.copywriting-work__card-md.copywriting-work__card-md-bottom
					.copywriting-work__card-text 1 месяц
				.copywriting-work__card-md.copywriting-work__card-md-bottom
					.copywriting-work__card-text 20 уроков