section.motion-info
    .container2.motion-info__container
        .motion-info__row
            .motion-info__card.motion-info__card_text
                .motion-info__card-subtitle 20% теории, 80% практики
                .motion-info__card-title Это практический курс построенный по золотому правилу Паретто
            .motion-info__card
                .motion-info__card-img-wrapper.motion-info__card-img-wrapper-1 
                    img.motion-info__card-img(src='img/motion-info1.svg')
                .motion-info__card-content.motion-info__card-content_mod
                    .motion-info__card-text Вам не нужно уметь&nbsp;рисовать, а также быть дизайнером
        .motion-info__row
            .motion-info__card.motion-info__card_change
                .motion-info__card-img-wrapper.motion-info__card-img-wrapper-2 
                    img.motion-info__card-img(src='img/motion-info2.svg')
                .motion-info__card-content
                    .motion-info__card-text Не нужно уметь владеть фотошопом
            .motion-info__card
                .motion-info__card-img-wrapper.motion-info__card-img-wrapper-3 
                    img.motion-info__card-img(src='img/motion-info3.svg')
                .motion-info__card-content
                    .motion-info__card-text Всё обучение проходит в программе After Effects
                    .motion-info__card-text-info
                        img(src="img/info.svg") 
                        span Данная программа только для ПК