section.motion-banner2
	img.motion-banner2__line1(src="img/decorativeLine2.svg")
	img.motion-banner2__line2(src="img/decorativeLine1.svg")
	.container2.motion-banner2__container
		.motion-banner2__title Самый эффективный способ привлечения внимания аудитории
		.motion-banner2__content 
			.motion-banner2__card
				.motion-banner2__img-wrapper
					img.motion-banner2__img(src="img/motion-banner2-photo1.jpg")
				.motion-banner2__img-desc Без анимации
			.motion-banner2__card
				.motion-banner2__img-wrapper
					video.motion-banner2__video(src='images/motion.mp4', poster='img/motion-banner2-photo1.jpg', muted)
					img.motion-banner2__img-play(src="img/play-video.svg")
				.motion-banner2__img-desc С анимацией
			img.motion-banner2__content-decor(src="img/photo-decor.svg")
		.motion-banner2__subtitle Наглядный пример преимущества видео перед статичным изображением