section.motion-components
    .container2.motion-components__container
        .motion-components__content
            .motion-components__row
                .motion-components__column
                    .motion-components__card-md
                        .motion-components__card-img-wrapper
                            img.motion-components__card-img(src="img/motion-component.svg")
                    .motion-components__card-md
                        .motion-components__section-title Рекламный motion дизайн это
                .motion-components__column
                    .motion-components__card-sm
                        .motion-components__card-title Выгодно
                        .motion-components__card-desc Более высокие конверсии у пользователей
                    .motion-components__card-sm
                        .motion-components__card-title То, что запомнят
                        .motion-components__card-desc Высокая запоминаемость и вовлеченность
                    .motion-components__card-sm
                        .motion-components__card-title Ёмко
                        .motion-components__card-desc Возможность уместить больше триггеров, смыслов и УТП, нежели в статичную афишу