section.motion-components
    .container2.motion-components__container
        .motion-components__content
            .motion-components__row
                .motion-components__column
                    .motion-components__card-md
                        .motion-components__card-img-wrapper
                            img.motion-components__card-img(src="img/motion-component.svg")
                    .motion-components__card-md
                        .motion-components__section-title Рекламный motion дизайн это
                .motion-components__column
                    .motion-components__card-sm
                        .motion-components__card-title Экспертность
                        .motion-components__card-desc Если вы доказали свою экспертность в одном вопросе,&nbsp;то вас будут спрашивать и по другим вопросам. 
                    .motion-components__card-sm
                        .motion-components__card-title Повышенное доверие
                        .motion-components__card-desc К вам и вашему продутку за счёт вашей прозрачности. Люди идут к людям.
                    .motion-components__card-sm
                        .motion-components__card-title Короткий путь
                        .motion-components__card-desc Лояльность в разы дешевле и быстрее нежели делать все то же самое от лица компании. 