section.section-motion-examples
    .container2
        h2.moexam-title Примеры работ учеников
        .moexam-items-wrap
            .moexam-items
                a.moexam-item(href="/images/452-old.mp4" data-fancybox="moexam")
                    img.moexam-item-preview(src="", alt="")
                a.moexam-item(href="/images/452-old.mp4" data-fancybox="moexam")
                    img.moexam-item-preview(src="", alt="")
                a.moexam-item(href="/images/452-old.mp4" data-fancybox="moexam")
                    img.moexam-item-preview(src="", alt="")
                a.moexam-item(href="/images/452-old.mp4" data-fancybox="moexam")
                    img.moexam-item-preview(src="", alt="")
                a.moexam-item(href="/images/452-old.mp4" data-fancybox="moexam")
                    img.moexam-item-preview(src="", alt="")