section.copywriting-programm.copywriting-programm--motion
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Програма курса
				.cwprog-desc
					.cwprog-desc-pic
						img(src="img/landings/copywriting/prog/Document.svg")
					span.cwprog-desc-text — курс содержит домашнее задание
				.cwprog-cards
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Знакомство с&nbsp;преподавателем
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
							.cwprog-card-left__bottom
								.cwprog-card-part-name Урок 0

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt О преподавателе
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Востребованность в маркетинге
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Виды motion-дизайна
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Мобильные приложения VS After Effects
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сколько стоят motion-ролики?
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как продавать себя дороже?
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Навыки, которые стоит развивать

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
							a.btn.btn--v2.btn--green.cwprog-card-btn(href="") Получить бесплатно


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Простая анимация
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt 2D анимация
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Теория
										.cwprog-titem-sub__txt Знакомство с After Effects
										.cwprog-titem-sub__txt Простая анимация
										.cwprog-titem-sub__txt Анимация сложнее
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Шейповые переходы
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анимация текста

							.cwprog-pic
								img.cwprog-pic__img(src="img/landings/copywriting/prog/motion/1.jpg", alt="")



							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Теоретический блок
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt О цвете
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как искать клиентов
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt О звуке
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Формула успешного видео


							.cwprog-pic
								img.cwprog-pic__img(src="img/landings/copywriting/prog/motion/2.jpg", alt="")

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Анимация сложнее
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 3

						.cwprog-card-right
							.cwprog-text

								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Glitch-анимация
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Стилизация
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анимация переходов
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Секрет сложных заставок
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Покадровая анимация
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Элементы персонажной анимации


							.cwprog-pic
								img.cwprog-pic__img(src="img/landings/copywriting/prog/motion/3.jpg", alt="")

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Выпускная работа
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 4

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item.cwprog-text-item--alone
									.cwprog-titem-name
										.cwprog-titem-name__txt Создаём своё первое полноценное видео


							.cwprog-pic
								img.cwprog-pic__img(src="img/landings/copywriting/prog/motion/4.jpg", alt="")

							.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания