section.section-motion-examples
	img.moexam-examples-bg(src="img/landings/motion/vids/bg.svg", alt="")
	img.moexam-examples-bg-2(src="img/landings/motion/vids/bg-2.svg", alt="")
	.container2
		h2.moexam-title Примеры работ&nbsp;учеников
	.moexam-container2
		.moexam-items-wrap#moexam-pinContainer
			.moexam-items-wrap-2#moexam-scroll
				.moexam-items
					a.moexam-item(href="images/cases/case-1.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/1.jpg", alt="")
					a.moexam-item(href="images/cases/case-2.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/2.jpg", alt="")
						//- <iframe src="https://player.vimeo.com/video/529753809?byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					a.moexam-item(href="images/cases/case-3.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/3.jpg", alt="")
					a.moexam-item(href="images/cases/case-4.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/4.jpg", alt="")
					a.moexam-item(href="images/cases/case-5.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/5.jpg", alt="")
					a.moexam-item(href="images/cases/case-6.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/6.jpg", alt="")
					a.moexam-item(href="images/cases/case-7.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/7.jpg", alt="")
					a.moexam-item(href="images/cases/case-8.mp4" data-fancybox="moexam")
						img.moexam-item-preview(src="img/landings/motion/vids/8.jpg", alt="")


