@media (max-width: 1500px) {
    .express-smm-features {
        &__row {
            display: flex;
            align-items: center;
            &:nth-child(1) {
                margin-bottom: 20px;
            }
            &:nth-child(2) {
                margin-bottom: 170px;
            }
        }
    }
}
@media (max-width: 1400px) {
    .express-smm-features {
        &__text {
            font-size: 48px;
        }
        &__row {
            display: flex;
            align-items: center;
            &:nth-child(1) {
                margin-bottom: 20px;
            }
            &:nth-child(2) {
                margin-bottom: 80px;
            }
        }
    }
}
@media (max-width: 1200px) {
  
}
@media (max-width:375px) {
    .express-smm-features {
        padding-top: 15px;
        padding-bottom: 50px;
        &__line {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateY(60%);
            width: 100%;
        }
        &__text {
            font-weight: 350;
            font-size: 20px;
            line-height: 125.8%;
        }
        &__img {
            &-desctop {
                display: none;
            }
            &-mob {
                display: block;
            }
        }
        &__content {
            padding: 0;
            margin: 0 -19px;
        }
        &__text-one {
            margin-right: 0;
            order: 2;
            max-width: 294px;
            align-self: flex-start;
            span {
                white-space: normal;
            }
        }
        
        &__img-wrapper-one {
            max-width: 187px;
            transform: translateY(-32px);
            align-self: flex-start;
            order: 1;
            margin-bottom: -14px;
            margin-left: 0px;
            &::before {
                content: '';
                display: block;
                padding-top: 159/187 * 100%;
            }
        }
        &__img-wrapper-two {
            max-width: 187px;
            margin-right: 0px;
            width: 100%;
            align-self: flex-start;
            margin-bottom: 15px;
            margin-right: 0px;
            margin-left: 0;
            &::before {
                content: '';
                display: block;
                padding-top: 221/190 * 100%;
            }
        }
        &__text-two {
            margin-top: 0px;
            max-width: 277px;
            align-self: flex-start;
        }
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(1) {
                margin-bottom: 48px;
            }
            &:nth-child(2) {
                margin-bottom: 40px;
            }
            &:nth-child(3) {
                margin-bottom: 56px;
            }
            &:nth-child(4) {
                padding-left: 0;
            }
        }
        &__text-three {
            order: 2;
            margin-right: 0;
            max-width: 275px;
           align-self: flex-start;
        }
        
        &__img-wrapper-three {
            position: relative;
            right: 0;
            align-self: flex-start;
            margin-left: 0px;
            max-width: 250px;
            width: 100%;
            transform: translateY(0);
            order: 1;
            margin-bottom: 20px;
            
            &::before {
                content: '';
                display: block;
                padding-top: 212/215 * 100%;
            }
        }
        &__text-four{
            max-width: 275px;
           align-self: flex-start;
           margin-top: 2px;
        }
        &__img-wrapper-four{
            position: relative;
            right: 0;
            align-self: flex-start;
            margin-left: 0px;
            max-width: 218px;
            width: 100%;
            transform: translateY(0);
            order: 0;
            margin-bottom: 27px;
            &::before {
                content: '';
                display: block;
                padding-top: 130/178 * 100%;
            }
        }
    }
}