.land-top--express{
  .land-top__right{
    z-index: 1;
    position: static;
  }
  .land-top__title-decor{
    right: -140px;
    top: -150px;
    @include dArea{
      right: vwd(-140);
      top: vwd(-150);
    }
    @include mMax{
      right: vw(-20);
      top: 100%;
    }
  }
  .land-top__bg{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: auto;
    height: 100%;
    @include dArea{
      width: auto;
      top: 0;
      right: 0;
    }
    @include mMax{
      width: 100%;
      height: auto;
      position: static;
    }
  }
}