.express-smm-need {
	position: relative;
	overflow: hidden;
	padding-top: 148px;
	padding-bottom: 64px;
	font-family: ALS Hauss, sans-serif;
	z-index: 1;
	@include dArea{
		padding-top: vwx(148);
		padding-bottom: vwx(64);
	}

	&__container {
		color: #fff;
		z-index: 3;
		position: relative;
	}

	&__title {
		max-width: 1300px;
        margin: 0 auto;
		margin-bottom: 255px;
		color: #000000;
		font-size: 113px;
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		z-index: 3;
        text-align: center;
		@include dArea{
			max-width: vwx(1300);
			margin-bottom: vwx(255);
			font-size: vwx(113);
		}
	}


	&__content {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 155px 35px 219px;
		border-radius: 80px;
		background: #181725;
		@include dArea{
			padding: vwx(155) vwx(35) vwx(219);
			margin-bottom: vwx(80);
		}
	}

	/*495
	17*/
	&__inner {
		width: 1390px;
		margin-left: 15px;
		@include dArea{
			width: vwx(1390);
			margin-left: vwx(15);
		}
	}

	&__decor {
		position: absolute;
		top: 0;
		left: 50%;
		display: flex;
		align-items: center;
		margin-top: -4px;
		margin-left: 18px;
		padding: 39px 76px;
		transform: rotate(-10.51deg) translate(-50%, -75%);
		text-align: center;
		color: #FFFFFF;
		/* or 48px */
		background: #5B6CFF;
		font-size: 48px;
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		@include dArea{
			margin-left: vwx(18);
			font-size: vwx(48);
			padding: vwx(39) vwx(76);
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin-top: 13px;
		margin-bottom: -54px;
		@include dArea{
			margin-top: vwx(13);
			margin-bottom: vwx(-54);
		}
	}

	&__card {
		width: 433px;
		margin-bottom: 102px;
		@include dArea{
			width: vwx(433);
			margin-bottom: vwx(102);
		}
	}

	&__card-img {
		height: 353px;
		@include dArea{
			height: vwx(353);
		}
		img {
			width: auto;
			height: auto;
			max-height: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__card-title {
		margin-top: -7px;
		font-size: 36px;
		font-weight: 500;
		font-style: normal;
		line-height: 125.8%;
		@include dArea{
			margin-top: vwx(-7);
			font-size: vwx(36);
		}
        &-xl {
            font-size: 41px;
			@include dArea{
				font-size: vwx(41);
			}
        }
	}

	&__card-desc {
        max-width: 350px;
		margin-top: 35px;
		font-size: 24px;
		font-weight: 350;
		font-style: normal;
		line-height: 125.8%;
		@include dArea{
			max-width: vwx(350);
			margin-top: vwx(35);
			font-size: vwx(24);
		}
	}
}