.express-smm-features {
    position: relative;
    padding-top: 123px;
    padding-bottom: 209px;
    overflow: hidden;
    &__container {
        color: #000;
        position: relative;
    }
    
    &__content {
        padding: 0 84px;
    }
    
    &__row {
        display: flex;
        align-items: center;
        position: relative;
        &:nth-child(1) {
            margin-bottom: 198px;

        }
        &:nth-child(2) {
            margin-bottom: 134px;
        }
        &:nth-child(3) {
            margin-bottom: 145px;
            
        }
        &:nth-child(4) {
            padding-left: 75px;
        }
    }
    &__img-wrapper {
        position: relative;
        width: 100%;

    }
    &__text {
        font-size: 64px;
        line-height: 125.8%;
        max-width: 757px;
    }
    &__text-one {
        span {
            white-space: nowrap;
        }
    }
    
    &__img-wrapper-one {
        max-width: 602px;
        width: 100%;
        transform: translate(27%,6%);
        &::before {
            content: '';
            display: block;
            padding-top: 514/602 * 100%;
        }
    }
    
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__img-mob {
        display: none;
    }

    &__img-wrapper-two {
        max-width: 552px;
        margin-right: 110px;
        margin-left: -29px;
        width: 100%;
        &::before {
            content: '';
            display: block;
            padding-top: 642/552 * 100%;

        }
    }
    
    &__text-two {
        margin-top: -84px;
    }
    
    &__text-three {
        margin-right: 60px;
        max-width: 1240px;
       
    }
    &__text-four {
        margin-top: 80px;
        max-width: 677px;
    }
    
    &__img-wrapper-three {
        right: -258px;
        position: absolute;
        max-width: 490px;
        width: 100%;
        transform: translateY(-83px);
        &::before {
            content: '';
            display: block;
            padding-top: 690/490 * 100%;
        }
    }
    &__img-wrapper-four {
        max-width: 322px;
        width: 100%;
        transform: translateY(-52px);
        margin-right: 231px;

        &::before {
            content: '';
            display: block;
            padding-top: 279/322 * 100%;
        }
    }
    }
    .container2 {
    }
    