@media screen and (min-width:1025px) {
	.only-mobile {
		display: none !important;
	}
}

@media screen and (max-width:1024px) {
	.only-desktop {
		display: none !important;
	}
}



.btn {
	&--v2 {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		width: vwx(273);
		max-width: 100%;
		min-height: vwx(72);
		border-radius: vwx(18);
		font-size: vwx(18);
		line-height: 125.8%;

		@media (max-width: 1200px) {
			width: 273px;
			min-height: 72px;
			border-radius: 18px;
			font-size: 18px;
		}
	}

	&--green {
		color: #000;
		border-radius: vwx(18);
		background: #AFF800;

		@media (max-width: 1200px) {
			border-radius: 18px;
		}

		&:hover {
			opacity: .7;
			background: #AFF800;
		}
	}
}
