@media screen and (min-width:1025px) {
	.only-mobile {
		display: none !important;
	}
}

@media screen and (max-width:1024px) {
	.only-desktop {
		display: none !important;
	}
}



.btn {
	&--v2 {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		min-width: vwx(266);
		max-width: 100%;
		min-height: vwx(58);
		border-radius: vwx(13);
		font-size: vwx(17);
		line-height: 125.8%;


		@include dMMax{
			min-width: novwx(266);
			min-height: novwx(58);
			border-radius: novwx(13);
			font-size: novwx(17);
		}

		@media (max-width: 1200px) {
			min-width: 266px;
			min-height: 58px;
			border-radius: 13px;
			font-size: 17px;
		}
		@include mMax {
			min-width: vw(210);
		}
	}

	&--green {
		color: #000;
		border-radius: vwx(18);
		background: #AFF800;
		@include dMMax{
			border-radius: novwx(13);
		}

		@media (max-width: 1200px) {
			border-radius: 13px;
		}

		&:hover {
			opacity: .7;
			background: #AFF800;
		}
	}
}
