.copywriting-need {
	position: relative;
	overflow: hidden;
	padding-top: vwx(157);
	padding-bottom: vwx(209);
	font-family: ALS Hauss, sans-serif;
	z-index: 1;

	@include dMMax{
		padding-top: novwx(157);
		padding-bottom: novwx(209);
	}

	@media (max-width: 1200px) {
		padding-top: 157px;
		padding-bottom: 209px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 44px;
		width: 100%;
		background: #000000;
		z-index: 1;
	}

	&__bg-1 {
		position: absolute;
		bottom: 27.3%;
		right: vwx(20);
		display: block;
		width: 100%;
		height: auto;
		z-index: 2;
		@include dMMax{
			right: novwx(20);
		}

		@media (max-width: 1200px) {
			right: 20px;
		}
	}

	&__bg-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		width: 100%;
		height: auto;
		z-index: 2;
	}

	&__star {
		position: absolute;
		bottom: -58px;
		right: -2.6vw;
		overflow: hidden;
		width: 34.2vw;
		height: auto;
		transform: rotate(96.35deg);
		z-index: 2;

		img {
			position: relative;
			top: -2px;
			left: -2px;
			display: block;
			width: vwx(458);
			height: vwx(458);
			@include dMMax{
				width: novwx(458);
				height: novwx(458);
			}

			@media (max-width: 1200px) {
				width: calc(100% + 4px);
				height: calc(100% + 4px);
			}
		}
		&-wrap{
			position: relative;

		}
	}

	&__container {
		color: #fff;
		z-index: 3;
		position: relative;
	}

	&__title {
		max-width: vwx(1200);
		margin-bottom: vwx(185);
		letter-spacing: -0.4px;
		color: #000000;
		font-size: vwx(113);
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		z-index: 3;
		@include dMMax{
			max-width: novwx(1200);
			margin-bottom: novwx(185);
			font-size: novwx(113);
		}

		@media (max-width: 1200px) {
			max-width: 1200px;
			margin-bottom: 185px;
			font-size: 113px;
		}
	}


	&__content {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: vwx(100) vwx(35) vwx(135);
		border-radius: vwx(80);
		background: #000000;
		@include dMMax{
			padding: novwx(100) novwx(35) novwx(135);
			border-radius: novwx(80);
		}

		@media (max-width: 1200px) {
			padding: 100px 35px 135px;
			border-radius: 80px;
		}
	}

	/*495
	17*/
	&__inner {
		width: vwx(1076);
		margin-left: vwx(24);
		@include dMMax{
			width: novwx(1076);
			margin-left: novwx(24);
		}

		@media (max-width: 1200px) {
			width: 1076px;
			margin-left: 24px;
		}
	}

	&__decor {
		position: absolute;
		top: 0;
		left: 50%;
		display: flex;
		align-items: center;
		margin-top: vwx(-4);
		margin-left: vwx(17);
		padding: vwx(39) vwx(76);
		transform: rotate(-10.51deg) translate(-50%, -75%);
		text-align: center;
		color: #FFFFFF;
		/* or 48px */
		background: #5B6CFF;
		font-size: vwx(48);
		font-weight: normal;
		font-style: normal;
		line-height: 100%;
		@include dMMax{
			font-size: novwx(48);
			margin-top: novwx(-4);
			margin-left: novwx(17);
			padding: novwx(39) novwx(76);
		}

		@media (max-width: 1200px) {
			margin-top: -4px;
			margin-left: 17px;
			padding: 39px 76px;
			font-size: 48px;
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin-top: vwx(13);
		margin-bottom: vwx(-54);
		@include dMMax{
			margin-top: novwx(13);
			margin-bottom: novwx(-54);
		}

		@media (max-width: 1200px) {
			margin-top: 13px;
			margin-bottom: -54px;
		}
	}

	&__card {
		width: vwx(400);
		margin-bottom: vwx(54);
		@include dMMax{
			width: novwx(400);
			margin-bottom: novwx(54);
		}

		@media (max-width: 1200px) {
			width: 400px;
			margin-bottom: 54px;
		}
	}

	&__card-img {
		height: vwx(353);
		@include dMMax{
			height: novwx(353);
		}

		@media (max-width: 1200px) {
			height: 353px;
		}

		img {
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__card-title {
		margin-top: vwx(47);
		font-size: vwx(41);
		font-weight: 500;
		font-style: normal;
		line-height: 125.8%;
		@include dMMax{
			margin-top: novwx(47);
			font-size: novwx(41);
		}

		@media (max-width: 1200px) {
			margin-top: 47px;
			font-size: 41px;
		}
	}

	&__card-desc {
		margin-top: vwx(35);
		font-size: vwx(24);
		font-family: $secondFont;
		font-style: normal;
		line-height: 125.8%;
		@include dMMax{
			margin-top: novwx(35);
			font-size: novwx(24);
		}

		@media (max-width: 1200px) {
			margin-top: 35px;
			font-size: 24px;
		}
	}
}