@media screen and (max-width: 1262px) {
	.cwprog-card-right {
		width: calc(100% - 507px - 20px);
	}

}

@media screen and (max-width: 1250px) {
	.cwprog-card-title {
		font-size: qw(35);
	}

	.cwprog-card-left {
		width: qw(413);
	}

	.cwprog-card-right {
		width: calc(100% - 27.53333vw - 1.66667vw);
	}
}

@media screen and (max-width: 1070px) {
	.cwprog-card-title {
		font-size: 28px;
	}

	.cwprog-text-item {
		font-size: 18px;
	}

	.cwprog-card-left {
		width: qw(330);
	}

	.cwprog-card-right {
		width: calc(100% - 22vw - 1.66667vw);
	}
}

@media screen and (min-width: 1025px) {
	.cwprog-card-right {
		.cwprog-card-types {
			display: none;
		}
	}
}

@media screen and (max-width: 1024px) {

	.cwprog-card-btn {
		width: vw(167);
		margin-top: vw(18);
		min-height: vw(45);
		margin-left: vw(7);
		font-size: vw(14);
		line-height: 125.8%;
	}

	.mob-no-wrap {
		white-space: nowrap;
	}

	.copywriting-programm__container {
		width: 100%;
		max-width: 100%;
	}

	.copywriting-programm__content {
		border: 0;
		padding: 0;
	}

	.cwprog-title {

		font-weight: 500;
		font-size: vw(36);
		line-height: 115%;
		/* or vw(41)
 */

		text-align: center;
		width: vw(273);

		margin: 0 auto;
		display: block;
	}

	.cwprog-desc {
		display: none;
	}


	.cwprog-cards {
		margin-top: vw(28);
		overflow: hidden;
	}

	.cwprog-card {
		border-radius: 0;
		display: block;
		padding: vw(11) vw(71) vw(58);

		&+.cwprog-card {
			margin-top: vw(24);
		}
	}

	.cwprog-card-left {
		flex-direction: column-reverse;
		max-width: 100%;
		width: 100%;

		.cwprog-card-types {
			display: none;
		}

		&__top {}

		&__bottom {}
	}

	.cwprog-card-title {

		font-weight: 500;
		font-size: vw(20);
		line-height: 125.8%;
		margin-top: vw(26);
	}

	.cwprog-card-types {
		&:first-child {
			margin-top: vw(-15);
		}

		margin-top: vw(41);
		padding-left: 0;
	}


	.cwprog-card-type {

		&__pic {
			img {

				max-width: vw(15);
			}
		}

		&__name {
			font-size: vw(14);
			line-height: 125.8%;
		}

		img {}
	}

	.cwprog-card-part-name {
		font-style: normal;
		font-weight: normal;
		font-size: vw(14);
		line-height: 125.8%;
		color: #202020;
		opacity: 1;
	}

	.cwprog-card-right {
		max-width: 100%;
		width: 100%;
		padding-top: vw(36);
	}

	.cwprog-text {
		margin-right: vw(-12);
	}

	.cwprog-text-item {
		padding-top: 0;
		font-size: vw(17);
		line-height: 1.29;
		letter-spacing: vw(-0.408);

		&+.cwprog-text-item {
			margin-top: 0;
		}
	}

	.cwprog-titem-name {
		width: 100%;
		padding-top: vw(14);
		padding-bottom: vw(14);
		box-sizing: border-box;

		&--has-sub {
			padding-right: vw(42);

		}

		&__txt {
			flex-grow: 1;
		}

		&__plus {
			position: absolute;
			right: vw(6);
			margin-bottom: 0;
			margin-right: 0;
			width: vw(30);
			height: vw(30);
			background-size: vw(15) auto;
			margin-top: vw(-15);
			top: 50%;
		}

		position: relative;

		&::before {
			margin-right: vw(1);
		}

		&::after {
			display: block;
			position: absolute;
			left: vw(-12);
			bottom: 0;
			content: '';
			height: 1px;
			width: calc(100% + 12px);
			background: rgba(84, 84, 88, 0.65);

		}

	}

	.cwprog-titem-sub__txt::before {
		padding-left: 0;
	}

	.cwprog-titem-sub {
		&__txt {}
	}

	.cwprog-titem-sub {
		padding: vw(17) 0 vw(9);
	}


	.copywriting-programm--motion {
		padding-top: vw(115);


		.cwprog-pic {
			order: -2;
		}

		.copywriting-programm__content {
			padding: 0;
		}

		.cwprog-cards {
			margin-top: vw(83);

		}

		.cwprog-card {
			padding: vw(10) vw(73) vw(72) vw(70);
			border-left: 0;
			border-right: 0;
		}

		.cwprog-card-right {
			display: flex;
			flex-direction: column;
			padding-top: vw(40);
		}

		.cwprog-card-btn {
			margin-top: vw(18);
		}

		.cwprog-pic {
			margin-top: vw(-15);
			width: vw(164);
			margin-bottom: vw(12);
		}
	}

	.cwprog-card-gift {
		position: absolute;
		right: vw(58);
		bottom: auto;
		top: vw(47);
		z-index: 1;
		width: vw(77);
	}

	.copywriting-programm--smm-strat {
		.cwprog-card-title {
			width: vw(184);
			max-width: 100%;
		}


	}

	.copywriting-programm--expres-smm {
		padding-top: vw(60);

	}

	.cwprog-bottom-attention {
		font-size: vw(12);
		line-height: 125.8%;
		color: #FF4E00;
		margin-top: vw(-2);
		margin-bottom: vw(22);
		width: vw(300);
	}

	/*
	.copywriting-programm {
		padding-top: 73px;

		&--motion {
			padding-top: 176px;
			padding-bottom: 150px;

			.cwprog-desc {
				margin-top: 33px;
			}

			.cwprog-cards {
				margin-top: 117px;
			}

			.cwprog-card {
				background: #000000;
				border: 1px solid #FFFFFF;
				padding: 69px 76px 95px 92px;
			}

			.cwprog-card-title {
				color: #FFFFFF;
			}

			.cwprog-text-item {
				color: #FFFFFF;

			}

			.cwprog-card-btn {
				margin-top: 54px;
			}

			.cwprog-card-part-name {
				color: #FFFFFF;
				opacity: 0.3;
			}

			.copywriting-programm__content {
				padding: 125px 35px 35px;
			}
		}
	}*/
}