.copywriting-kurs {
    background: #000;
    padding-top: 366px;
    padding-bottom: 172px;

    &__container { 
        color: #fff;
    }

    &__content {
    }
    
    &__expert-wrapper {
        margin-bottom: 341px;
        position: relative;
    }
    &__expert-img {
        position: absolute;
        right: 363px;
        top: 25px;
    }

    &__expert-text {
        font-size: 64px;
        line-height: 125.8%;
        width: 50%;
        position: relative;
    }
    
    
    &__possession-wrapper {
        position: relative;
        margin-bottom: 310px;

    }
    &__possession-img {
      position: absolute;
      top: -147px;
    }
    
    &__possession {
        position: relative;
        font-size: 64px;
        line-height: 125.8%;
        width: 60%;
        background-repeat: no-repeat;
    }
    
    &__core {
        font-size: 200px;
        line-height: 103.8%;
    }
    }
    .container {
    }
    