.copywriting-banner {
	padding-top: vwx(172);
	padding-bottom: vwx(302);
	background-color: #000;
	position: relative;
	z-index: 10;
	@include dMMax{
		padding-top: novwx(172);
		padding-bottom: novwx(302);
	}
	@media (max-width: 1200px) {
		padding-top: 172px;
		padding-bottom: 302px;
	}

	&__decor {
		&-img {
			width: vwx(980);
			height: vwx(1283);
			position: absolute;
			right: 0%;
			top: 0;
			@include dMMax{
				width: novwx(980);
				height: novwx(1283);
			}

			@media (max-width: 1200px) {
				width: auto;
				height: auto;
			}
		}
	}

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #FFFFFF;
	}

	&__content {}

	&__logo {
		width: vwx(64);
		height: vwx(64);
		margin-bottom: 97px;
		@include dMMax{
			width: novwx(64);
			height: novwx(64);
		}

		@media (max-width: 1600px) {
			margin-bottom: qw(90);
		}

		@media (max-width: 1200px) {
			width: 64px;
			height: 64px;
			margin-bottom: 60px;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-family: ALS Hauss;
		font-size: vwx(41);
		line-height: 125.8%;
		margin-bottom: vwx(30);
		@include dMMax{
			font-size: novwx(41);
			margin-bottom: novwx(30);
		}

		@media (max-width: 1200px) {
			font-size: 41px;
			margin-bottom: 30px;
		}
	}

	&__subtitle {
		font-family: ALS Hauss;
		font-size: vwx(113);
		line-height: 100%;
		margin-bottom: vwx(69);
		margin-right: vwx(40);
		@include dMMax{
			font-size: novwx(113);
			margin-bottom: novwx(69);
			margin-right: novwx(40);
		}

		@media (max-width: 1200px) {
			font-size: 64px;
			margin-bottom: 69px;
			margin-right: 40px;
		}
	}


	&__link {
		line-height: 125.8%;
		display: inline-flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		background: #FF4E00;
		cursor: pointer;
		transition-duration: .2s;
		font-size: vwx(17);
		border-radius: vwx(13);
		padding: vwx(0) vwx(50);
		height: vwx(58);
		min-width: vwx(216);
		box-sizing: border-box;
		@include dMMax{
			height: novwx(58);
			min-width: novwx(216);
			font-size: novwx(17);
			border-radius: novwx(13);
			padding: novwx(0) novwx(50);
		}

		&:hover {
			background: #d03e00
		}

		@media (max-width: 1200px) {
			font-size: 17px;
			border-radius: 13px;
			padding: 0 50px;
			height: 58px;
			min-width: 216px;
		}
	}

	&__kurs-info {
		text-align: center;
		margin-right: vwx(94);
		margin-top: vwx(-130);
		width: vwx(474);
		height: vwx(650);
		flex-shrink: 0;

		@include dMMax{
			height: novwx(650);
			width: novwx(474);
			margin-right: novwx(94);
			margin-top: novwx(-130);
		}

		@media (max-width: 1200px) {
			margin-right: 94px;
			margin-top: -130px;
		}

		iframe{
			width: 100%;
			max-width: 100%;
			height: 90%;
			max-height: 90%;

		}
	}

	&__play {
		margin-right: vwx(28);
		@include dMMax{
			margin-right: novwx(28);
		}

		@media (max-width: 1200px) {
			margin-right: 28px;
		}
	}

	&__play-text {
		font-size: vwx(32);
		line-height: 100%;
		color: #FEA430;
		@include dMMax{
			font-size: novwx(32);
		}

		@media (max-width: 1200px) {
			font-size: 32px;
		}
	}
}




@media screen and (max-width:700px) {
	#popup-video.hide .fancybox-button {
		width: 45px !important;
		height: 45px !important;
	}
}

#popup-video .fancybox-button.fancybox-close-small svg {
	display: none;
}

#popup-video .fancybox-button.fancybox-close-small:hover::after {
	opacity: .5;
}

#popup-video .fancybox-button.fancybox-close-small::after {
	position: absolute;
	right: 10px;
	top: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: block;
	opacity: 1;
	background: url(https://smmagnat.ru/assets/template/img/cross-w.svg) no-repeat center center;
	background-size: contain;
	content: '';
}

#popup-video.hide {
	color: #fff;
	background: 0 0;
}

#popup-video.hide .fancybox-button {
	right: 0;
}

#popup-video.hide .prop-blck {
	height: 100%;
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#popup-video.hide .prop-blck::before {
	content: '';
	display: block;
	background: red;
}

#popup-video.hide .prop-blck video {
	max-width: 1000px;
	max-height: calc(100vh - 200px);
	//width: 100%;
	width: auto;
}

#popup-video.hide .prop-blck .logo {
	width: 242px;
	display: block;
	height: 25px;
	background: url("../images/smmagnat_team.svg") center center no-repeat;
	background-size: contain;
	margin-top: 30px;
}

@media screen and (max-width:768px) {
	#popup-video .fancybox-button.fancybox-close-small::after {
		display: none;
	}

	#popup-video .fancybox-button.fancybox-close-small svg {
		display: block;
	}
}

@media screen and (max-width:600px) {
	.fancybox-content#popup-video {
		padding-right: 0;
		padding-left: 0;
	}
}