@media (max-width: 1500px) {
	.copywriting-features {
		&__row {
			display: flex;
			align-items: center;

			&:nth-child(1) {
				margin-bottom: 20px;
			}

			&:nth-child(2) {
				margin-bottom: 170px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.copywriting-features {
		&__text {
			font-size: 48px;
		}

		&__row {
			display: flex;
			align-items: center;

			&:nth-child(1) {
				margin-bottom: 20px;
			}

			&:nth-child(2) {
				margin-bottom: 80px;
			}
		}
	}
}

@media (max-width: 1200px) {}

@media (max-width:1024px) {
	.copywriting-features {
		padding-top: vw(114);
		padding-bottom: vw(50);

		&__line {
			z-index: 1;
			left: vw(26);
			top: vw(46);
			width: vw(300);

			&--desk {
				display: none;
			}

			&--mob {
				display: block;
			}
		}

		&__text {
			font-weight: 350;
			font-size: vw(20);
			line-height: 125.8%;
			position: relative;
			z-index: 3;
		}

		&__content {
			padding: 0;
			margin: 0 vw(-19);
		}

		&__text-one {
			margin-right: 0;
			order: 2;
		}

		&__img {
			z-index: 2;
		}

		&__img-wrapper-one {
			max-width: vw(216);
			transform: translateY(#{vw(-32)});
			align-self: flex-start;
			order: 1;
			margin-bottom: vw(-14);
			margin-left: vw(17);

			&::before {
				content: '';
				display: block;
				padding-top: 562/514 * 100%;
			}
		}

		&__img-wrapper-two {
			max-width: vw(196);
			margin-right: vw(0);
			width: 100%;
			align-self: flex-end;
			margin-bottom: vw(23);
			margin-right: vw(2);

			&::before {
				content: '';
				display: block;
				padding-top: 515/564 * 100%;
			}
		}

		&__text-two {
			margin-top: vw(0);
		}

		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;

			&:nth-child(1) {
				margin-bottom: vw(75);
			}

			&:nth-child(2) {
				margin-bottom: vw(50);
				padding-right: 0;
			}
		}

		&__text-three {
			order: 2;
			margin-right: 0;

		}

		&__img-wrapper-three {
			align-self: flex-start;
			margin-left: vw(29);
			max-width: vw(85);
			width: 100%;
			transform: translateY(0);
			order: 1;
			margin-bottom: vw(27);

			&::before {
				content: '';
				display: block;
				padding-top: 263/261 * 100%;
			}
		}
	}
}