@media screen and (max-width: 1385px) {
	.copywriting-need__title {
		max-width: 910px;
		font-size: 96px;
		margin-bottom: 185px;
	}

	.copywriting-need__inner {
		max-width: 100%;
		margin-left: 0;
	}
}

@media screen and (min-width: 1025px) {

	.copywriting-need__bg-mob{
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	.copywriting-need {
		padding-top: 60px;
		padding-bottom: 78px;
		&::after{
			display: none;
		}

		&__star-wrap {
			display: none;
		}

		&__title {
			width: 100%;
			max-width: 100%;
			font-size: 36px;
			line-height: 100%;
			letter-spacing: 0px;
			letter-spacing: -0.2px;
			margin-bottom: 84px;
		}

		&__decor {

			font-size: 18px;
			line-height: 1;
			padding: 17px 35px;
			margin-top: 6px;
			margin-left: 5px;
		}

		&__bg-1,
		&__bg-2 {
			display: none;
		}

		&__bg-mob {
			position: absolute;
			bottom: 43.3%;
			right: 0;
			display: block;
			width: 100%;
			height: auto;
			z-index: 2;
		}

		&__content {
			border-radius: 40px;
			padding: 74px 10px 91px;
		}
	}

	.copywriting-need__inner {
		width: 184px;
	}

	.copywriting-need__row {}

	.copywriting-need__card {
		margin-bottom: 47px;

		&-img {

			height: 150px;

		}

		&-title {
			font-size: 18px;
			line-height: 1;
			margin-top: 32px;
		}

		&-desc {
			font-size: 16px;
			line-height: 125.8%;
			margin-top: 16px;
		}

		img {}
	}
}