.copywriting-kurs {
    background: #000;
    padding-top: 400px;
    padding-bottom: 172px;

    &__container { 
        color: #fff;
    }

    &__content {
    }
    
    &__expert-wrapper {
        margin-bottom: 335px;
    }
    
    &__expert-text {
        font-size: 64px;
        line-height: 125.8%;
        width: 50%;
    }
    
    
    &__possession-wrapper {
    }
    &__possession-img {
      
    }
    
    &__possession {
        font-size: 64px;
        line-height: 125.8%;
        margin-bottom: 337px;
        width: 60%;
        background-repeat: no-repeat;
    }
    
    &__core {
        font-size: 200px;
        line-height: 103.8%;
    }
    }
    .container {
    }
    