.copywriting-header {
	padding-top: 172px;
	padding-bottom: 302px;
	background-color: #000;
	background-image: url('../img/decor.svg');
	background-repeat: no-repeat;
	background-position: 105% 50%;

	&__container {
		color: #FFFFFF;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {}

	&__logo {
		width: 64px;
		height: 64px;
		margin-bottom: 113px;
	}

	&__title {
		font-family: ALS Hauss;
		font-size: 41px;
		line-height: 125.8%;
		margin-bottom: 39px;
	}

	&__subtitle {
		font-family: ALS Hauss;
		font-size: 113px;
		line-height: 100%;
		margin-bottom: 55px;
	}

	&__link {
		font-size: 32px;
		line-height: 125.8%;
		display: inline-flex;
		align-items: center;
		text-align: center;
		background: #FF4E00;
		border-radius: 18px;
		padding: 30px 100px;
	}

	&__kurs-info {
		margin-right: 94px;
		display: flex;
		align-items: center;
		flex: 0 0 auto;
	}

	&__play {
		margin-right: 28px;
	}

	&__play-text {
		font-size: 32px;
		line-height: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		color: #FEA430;
	}
}


.container {}