@media (max-width: 1200px) {
	&__subtitle {
		font-size: 90px;
	}
	&__logo {
		margin-bottom: 90px;
	}
}
@media (max-width: 1200px) {
	&__subtitle {
		font-size: 64px;
	}
	&__logo {
		margin-bottom: 60px;
	}
	&__link {
		padding: 0px 50px;
	}
}
@media (max-width:1024px) {
	.copywriting-banner {

		overflow: hidden;
		&__decor {
			overflow: hidden;
			position: relative;
		}
		padding-top: vw(97);
		padding-bottom: vw(94);
		background-color: #000;
		&__decor {
			&-img {
				position: absolute;
				right: -22%;
				top: vw(0);
				width: 100%;
			}
		}

		&__content {
		}

		&__logo {
			width: vw(32);
			height: vw(32);
			margin-bottom: vw(94);
		}
		&__row {
			flex-direction: column;
		}
		&__title {
			font-size: vw(18);
			margin-bottom: vw(15);
		}

		&__subtitle {
			font-size: vw(36);
			margin-bottom: vw(15);
		}

		&__link {
			font-size: vw(17);
			padding: vw(0) vw(50);
			height: vw(58);
			border-radius: vw(13);
			min-width: vw(216);
		}

		&__kurs-info {
			margin: 0 auto;
			margin-top: vw(0);
			margin-bottom: vw(52);
			width: vw(275);

			height: vw(350);
		}

		&__play {
			width: vw(14);
			height: vw(12);
			margin-right: vw(9);
		}

		&__play-text {
			font-size: vw(18);
			flex: 0 0 auto;
		}
	}
}