.copywriting-kurs {
    background: #000;
    padding-top: vwx(366);
    padding-bottom: vwx(172);
    @include dMMax{
        padding-top: novwx(366);
        padding-bottom: novwx(172);
    }

    @media (max-width: 1200px) {
        padding-top: 366px;
        padding-bottom: 172px;
    }

    &__container { 
        color: #fff;
    }

    &__content {
    }
    
    &__expert-wrapper {
        margin-bottom: vwx(341);
        position: relative;
        @include dMMax{
            margin-bottom: novwx(341);
        }

        @media (max-width: 1200px) {
            margin-bottom: 341px;
        }
    }

    &__expert-img {
        position: absolute;
        right: vwx(363);
        top: vwx(25);
        width: vwx(292);
        height: vwx(293);
        @include dMMax{
            right: novwx(363);
            top: novwx(25);
            width: novwx(292);
            height: novwx(293);
        }

        @media (max-width: 1200px) {
            right: 363px;
            top: 25px;
            width: auto;
            height: auto;
        }
    }

    &__expert-text {
        font-size: vwx(64);
        line-height: 125.8%;
        width: 50%;
        position: relative;
        @include dMMax{
            font-size: novwx(64);
        }

        @media (max-width: 1200px) {
            font-size: 64px;
        }
    }
    
    
    &__possession-wrapper {
        position: relative;
        margin-bottom: vwx(310);
        @include dMMax{
            margin-bottom: novwx(310);
        }

        @media (max-width: 1200px) {
            margin-bottom: 310px;
        }
    }

    &__possession-img {
        position: absolute;
        top: vwx(-147);
        width: vwx(562);
        height: vwx(353);
        @include dMMax{
            top: novwx(-147);
            width: novwx(562);
            height: novwx(353);
        }

        @media (max-width: 1200px) {
            top: -147px;
            width: auto;
            height: auto;
        }
    }
    
    &__possession {
        position: relative;
        font-size: vwx(64);
        line-height: 125.8%;
        width: 60%;
        background-repeat: no-repeat;
        @include dMMax{
            font-size: novwx(64);
        }

        @media (max-width: 1200px) {
            font-size: 64px;
        }
    }
    
    &__core {
        font-size: vwx(200);
        line-height: 103.8%;
        @include dMMax{
            font-size: novwx(200);
        }
    }
}
