.other-courses-section {
	padding: 275px 0 223px;
	background: #000;
}

.otcourses-title {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 100%;
	/* or 48px */

	text-align: center;

	color: #FFFFFF;
	margin: 0 auto 113px;
}



@media (max-width: 1024px) {
	.container2--otcourses {
		max-width: calc(100% - 20px * 2);

	}
	.other-courses-section {
		padding: vw(74) 0 vw(90);
	}
	.otcourses-title {
		margin-bottom: vw(35);
		font-size: vw(24);
		line-height: 100%;
	}
}