.other-courses-section {
	padding: 275px 0 223px;
	background: #000;
	@include dArea{
		padding: vwx(275) 0 vwx(223);
	}

	.kurs__title{
		@include dArea{
			font-size: vwx(36);
		}
	}
	.btn{
		@include dArea {
			min-height: vwx(50);
			border-radius: vwx(17);
			font-size: vwx(19);
		}
	}
}

.otcourses-title {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 100%;
	/* or 48px */

	text-align: center;

	color: #FFFFFF;
	margin: 0 auto 113px;
	@include dArea{
		margin: 0 auto vwx(113);
		font-size: vwx(48);
	}
}



@media (max-width: 1024px) {
	.container2--otcourses {
		max-width: calc(100% - 20px * 2);

	}
	.other-courses-section {
		padding: vw(74) 0 vw(90);
	}
	.otcourses-title {
		margin-bottom: vw(35);
		font-size: vw(24);
		line-height: 100%;
	}
}