.ylearn-section {
	overflow: hidden;
	background: #000000;
	position: relative;
	padding: vwd(306) 0 vwd(293);
}

.ylearn-container {}

.mCSB_scrollTools.mCSB_scrollTools_horizontal.mCS-ylearn .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 15px;
	margin-top: -5px;
}

.mCSB_scrollTools.mCS-ylearn .mCSB_dragger .mCSB_dragger_bar {
	opacity: .4;
	background: #ffffff;
}

.mCSB_scrollTools.mCS-ylearn .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools.mCSB_scrollTools_onDrag.mCS-ylearn .mCSB_dragger .mCSB_dragger_bar {
	opacity: 1;
	background: #ffffff;
}

@media screen and (min-width: 1025px) {
	.ylearn-art {
		transform: matrix(-0.11, 0.99, 0.99, 0.11, 0, 0);
		width: vwd(186);
		height: auto;
		position: absolute;
		display: block;
		top: vwd(311);
		left: calc(50% + 364px);
		z-index: 1;

	}

	.ylearn-title {
		font-size: vwd(96);
		line-height: 1;
		position: relative;

		z-index: 2;


		color: #FFFFFF;
	}

	.ylearn-row-container {
		width: 100%;
		max-width: 100%;
		width: 100%;
		overflow: hidden;
		-webkit-perspective: 1000;
		perspective: 1000;
		margin-top: vwd(158);
	}

	.ylearn-row-wrap {
		//width: calc(50% + 50vw - vwd(9));
		display: inline-flex;
		height: 100%;

	}


	.ylearn-row {
		box-sizing: border-box;
		display: flex;
		padding-left: calc(50vw - 786px);
		padding-right: calc(50vw - 786px);
		//height: 100%;
		height: 100%;

	}

	.ylearn-col {
		display: flex;
		flex-direction: column;
		margin-left: vwd(40);
		height: vwd(868);
		box-sizing: border-box;

		max-height: 90vh;

		&--short {
			width: vwd(663);
			min-width: vwd(663);
		}

		&--long {
			width: vwd(1219);
			min-width: vwd(1219);
		}

		&:first-child {
			margin-left: 0;
		}
	}

	.ylearn-item {
		overflow: hidden;
		background: #FFFFFF;
		color: #000000;
		border-radius: vwd(24);
		padding: vwd(78) vwd(108) vwd(55) vwd(72);
		box-sizing: border-box;
		position: relative;
		z-index: 1;

		&+.ylearn-item {
			margin-top: vwd(40);
		}

		&__title {
			font-weight: normal;
			font-size: vwd(64);
			line-height: 1.258;
			letter-spacing: vwd(-.4);
			height: 100%;
			max-height: 100%;
			white-space: nowrap;
			position: relative;
			z-index: 2;
		}

		&__img {
			z-index: 1;
			position: relative;
			display: block;
			height: auto;

			&--mob {
				display: none;
			}
		}

		max-height: 100%;

		&--small {
			height: vwd(249);
			max-height: vwd(249);
		}

		&--tall {
			max-height: calc(100% - #{vwd(249)} - #{vwd(40)});
		}

		&--1 {
			display: flex;
			flex-direction: column;

			.ylearn-item__title {
				flex-grow: 1;
			}

			.ylearn-item__img {
				margin-left: vwd(50);
				width: vwd(483);
				height: auto;
			}

			flex-grow: 1;
		}

		&--2 {
			padding: vwd(41) vwd(30) vwd(48) vwd(72);
			background: #6983FF;
			color: #ffffff;

			.ylearn-item__title {}

			.ylearn-item__img {}
		}

		&--3 {
			position: relative;
			flex-grow: 1;
			display: flex;
			padding: vwd(88) vwd(30) vwd(30) vwd(132);

			.ylearn-item__title {}

			.ylearn-item__img {
				position: absolute;
				right: 0;
				bottom: 0;
				width: vwd(729);

			}

			flex-grow: 1;
		}

		&--4 {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			padding: vwd(80) vwd(71) vwd(69) vwd(72);

			.ylearn-item__title {}

			.ylearn-item__img {
				width: vwd(257);
				height: auto;
				margin-left: auto;
			}

			flex-grow: 1;
		}

		&--5 {
			color: #ffffff;
			background: #00C1FF;
			flex-grow: 1;

			padding: vwd(78) vwd(20) vwd(55) vwd(72);

			.ylearn-item__title {}

			.ylearn-item__img {}
		}

		&--6 {
			flex-grow: 1;

			padding: vwd(89) vwd(55) vwd(55) vwd(132);

			.ylearn-item__title {}

			.ylearn-item__img {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}

		&--7 {
			display: flex;
			justify-content: space-between;
			padding: vwd(41) 0 vwd(36) vwd(72);

			.ylearn-item__title {}

			.ylearn-item__img {
				width: vwd(499);
				margin-right: vwd(-59);
				height: auto;
				align-self: flex-end;
			}
		}

	}

	.ylearn-section--smm-strat {

		/*.ylearn-row-container {
			overflow: scroll;
		}*/
		.ylearn-item--1 .ylearn-item__img {
			margin-left: vwd(37);
			margin-top: vwd(12);
			width: vwd(677);
			height: auto;
		}

		.ylearn-item--3 {
			padding: vwd(88) vwd(100) vwd(55) vwd(77);
		}

		.ylearn-item--4 .ylearn-item__img {
			margin: 0;
			position: absolute;
			width: vwd(769);
			bottom: vwd(-225);
			left: vwd(-77);
		}

		.ylearn-item--6 .ylearn-item__img {
			position: absolute;
			bottom: vwd(-3);
			left: vwd(124);
			width: 87%;
		}
	}

	.ylearn-section--express-smm {

		.ylearn-row-container {
			//	overflow: scroll;
		}

		.ylearn-item--1 .ylearn-item__img {
			margin-left: 0;
			margin-top: vwd(25);
			width: vwd(409);
			height: auto;
			margin-bottom: vwd(61);
		}

		.ylearn-item--2 {
			padding: vwd(61) vwd(30) vwd(82) vwd(72);
		}

		.ylearn-item--small {
			height: auto;
			max-height: vwd(383);
		}

		.ylearn-item--tall {
			max-height: calc(100% - #{vwd(383)} - #{vwd(40)});
		}

		.ylearn-item--3 {
			padding: vwd(62) vwd(100) vwd(55) vwd(77);
		}

		.ylearn-item--6 .ylearn-item__img {
			position: absolute;
			bottom: 0;
			left: auto;
			right: 0;
			width: 57%;
		}
	}

	.ylearn-section--target {

		.ylearn-row-container {
			//	overflow: scroll;
		}

		@media screen and (min-width: 1025px) {

			padding-top: vwd(323);
			padding-bottom: vwd(339);

			.ylearn-col--long {
				width: auto;
			}

			.ylearn-item--1 {
				width: vwd(1168);
				min-width: vwd(1168);

				.ylearn-item__img {
					margin: 0;
					width: vwd(598);
					height: auto;
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}

			.ylearn-item--2 {
				padding: vwd(78) vwd(30) vwd(40) vwd(72);
			}


			.ylearn-item--small {
				height: auto;
				max-height: vwd(364);
				flex-grow: 1;
			}

			.ylearn-item--tall {
				flex-grow: 1;
				max-height: calc(100% - vwd(364) - vwd(40));
			}

			.ylearn-item--3 {
				padding: vwd(51) vwd(30) vwd(40) vwd(72);

			}

			.ylearn-item--4 {
				width: vwd(1320);
				min-width: vwd(1320);

				.ylearn-item__img {
					margin: 0;
					width: 94.6%;
					height: auto;
					position: absolute;
					top: auto;
					right: auto;
					left: vwd(72);
					bottom: vwd(0);
				}

			}

			.ylearn-item--6 {
				padding: vwd(78) vwd(30) vwd(40) vwd(72);

			}

			.ylearn-item__img {
				position: absolute;
				bottom: auto;
				left: auto;
				right: 0;
				top: vwd(88);
				width: vwd(269);
			}

			.ylearn-item--7 {
				padding: vwd(53) vwd(30) vwd(40) vwd(72);

			}
		}
	}

	.ylearn-section--complex {
		@media screen and (min-width: 1025px) {
			.ylearn-row-container {
				//	overflow: scroll;
			}

			padding-top: vwd(323);
			padding-bottom: vwd(339);

			.ylearn-item--1 {

				.ylearn-item__img {
					margin: 0;
					width: vwd(935);
					height: auto;
					position: absolute;
					right: vwd(-161);
					bottom: vwd(-86);
				}
			}



			.ylearn-item--2 {
				padding: vwd(61) vwd(30) vwd(40) vwd(72);
			}


			.ylearn-item--small {
				height: auto;
				max-height: vwd(383);
				flex-grow: 2;
				box-sizing: border-box;
			}

			.ylearn-item--tall {
				flex-grow: 1;
				box-sizing: border-box;
				max-height: calc(100% - #{vwd(383)} - #{vwd(40)});
			}

			.ylearn-item--3 {
				padding: vwd(55) vwd(30) vwd(40) vwd(72);

			}

			/*.ylearn-col--long {
				width: auto;
			}

			.ylearn-item--4 {
				width: vwd(1320);
				min-width: vwd(1320);

				.ylearn-item__img {
					margin: 0;
					width: 94.6%;
					height: auto;
					position: absolute;
					top: auto;
					right: auto;
					left: vwd(72);
					bottom: vwd(0);
				}

			}

			.ylearn-item--6 {
				padding: vwd(78) vwd(30) vwd(40) vwd(72);

			}

			.ylearn-item__img {
				position: absolute;
				bottom: auto;
				left: auto;
				right: 0;
				top: vwd(88);
				width: vwd(269);
			}

			.ylearn-item--7 {
				padding: vwd(53) vwd(30) vwd(40) vwd(72);

			}*/
		}
	}

	.ylearn-section--brand{

		@media screen and (min-width: 1025px) {

			padding-top: vwd(249);
			padding-bottom: vwd(324);
		}
	}

	.ylearn-section--context {
		padding-top: vwd(320);
		padding-bottom: vwd(435);

		.ylearn-row-container {
			//overflow: scroll;
			margin-top: vwd(126);
		}

		.ylearn-title {
			font-size: vwd(113);
		}

		.ylearn-col {
			height: vwd(900);
			max-height: 130vh;

			&--short {
				width: vwd(1165);

				.ylearn-item {
					height: 100%;
					border-bottom-right-radius: 0;

					picture {
						position: absolute;
						bottom: 0;
						right: 0;

						@media screen and (max-width:1630px) {
							width: 50%;
						}

						img {
							width: 100%;
							height: 100%;
						}
					}
				}
			}

			&--short-2 {
				width: vwd(1320);

				img {
					width: 100%;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}

			&--long {
				.ylearn-item {
					&--tall {
						flex-grow: 1;
					}

					&--small {
						height: vwd(365);
						max-height: 100%;
					}
				}
			}
		}
	}
}