.complex-features {
    position: relative;
    padding-top: 12px;
    padding-bottom: 272px;
    overflow: hidden;
    &__container {
        color: #000;
        position: relative;
    }

    &__content {
        padding: 0;
    }

    &__row {
        display: flex;
        align-items: center;
        position: relative;
        &:nth-child(1) {
            // margin-bottom: 179px;

        }
        &:nth-child(2) {
            margin-bottom: 5px;
        }
        &:nth-child(3) {
            margin-bottom: 211px;

        }
        &:nth-child(4) {
            padding-left: 75px;
        }
    }
    &__img-wrapper {
        position: relative;
        width: 100%;

    }
    &__text {
        font-size: 64px;
        line-height: 125.8%;
        max-width: 975px;
        letter-spacing: -0.2px;
    }
    &__text-one {
        span {
            white-space: nowrap;
        }
    }

    &__img-wrapper-one {
        max-width: 679px;
        width: 100%;
        transform: translate(28.5%,-3.2%);
        margin-left: -100px;
        &::before {
            content: '';
            display: block;
            padding-top: 354/679 * 100%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    &__img-mobile {
        display: none;
    }

    &__img-wrapper-two {
        max-width: 727px;
        width: 100%;
        transform: translate(-24%, -4%);
        &::before {
            content: '';
            display: block;
            padding-top: 534/727 * 100%;

        }
    }

    &__text-two {
        max-width: 761px;
        margin-left: 80px;
        margin-top: 235px;
    }

    &__text-three {
        margin-right: 60px;
        max-width: 953px;

    }
    &__text-four {
        margin-top: 27px;
        max-width: 850px;
        margin-right: -8px;
        strong {
            letter-spacing: 1px;
        }
    }
    &__decor {
        position: absolute;
        top: -23.6vw;
        left: -9vw;
    }
    &__img-wrapper-three {
        right: 52px;
        max-width: 576px;
        width: 100%;
        transform: translateY(-13px);
        &::before {
            content: '';
            display: block;
            padding-top: 508/576 * 100%;
        }
    }
    &__img-wrapper-four {
        width: 100%;
        transform: translate(-24%,5%);
        margin-right: 22px;

        &::before {
            content: '';
            display: block;
            padding-top: 459/710 * 100%;
        }
    }
    }
    .container2 {
    }
