section.complex-features
    .container2.complex-features__container
        .complex-features__content
            .complex-features__row
                .complex-features__text-one.complex-features__text Курс создан лично 
                    a(href="*") smmagnat,
                    sman в который заложен весь его <br/>10-летний опыт в SMM
                .complex-features__img-wrapper-one.complex-features__img-wrapper
                    img.complex-features__img(src="img/landings/complex/features.svg")
            .complex-features__row
                .complex-features__img-wrapper-two.complex-features__img-wrapper
                    img.complex-features__img(src="img/landings/complex/features-2.svg")
                .complex-features__text-two.complex-features__text Обучаем работе в 3 основных соцсетях России — Vkontakte, Instagram и Facebook
            .complex-features__row
                .complex-features__text-three.complex-features__text Регулярно обновляем курс параллельно изменениям на рынке
                .complex-features__img-wrapper-three.complex-features__img-wrapper
                    img.complex-features__img.complex-features__img-desctop(src="img/landings/complex/features-3.svg")
            .complex-features__row
                img.complex-features__decor(src="img/landings/complex/features-line.svg")
            .complex-features__row
                .complex-features__img-wrapper-four.complex-features__img-wrapper
                    img.complex-features__img.complex-features__img-desctop(src="img/landings/complex/features-4.svg")
                    img.complex-features__img.complex-features__img-mobile(src="img/landings/complex/features-4-mob.svg")
                .complex-features__text-four.complex-features__text Одна из основ SMM — это продажи, поэтому этот курс включает в себя курс по <strong>Таргетированной рекламе</strong>
