section.copywriting-feedback
	.container2.cwfeedback-container
		.cwfeedback-title Наши выпускники о курсе <br>Комплексное обучение по SMM:
		//Размер скрина ДОЛЖЕН быть: w=420, h<=340(Лучше большего размера, но пропорционально)
		.cust-slider-wrap
			.cwfeedback-slider.custom-slider.js-custom-slider
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-1.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-2.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-3.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-4.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-5.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-6.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-7.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-8.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-9.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-10.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-11.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-12.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-13.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-14.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-15.png", alt="")
				.custom-slider-card
					img(src="img/landings/complex/feedback/item-16.png", alt="")
			a.visuallyhidden.custom-slider-card-controller(href='#') Carousel controller
			.cwfeedback-arrows
				.cwfeedback-arrow.cwfeedback-arrow--prev.js-custom-slider-prev
					svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 443.52 443.52')
						path(d='M143.492 221.863L336.226 29.129c6.663-6.664 6.663-17.468 0-24.132-6.665-6.662-17.468-6.662-24.132 0l-204.8 204.8c-6.662 6.664-6.662 17.468 0 24.132l204.8 204.8c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.712L143.492 221.863z')
				.cwfeedback-arrow.cwfeedback-arrow--next.js-custom-slider-next
					svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 443.52 443.52')
						path(d='M143.492 221.863L336.226 29.129c6.663-6.664 6.663-17.468 0-24.132-6.665-6.662-17.468-6.662-24.132 0l-204.8 204.8c-6.662 6.664-6.662 17.468 0 24.132l204.8 204.8c6.78 6.548 17.584 6.36 24.132-.42 6.387-6.614 6.387-17.099 0-23.712L143.492 221.863z')

		.cwfeedback-btn-wrap
			.btn.btn--white.cwfeedback-btn Смотреть всё
		.cwfeedback-description
			.cwfeedback-description__txt Отзывы только от реальных людей
