section.copywriting-programm.copywriting-programm--complex
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Программа курса
				.cwprog-cards

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Введение
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt С чего начинал я, и с чего начать вам
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Порядок действий с новым клиентом.
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Общение с клиентом. Гарантии результата
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сколько времени занимает работа SMM‑специалиста
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Работа SMM-специалиста

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
							a.btn.btn--v2.btn--green.cwprog-card-btn.js-see-free(href="javascript:;" data-type="1") Смотреть бесплатно


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Базовая информация
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Jobs To Be Done
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ конкурентов (дополненный перевод)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Хештеги
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Визуал
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как можно использовать stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Stories для докторов
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Реклама. Stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Разработка SMM-стратегий. Вступительное слово. Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Разработка SMM-стратегий. Вступительное слово. Часть 2




							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки





					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Продвижение
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 3

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как работать с блогерами?
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Микро-инфлюенсеры и Twitter
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt SFS/Конкурсы/Giveaway/ВП/Марафоны
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Лоббирование
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Конкурс. Бюджет 100 000 ₽





							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Таргетированная реклама
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 4
								.cwprog-bottom-attention В данный модуль входит полный курс «Таргетированная реклама»


						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Введение в таргетинг
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Что такое таргетированная реклама
										.cwprog-titem-sub__txt Гарантии
										.cwprog-titem-sub__txt Разбор клиента
										.cwprog-titem-sub__txt Майнд-карты и построение проект-плана
										.cwprog-titem-sub__txt УТП
										.cwprog-titem-sub__txt Бизнес-страница
										.cwprog-titem-sub__txt Активация рекламного кабинета
										.cwprog-titem-sub__txt Разбор бизнес менеджера
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Аналитика
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Пиксель Facebook
										.cwprog-titem-sub__txt UTM-метки
										.cwprog-titem-sub__txt Google Analytics
										.cwprog-titem-sub__txt Яндекс.Метрика
										.cwprog-titem-sub__txt Google Tag Manager
										.cwprog-titem-sub__txt Facebook Analytics
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Настройка таргетинга
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Аудитории / Часть 1
										.cwprog-titem-sub__txt Аудитории / Часть 2
										.cwprog-titem-sub__txt Аудитории / Часть 3
										.cwprog-titem-sub__txt Цели / Оптимизация / Плейсменты
										.cwprog-titem-sub__txt Распределение бюджета рекламной кампании
										.cwprog-titem-sub__txt Настройка рекламных кампаний / Форматы объявлений / Часть 1
										.cwprog-titem-sub__txt Настройка рекламный кампаний / Форматы объявлений / Часть 2
										.cwprog-titem-sub__txt Таргетинг через Instagram
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Работа с посадочными и каталогом
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Аналитика рекламных кампаний
										.cwprog-titem-sub__txt Генерация лидов в Facebook
										.cwprog-titem-sub__txt Продажи товаров из каталога / Динамический ретаргетинг
										.cwprog-titem-sub__txt Как создать функциональный лендинг с товарами
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Стратегии таргетирования
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Стратегии по настройке таргетированной рекламы / Конверсии / Дубли / Часть 1
										.cwprog-titem-sub__txt Стратегии по настройке таргетированной рекламы / Часть 2
										.cwprog-titem-sub__txt Стратегии по настройке таргетированной рекламы / Часть 3 / Детальный таргетинг
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Управление и аналитика рекламных <div class="only-desktop"></div> кампаний
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Управление рекламными кампаниями
										.cwprog-titem-sub__txt Аналитика рекламных кампаний
										.cwprog-titem-sub__txt Отчетность и биллинг
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Кейсы
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Кейс / Магазин одежды / Как мы превратили почти 350 000 ₽ в 4.9 млн рублей
										.cwprog-titem-sub__txt Кейс по бренду корейской косметики PandaPatch
										.cwprog-titem-sub__txt Кейс по бренду корейской косметики Avajar
										.cwprog-titem-sub__txt Кейс по бренду Armstrong
								.cwprog-text-item
									.cwprog-titem-name.cwprog-titem-name--has-sub
										.cwprog-titem-name__txt Бонус
										.cwprog-titem-name__plus.js-cwprog-open-sub
									.cwprog-titem-sub.cyrilic-before(style="display:none;")
										.cwprog-titem-sub__txt Как таргетологу искать клиентов






							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Копирайтинг
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 5

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Копирайтинг. Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Копирайтинг. Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Смайлики в тексте. Когда они уместны, и сколько их должно быть, чтобы не отпугнуть ЦА
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Правила подбора TOV


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Разные площадки
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 6

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt YouTube/Полезная вода
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Чат-боты и их применения для бизнеса
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Интро в личный бренд
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt О каналах в Telegram
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Telegram для бизнеса

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title ВКонтакте
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 7

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Таргетированная реклама Вконтакте. Предисловие
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Инструменты таргетированной рекламы ВКонтакте
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Заводим рекламный кабинет ВКонтакте
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Показатели рекламных кампаний
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Виды объявлений ВКонтакте
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Настройки аудитории внутри кабинета ВК (обзор)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Настройка объявления (пример)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Пиксель ВКонтакте
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Работа с группами ВКонтакте
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Автоматическое управление ценой
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Автоматизация рекламной кампаний
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Работа с группами (расширенные инструменты)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Масштабирование рекламных кампаний
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Отбор рекламных площадок (маркет‑платформа)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Tag Manager
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Analytics

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

