section.complex-need
    .container2.complex-need__container
        .complex-need__title Комплексный подход к SMM с обратной связью от smmagnat, таргетолога, копирайтера, дизайнера 
    .container2.complex-need__container
        .complex-need__content
            .complex-need__decor Для&nbsp;кого?
            .complex-need__inner
                .complex-need__row
                    .complex-need__card
                        .complex-need__card-img
                            img(src="img/landings/complex/need-1.svg")
                        .complex-need__card-title SMM-специалистов
                        .complex-need__card-desc Для тех, кто решил крепко связать свою жизнь с SMM и хочет постоянно развиваться в этой области
                    .complex-need__card
                        .complex-need__card-img
                            img(src="img/landings/complex/need-2.svg")
                        .complex-need__card-title Маркетологов
                        .complex-need__card-desc Чья профессиональная деятельность требует максимального включения и постоянной актуализации знаний
                    .complex-need__card
                        .complex-need__card-img
                            img.complex-need__card-img-desc(src="img/landings/complex/need-3.svg")
                            img.complex-need__card-img-mob(src="img/landings/complex/need-3-mob.svg")
                        .complex-need__card-title.complex-need__card-title-xl Владельцев бизнеса
                        .complex-need__card-desc Готовых масштабировать свои продукты и услуги
