section.ylearn-section.ylearn-section--complex
	.container2.ylearn-container
		h2.ylearn-title Чему вы научитесь <br> на курсе

	#0ylearn-pinContainer.container2.ylearn-row-container
		#0ylearn-scroll.ylearn-row-wrap
			.ylearn-row
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--1
						.ylearn-item__title Основам <br>  создания <br> стратегий и <br>  тактик работы в <br>  SMM
						img.ylearn-item__img(src="img/landings/complex/yl.svg", alt="")
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--2.ylearn-item--small(style="background: #7B61FF; color:#ffffff;")
						.ylearn-item__title Качественному продакшну, <br>  дизайну и визуализации бренда
					.ylearn-item.ylearn-item--3.ylearn-item--tall
						.ylearn-item__title Основам таргетированной <br> рекламы и качественной <br> настройке рекламных кампаний
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--4
						.ylearn-item__title Продвижению <br>  продуктов на <br>  самые разные <br>  сегменты <br>  аудитории с <br>  помощью <br>  широкого <br>  спектра <br>  инструментов