section.complex-banner
    .complex-banner__decor-wrapper
        img.complex-banner__decor.complex-banner__decor-desctop(src='img/landings/complex/banner-decor.svg')
        //- img.complex-banner__decor.complex-banner__decor-mobile(src='img/landings/complex/banner-decor-mob.svg')
    .container2.complex-banner__container
        .complex-banner__content
            img.complex-banner__logo(src="img/logo2.png" alt="logo")
            .complex-banner__row
                .complex-banner__subtitle Комплексное<br/>обучение по SMM
                .complex-banner__kurs-info.js-callFancyVideo(data-src="images/452-old.mp4" data-preview="images/video-preview.jpg")
                    img.complex-banner__play(src="img/play.svg" alt="play")
                    .complex-banner__play-text О курсе &nbsp;
                        bold за 49 секунд
            .complex-banner__link Записаться
