section.recommendation
    .container2.recommendation__container
        .recommendation__title Подойдёт тем, кто интересуется курсом «Копирайтинг»
        .recommendation__row
            .recommendation__card-wrapper
                .recommendation__card.recommendation__card_smm
                    .recommendation__card-top-wrapper
                        .recommendation__card-subtheme SMM
                    .recommendation__card-bottom-wrapper
                        .recommendation__card-theme Экспресс SMM
                        .recommendation__card-time 1 месяц
            .recommendation__card-wrapper
                .recommendation__card.recommendation__card_copywriting
                    .recommendation__card-top-wrapper
                        .recommendation__card-subtheme Копирайтинг
                    .recommendation__card-bottom-wrapper
                        .recommendation__card-theme Копирайтинг
                        .recommendation__card-time 4 месяца
            .recommendation__card-wrapper
                .recommendation__card.recommendation__card_control
                    .recommendation__card-top-wrapper
                        .recommendation__card-subtheme Управление
                    .recommendation__card-bottom-wrapper
                        .recommendation__card-theme Удалённое управление проектами
                        .recommendation__card-time 1 месяц