.tutor {
  .footer {
    padding: 100px 0 116px 0;
    font-family: $tutorSecondaryFont;
    color: $tutorBlack;
    background-color: $tutorWhite;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1920px;
      padding: 0 71px 0 53px;
    }

    &-half {
      display: flex;
      flex-direction: column;

      &__left {
        text-align: left;
      }

      &__right {
        align-items: flex-end;
      }
    }

    &-text {
      &__top {
        margin-bottom: 46px;
        font-size: 40px;
        font-weight: 500;
      }

      &__bottom {
        font-size: 28px;
        opacity: 0.6;
      }
    }

    &-link {
      transition: $tutorTransition;

      @include hover {
        color: $tutorYellow;
        opacity: 1;
        transition: $tutorTransition;
      }
    }
  }
}
