/*
  Tutor page variables and mixins
*/

$tutorWhite: #ffffff;
$tutorBlack: #000000;
$green: #88f900;


$tutorTransition: all ease-out 0.3s;

@mixin hover {
  @media (min-width: 992px) {
    &:hover,
    &:focus {
      @content;
    }
  }
}

/*
  Tutor page global settings
*/
.page-template-smmagnat,
body.tutor {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: $tutorBlack;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid $tutorBlack;
    background-color: $green;
  }
}
