section.vacancies
    img.vacancies__decor(src="img/vacancies-decor.svg")
    .container2.vacancies__container
        .vacancies__content
            .vacancies__title-wrapper
                img.vacancies__img(src="img/vacancies-title-decor.svg")
                .vacancies__title Вакансии <span class="desk-nowrap">для выпускников</span>
            .vacancies__text  В общем чате выпускников мы регулярно размещаем вакансии от подрядчиков, которые хотят поработать с нашими выпускниками.
            .vacancies__text Если у вас есть вакансия или запрос на конкретного специалиста, напишите&nbsp;
                a.vacancies__link(href="#") нам сюда
                span .


