section.vacancies
    img.vacancies__decor(src="img/vacancies-decor.svg")
    .container2.vacancies__container
        .vacancies__content
            .vacancies__title-wrapper
                img.vacancies__img(src="img/vacancies-title-decor.svg")
                .vacancies__title Вакансии <span class="desk-nowrap">для выпускников</span>
            .vacancies__text  Мы регулярно размещаем в общем чате вакансии обратившихся к <span class="desk-nowrap">нам подрядчиков</span>, которые хотят поработать с нашими выпускниками.
            .vacancies__text Если вы один из подрядчиков вакансию оставить&nbsp;
                a.vacancies__link(href="#") можно здесь
                span .


