section.copywriting-programm.copywriting-programm--smm-strat
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Программа курса
				.cwprog-cards
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Знакомство с&nbsp;преподавателем
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видеоурок
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Урок 0

						.cwprog-card-right

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
							a.btn.btn--v2.btn--green.cwprog-card-btn.cwprog-card-btn--smm-strat(href="") Смотреть бесплатно


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Подготовительный этап стратегии
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Введение
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Брифинг
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Оформление


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Ситуативный анализ
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ информационного поля
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Выбор конкурентов
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Конкурентный анализ
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Клиентский опыт

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Стратегирование
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 3

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Формирование стратегических целей
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сущностная модель потребительского поведения
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt CJM, исходя из логики покупки
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Этап осмысления потребности
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Этап оценки и выбора
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Этап сделки
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Этап опыта после покупки
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Этап триггера
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Этап петли лояльности
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Контент-стратегия. Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Контент-стратегия. Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Стратегия таргетирования и медиастратегия
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Креативная стратегия

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Планирование
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 4

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Тактическое планирование
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Функциональные роли

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Контроль
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 5

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Продажи
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Другие цели

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						img.cwprog-card-gift(src="img/landings/gift.png", alt="")
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Бонусы
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 6

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Бренд-стратегия
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Брифинг 2.0 и юридические аспекты

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
