section.smm-strategy-potential
    .smm-strategy-potential__container.container2
        .smm-strategy-potential__title Когда заказывают стратегии?
        .smm-strategy-potential__content
            img.smm-strategy-potential__content-img(src="img/landings/smm-strategy/line-bg.svg")
            img.smm-strategy-potential__content-img-phone(src="img/landings/smm-strategy/line-bg-mobile.svg")

            .smm-strategy-potential__block.smm-strategy-potential__block_1 Когда всё слишком плохо
            .smm-strategy-potential__block.smm-strategy-potential__block_2 Когда всё слишком хорошо
            .smm-strategy-potential__block.smm-strategy-potential__block_3 На этапе разработки продукта/услуги
        .smm-strategy-potential__content.smm-strategy-potential__content--2
            img.smm-strategy-potential__content-img(src="img/landings/smm-strategy/line-bg.svg")
            img.smm-strategy-potential__content-img-phone(src="img/landings/smm-strategy/line-bg-mobile.svg")

            .smm-strategy-potential__block.smm-strategy-potential__block_1 Просто потому, что так надо
            .smm-strategy-potential__block.smm-strategy-potential__block_2 Давление снизу от коллег, давление сверху от руководства
            .smm-strategy-potential__block.smm-strategy-potential__block_3 Масштабирование каналов коммуникаций