section.smm-strategy-banner
    .smm-strategy-banner__decor-wrapper
        img.smm-strategy-banner__decor(src='img/landings/smm-strategy/smm-strategy-banner-decor.svg')
    .container2.smm-strategy-banner__container
        .smm-strategy-banner__content
            img.smm-strategy-banner__logo(src="img/logo2.png" alt="logo")
            .smm-strategy-banner__row
                .smm-strategy-banner__subtitle Создание <br> SMM-стратегий
                .smm-strategy-banner__kurs-info.js-callFancyVideo(data-src="images/452-old.mp4" data-preview="images/video-preview.jpg")
                    img.smm-strategy-banner__play(src="img/play.svg" alt="play")
                    .smm-strategy-banner__play-text О курсе &nbsp;
                        bold за 49 секунд
            .smm-strategy-banner__link Записаться
