section.smm-strategy-need
    .container2.smm-strategy-need__container
        .smm-strategy-need__title Стратегия — второй по&nbsp;важности документ после бизнес-плана
    .container2.smm-strategy-need__container
        .smm-strategy-need__content
            .smm-strategy-need__decor Для&nbsp;кого?
            .smm-strategy-need__inner
                .smm-strategy-need__row
                    .smm-strategy-need__card
                        .smm-strategy-need__card-img
                            img(src="img/landings/smm-strategy/smm-strategy-need-1.svg")
                        .smm-strategy-need__card-title Для тех, кто думает, а&nbsp;потом делает  
                        .smm-strategy-need__card-desc Научиться делать стратегии, в вашем случае, — это быть в гармонии с самим собой. Вы планомерно анализируете информацию, делаете аргументированные выводы и предложения, понимаете, как добиться поставленных целей.
                    .smm-strategy-need__card
                        .smm-strategy-need__card-img
                            img(src="img/landings/smm-strategy/smm-strategy-need-2.svg")
                        .smm-strategy-need__card-title Для тех, кто хочет стать теми, кто сначала думает, а потом делает
                        .smm-strategy-need__card-desc Инициативность и ажитация — прекрасные качества. Но в бизнесе требуются структурированность и рассудительность. Курс направит вашу деятельную натуру в верное русло последовательных процессов.
                    .smm-strategy-need__card
                        .smm-strategy-need__card-img
                            img(src="img/landings/smm-strategy/smm-strategy-need-3.svg")
                        .smm-strategy-need__card-title.smm-strategy-need__card-title-xl SMM-специалистов
                        .smm-strategy-need__card-desc Вы значительно углубите понимание невидимых для подписчиков процессов, которые обеспечивают функционирование аккаунта.
                    .smm-strategy-need__card
                        .smm-strategy-need__card-img
                            img(src="img/landings/smm-strategy/smm-strategy-need-4.svg")
                        .smm-strategy-need__card-title Маркетологов
                        .smm-strategy-need__card-desc Вы добавите в резюме дополнительный специальный навык, подкрепив его сертификатом и кейсом. А можете неплохо зарабатывать, перейдя только на создание SMM-стратегий.
                    .smm-strategy-need__card
                        .smm-strategy-need__card-img
                            img(src="img/landings/smm-strategy/smm-strategy-need-5.svg")
                        .smm-strategy-need__card-title Предпринимателей
                        .smm-strategy-need__card-desc Сэкономите сотню-другую тысяч рублей на разработку полноценной SMM-стратегии, описав самостоятельно воронку маркетинга своего бизнеса.