section.ylearn-section.ylearn-section--smm-strat
	.container2.ylearn-container
		h2.ylearn-title Чему вы научитесь <br> на курсе

	#ylearn-pinContainer.container2.ylearn-row-container
		#ylearn-scroll.ylearn-row-wrap
			.ylearn-row
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--1(style="background: #7B61FF; color:#ffffff;")
						.ylearn-item__title Правильному <br> брифингу <br> клиентов
						img.ylearn-item__img(src="img/landings/comp.svg", alt="")
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--2.ylearn-item--small(style="background: #7B61FF; color:#ffffff;")
						.ylearn-item__title Работе с большими массивами <br>  данных
					.ylearn-item.ylearn-item--3.ylearn-item--tall
						.ylearn-item__title Современным методикам <br>  анализа и описания <br>  информационного поля,  <br> конкурентов, потребителей


				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--4
						.ylearn-item__title Формированию <br>  стратегических <br>  целей на разных <br>  уровнях <br>  абстракции
						img.ylearn-item__img(src="img/landings/smm-strategy/pic100.svg", alt="")
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--5(style="background: #7B61FF; color:#ffffff;")
						.ylearn-item__title Пониманию <br>  аргументации, <br>  на которую <br>  опираются <br>  маркетологи <br>  конкурентов
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--6
						.ylearn-item__title Построению <br>  эффективной <br>  многоступенчатой <br>  воронки маркетинга
						img.ylearn-item__img(src="img/landings/smm-strategy/move.svg", alt="")