section.copywriting-work.copywriting-work--smm-strat
	.copywriting-work__container.container
		.copywriting-work__title Как проходит курс
	.copywriting-work__container.copywriting-work__container--2.container
		.copywriting-work__content
			.copywriting-work__row
				.copywriting-work__card-md.copywriting-work__card-md-one.copywriting-work__card-md-one--smm-strat
					.copywriting-work__card-text Собственная платформа и <br/> текстовый формат курса
					.copywriting-work__card-btn.btn.btn--border Почему?
				.copywriting-work__card-md.copywriting-work__card-md-two
					.copywriting-work__card-text Общение в чате <br/> в Telegram
				.copywriting-work__card-xl
					.copywriting-work__card-img-wrapper
						img.copywriting-work__card-img(src="img/check.svg")
					.copywriting-work__text-wrapper
						.copywriting-work__card-title Индивидуальная <div class="only-mobile"></div> проверка домашних заданий
						.copywriting-work__card-desc Несмотря на то что формат текстовый мы понимаем что живое общение необходимо. Поэтому два раза за курс мы разбираем ваши вопросы в прямом эфире.
				.copywriting-work__card-md.copywriting-work__card-md-bottom
					.copywriting-work__card-text 1 месяц
				.copywriting-work__card-md.copywriting-work__card-md-bottom
					.copywriting-work__card-text 20 модулей