section.smm-strategy-potential
    .smm-strategy-potential__container.container2
        .smm-strategy-potential__title SMM-стратегии это&nbsp;возможность:
        .smm-strategy-potential__content
            img.smm-strategy-potential__content-img(src="img/landings/smm-strategy/line-bg.svg")
            img.smm-strategy-potential__content-img-phone(src="img/landings/smm-strategy/line-bg-mobile.svg")

            .smm-strategy-potential__block.smm-strategy-potential__block_1 Расширить свои услуги
            .smm-strategy-potential__block.smm-strategy-potential__block_2 Видеть все процессы и видеть общую картину
            .smm-strategy-potential__block.smm-strategy-potential__block_3 Иметь согласованный план действий с&nbsp;клиентом, по которому вам не ебут мозги