extends layouts/admin

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .admin-top
        .container
            .admin-top__flex
                .admin-top__title Создание потока
                .admin-top__title Экспресс SMM

    .admin-top-bar
        .container
            .admin-top-bar__flex
                a.admin-top-bar__back(href="")
                    .admin-top-bar__back-img
                        img(src="img/left-arrow.png")
                    .admin-top-bar__back-text Выйти на главную
                button.admin-top-bar__save.btn.btn--dark(disabled type="button") Сохранить

    .admin-kurs-info
        .container
            .admin-kurs-info__title Экспресс SMM <span>#6</span>

    .admin-params
        .container
            .admin-params__flex
                .admin-params__col
                    .admin-params__dates
                        .admin-params__date
                            .admin-params__date-label Cтарт курса
                            .admin-params__date-input
                                input.input-style(type="date" name="date_from")
                        .admin-params__date
                            .admin-params__date-label Конец курса
                            .admin-params__date-input
                                input.input-style(type="date" name="date_to")
                .admin-params__col.admin-params__col--pt
                    .admin-params__checkbox
                        label.checkbox
                            input(type="checkbox" name="potok" value="1" checked)
                            .checkbox__icon
                            .checkbox__text Не потоковый
                .admin-params__col
                    .admin-params__checkbox
                        label.checkbox
                            input(type="checkbox" name="" value="1")
                            .checkbox__icon
                            .checkbox__text Уроки открываются после прохождения предыдущего
                    .admin-params__checkbox
                        label.checkbox
                            input(type="checkbox" name="" value="1")
                            .checkbox__icon
                            .checkbox__text Уроки открыты сразу
                    .admin-params__checkbox
                        label.checkbox
                            input(type="checkbox" name="" value="1")
                            .checkbox__icon
                            .checkbox__text Открывать уроки с интервалом
                        select.input-style.input-style--select(name="interval")
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                        | дня

    .admin-lists
        .container
            .admin-lists__title Добавление уроков
            .admin-lists__flex
                .admin-lists__col.admin-lists__col--left.admin-lists__col--min
                    .admin-list
                        .admin-list__top
                            .admin-list__top-left
                            .admin-list__top-title Экспресс SMM <span>#6</span>

                        ol.kurs-list#kurs-list
                            li.kurs-list__item
                                input(type="hidden" name="urok[]" value="1")
                                .kurs-list__item-title Знакомство с преподавателем
                                .kurs-list__item-dots
                                a.kurs-list__item-del.js-remove-urok(href="javascript:;")
                                input.input-style.kurs-list__item-date(type="date" name="date_start[]")
                                .kurs-list__item-checkbox
                                    label.checkbox
                                        input(type="checkbox" name="" value="1")
                                        .checkbox__icon
                                        .checkbox__text
                                            img(src="img/present-drag.png" alt="")
                            li.kurs-list__item
                                input(type="hidden" name="urok[]" value="1")
                                .kurs-list__item-title Введение
                                .kurs-list__item-dots
                                a.kurs-list__item-del.js-remove-urok(href="javascript:;")
                                input.input-style.kurs-list__item-date(type="date" name="date_start[]")
                                .kurs-list__item-checkbox
                                    label.checkbox
                                        input(type="checkbox" name="" value="1")
                                        .checkbox__icon
                                        .checkbox__text
                                            img(src="img/present-drag.png" alt="")
                            li.kurs-list__item
                                input(type="hidden" name="urok[]" value="1")
                                .kurs-list__item-title Что то еще
                                .kurs-list__item-dots
                                a.kurs-list__item-del.js-remove-urok(href="javascript:;")
                                input.input-style.kurs-list__item-date(type="date" name="date_start[]")
                                .kurs-list__item-checkbox
                                    label.checkbox
                                        input(type="checkbox" name="" value="1")
                                        .checkbox__icon
                                        .checkbox__text
                                            img(src="img/present-drag.png" alt="")

                .admin-lists__col.admin-lists__col--right.admin-lists__col--min
                    .admin-list
                        .admin-list__top
                            .admin-list__top-left
                                a.btn.btn--dark.btn--small.js-add-all-urok(href="javascript:;") Добавить все
                            .admin-list__top-title Все уроки

                        ol.kurs-list#kurs-list-all
                            li.kurs-list__item
                                input(type="hidden" name="urok[]" value="23")
                                .kurs-list__item-title Знакомство с преподавателем 22
                                .kurs-list__item-dots
                                a.kurs-list__item-del.js-remove-urok(href="javascript:;")
                                input.input-style.kurs-list__item-date(type="date" name="date_start[]")
                                .kurs-list__item-checkbox
                                    label.checkbox
                                        input(type="checkbox" name="" value="1")
                                        .checkbox__icon
                                        .checkbox__text
                                            img(src="img/present-drag.png" alt="")
                                a.kurs-list__item-add(href="javascript:;")
                            li.kurs-list__item
                                input(type="hidden" name="urok[]" value="22")
                                .kurs-list__item-title Знакомство с преподавателем 23
                                .kurs-list__item-dots
                                a.kurs-list__item-del.js-remove-urok(href="javascript:;")
                                input.input-style.kurs-list__item-date(type="date" name="date_start[]")
                                .kurs-list__item-checkbox
                                    label.checkbox
                                        input(type="checkbox" name="" value="1")
                                        .checkbox__icon
                                        .checkbox__text
                                            img(src="img/present-drag.png" alt="")
                                a.kurs-list__item-add(href="javascript:;")
