extends layouts/default2

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .article
        .article__top
            .container
                .article__top-left
                    .article__top-empty
                    .article__top-center
                        .article__top-bread
                            a(href="") Экспресс SMM
                        h1.article__top-title Аудитория
                    .article__top-btns
                        a.btn.btn--white(href="") Предыдущий урок
                        a.btn.btn--white(href="") Главное меню
            .article__top-image
                img(src="images/teacher.jpg" alt="")

        .article__content
            .arctic-section.arctic-text
                .container
                    .arctic-text__inner.arctic-section__text
                        h3.super asdsamdksalmdsalkdmal madlk amdlkam
                        p ajsndjksa nkajsnd kjasn dkasdn sajdnkdna kjndj asnkj andkjasn djdn askj dndjknask njd nakjdn askjd nasnd sjandaskjdnaskjdn kjand sajkdn
                        p asjdnksaj ndsakjdnsakd nasdjknsa jkdnajk dnjkdnasjkd nasjkd naskjd naskj dnasjkd na kjdnkja ndkjasndkajsndn djkasn dkjasnd jkn ajskdnasjk dnsajk dnjas ndjas
                        p asjdnksaj ndsakjdnsakd nasdjknsa jkdnajk dnjkdnasjkd nasjkd naskjd naskj dnasjkd na kjdnkja ndkjasndkajsndn djkasn dkjasnd jkn ajskdnasjk dnsajk dnjas ndjas

            .arctic-section.arctic-btns
                .container
                    .arctic-btns__inner
                        a.arctic-btns__btn.btn(href="" target="_blank") Кнопка с любым текстом
                        a.arctic-btns__btn.btn.btn--border(href="" target="_blank") Кнопка с любым текстом

            .arctic-section.arctic-slider
                .container
                    .arctic-slider__container
                        .arctic-slider__slide
                            img(src="images/teacher.jpg" alt="")
                        .arctic-slider__slide
                            img(src="images/banner.jpg" alt="")
                        .arctic-slider__slide
                            img(src="images/teacher.jpg" alt="")
                        .arctic-slider__slide
                            img(src="images/banner.jpg" alt="")
                        .arctic-slider__slide
                            img(src="images/teacher.jpg" alt="")
                        .arctic-slider__slide
                            img(src="images/banner.jpg" alt="")


            .arctic-test
                .container
                    .arctic-test__inner
                        .arctic-test__image(style="background-image:url(images/test.jpg);")
                        .arctic-test__image.arctic-test__image--active(style="background-image:url(images/test.jpg);")
                            .arctic-test__counter
                                span 1
                                | /11
                            .arctic-test__quest Если пользователь еще не прошел тест и не заходил в урок, то выводится ли 0/12?
                        .arctic-test__home
                            .arctic-test__type Тест на усвоение материала
                            .arctic-test__title Тест на усвоение материала
                            a.btn.arctic-test__start.js-test-reset(href="javascript:;") Пройти
                        .arctic-test__step
                            .arctic-test__questions
                                label.arctic-test__questions-item.q-checkbox
                                    .q-checkbox__flex
                                        input(type="checkbox" name="quest" value="1")
                                        .q-checkbox__icon
                                        .q-checkbox__text Если пользователь не прошёл
                                label.arctic-test__questions-item.q-checkbox.success
                                    .q-checkbox__flex
                                        input(type="checkbox" name="quest" value="1" checked)
                                        .q-checkbox__icon
                                        .q-checkbox__text Государственный канал "Россия 1" снял сюжет про виллу в немецком городе Фрайбург. Говорится, что Алексей Навальный жил там пару месяцев перед возвращением в Россию.
                                    .q-checkbox__text-help Все правильно! Действующее вещество в составе «Аспирина» — ацетилсалициловая кислота. Она же содержится в других лекарствах.
                                label.arctic-test__questions-item.q-checkbox.error
                                    .q-checkbox__flex
                                        input(type="checkbox" name="quest" value="1" checked)
                                        .q-checkbox__icon
                                        .q-checkbox__text Если пользователь не прошёл
                                    .q-checkbox__text-help Неверно. МНН «Аспирина» — ацетиланаовая кислота.
                            .arctic-test__questions
                                label.arctic-test__questions-item.q-checkbox.q-checkbox--radio
                                    .q-checkbox__flex
                                        input(type="radio" name="quest2" value="1")
                                        .q-checkbox__icon
                                        .q-checkbox__text Если пользователь не прошёл
                                label.arctic-test__questions-item.q-checkbox.q-checkbox--radio.success
                                    .q-checkbox__flex
                                        input(type="radio" name="quest2" value="1" checked)
                                        .q-checkbox__icon
                                        .q-checkbox__text Государственный канал "Россия 1" снял сюжет про виллу в немецком городе Фрайбург. Говорится, что Алексей Навальный жил там пару месяцев перед возвращением в Россию.
                                    .q-checkbox__text-help Все правильно! Действующее вещество в составе «Аспирина» — ацетилсалициловая кислота. Она же содержится в других лекарствах.
                                label.arctic-test__questions-item.q-checkbox.q-checkbox--radio.error
                                    .q-checkbox__flex
                                        input(type="radio" name="quest2" value="1" checked)
                                        .q-checkbox__icon
                                        .q-checkbox__text Если пользователь не прошёл
                                    .q-checkbox__text-help Неверно. МНН «Аспирина» — ацетиланаовая кислота.
                            .arctic-test__btns
                                a.btn.btn--border.js-check-quests(href="javascript:;") Проверить
                                a.btn.btn--dark.js-next-quests(href="javascript:;") Следующий вопрос

                        .arctic-test__finish
                            .arctic-test__finish-image(style="background-image:url(images/test.jpg);")
                                .arctic-test__finish-score 5/11
                            .arctic-test__finish-info
                                .arctic-test__finish-text Можно лучше, перечитать и сделать уроки домашку - и всё уложится в памяти
                                a.arctic-test__finish-btn.btn.js-test-reset(href="javascript:;") Пройти ещё раз