extends layouts/lands

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	include partials/brand/brand-banner
	include partials/brand/brand-need
	include partials/brand/brand-is-need
	include partials/brand/brand-program
	include partials/brand/brand-work
	include partials/copywriting/cop-feedback
	include partials/brand/brand-teacher

	include partials/brand/brand-is

	include partials/brand/brand-ylearn.pug

	include partials/copywriting/cop-payment.pug
	include partials/brand/brand-questions
	include partials/feedback/feedback
	include partials/copywriting/other-courses.pug
	include partials/_footer-light


