extends layouts/lands

block vars
    -
        const page = {
            title: 'index.html'
        };

block main
    include partials/brand/brand-banner
    include partials/brand/brand-need
    include partials/brand/brand-is-need
    include partials/brand/brand-is

    //- include partials/target/target-features
    //- include partials/smm-strategy/smm-strategy-potential

    //- include partials/motion/motion-info


    include partials/brand/brand-teacher
    //- include partials/vacancies/vacancies
    //- include partials/motion/motion-components

    include partials/brand/brand-questions
    //- include partials/feedback/feedback
    //- include partials/_footer-light

