extends layouts/lands

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	include partials/complex/complex-banner
	include partials/complex/complex-need
	include partials/complex/complex-features
	include partials/complex/complex-program
	include partials/complex/complex-feedback.pug
	include partials/complex/complex-work
	include partials/teacher/teacher-complex.pug

	include partials/vacancies/vacancies
	include partials/complex/complex-ylearn.pug

	include partials/copywriting/cop-payment.pug
	include partials/questions/complex-questions
	include partials/feedback/feedback
	include partials/copywriting/other-courses.pug
	include partials/_footer-light

