extends layouts/lands

block vars
    -
        const page = {
            title: 'index.html'
        };

block main
    include partials/context/context-banner
    include partials/context/context-need
    include partials/context/context-advantages
    include partials/context/context-program
    include partials/context/context-feedback
    include partials/context/context-work
    //include partials/context/context-features

    //- include partials/smm-strategy/smm-strategy-potential

    //- include partials/motion/motion-info


    include partials/teacher/context-teacher
    include partials/vacancies/vacancies
    include partials/context/context-ylearn
    include partials/context/context-payment
    include partials/context/context-questions
    //- include partials/motion/motion-components

    //- include partials/feedback/feedback
    //- include partials/context/context-other-courses
    //- include partials/_footer-light

