extends layouts/lands

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	.copywriting-banner__decor
		img.copywriting-banner__decor-img(src="img/decor.svg")
		include partials/copywriting/copywriting-banner

	section.copywriting-need
		img.copywriting-need__bg-1(src="img/landings/copywriting/copywriting-need-bg-1.svg")
		img.copywriting-need__bg-2(src="img/landings/copywriting/copywriting-need-bg-2.svg")
		img.copywriting-need__bg-mob(src="img/landings/copywriting/copywriting-needbg-mob.svg")

		.container2.copywriting-need__container
			.copywriting-need__title Слово — главный способ воздействия на&nbsp;других людей
		.copywriting-need__star-wrap
			.copywriting-need__star
				img(src="img/orange-star.svg", alt="")
		.container2.copywriting-need__container
			.copywriting-need__content
				.copywriting-need__decor Для&nbsp;кого?
				.copywriting-need__inner
					.copywriting-need__row
						.copywriting-need__card
							.copywriting-need__card-img
								img(src="img/landings/copywriting/copywriting-need-1.svg")
							.copywriting-need__card-title Для всех
							.copywriting-need__card-desc Кто хочет научиться <br> писать
						.copywriting-need__card
							.copywriting-need__card-img
								img(src="img/landings/copywriting/copywriting-need-2.svg")
							.copywriting-need__card-title Владельцев компаний и&nbsp;блогеров
							.copywriting-need__card-desc Чтобы научиться понятно и грамотно доносить <br> свою мысль
						.copywriting-need__card
							.copywriting-need__card-img
								img(src="img/landings/copywriting/copywriting-need-3.svg")
							.copywriting-need__card-title Копирайтеров
							.copywriting-need__card-desc Чтобы научиться писать коммерческие посты или структурировать свои знания
						.copywriting-need__card
							.copywriting-need__card-img
								img(src="img/landings/copywriting/copywriting-need-4.svg")
							.copywriting-need__card-title Маркетологов
							.copywriting-need__card-desc Чтобы понимать, как <br>  создавать лучший контент


	include partials/copywriting/copywriting-kurs


	section.copywriting-programm
		.container2.copywriting-programm__container
			.copywriting-programm__content
				.copywriting-programm__inner
					h2.cwprog-title Програма курса
					.cwprog-desc
						.cwprog-desc-pic
							img(src="img/landings/copywriting/prog/Document.svg")
						span.cwprog-desc-text — курс содержит домашнее задание
					.cwprog-cards
						.cwprog-card
							.cwprog-card-left
								.cwprog-card-left__top
									h3.cwprog-card-title Знакомство с&nbsp;преподавателем
									.cwprog-card-types
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
											.cwprog-card-type__name Видео-урок
								.cwprog-card-left__bottom
									.cwprog-card-part-name Урок 0

							.cwprog-card-right
								.cwprog-text
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt О себе
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Для чего нужно уметь писать
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Страхи перед текстом
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Как научиться писать?
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Личные фишки, <span class="mob-no-wrap">как улучшить текст</span>

								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
								a.btn.btn--v2.btn--green.cwprog-card-btn(href="") Получить бесплатно


						.cwprog-card
							.cwprog-card-left
								.cwprog-card-left__top
									h3.cwprog-card-title Как написать всё, <br> что угодно?
									.cwprog-card-types
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
											.cwprog-card-type__name Текстовые уроки
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
											.cwprog-card-type__name Домашние задания
								.cwprog-card-left__bottom
									.cwprog-card-part-name Модуль 1

							.cwprog-card-right
								.cwprog-text
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Чему научит вас курс?
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Как полюбить русский язык?
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Основы каждого текста
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Словарный запас
											.cwprog-titem-sub__txt План
											.cwprog-titem-sub__txt Абзацы
											.cwprog-titem-sub__txt Штампы
											.cwprog-titem-sub__txt Эстетика текста
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Как сделать, чтобы вас поняли и дочитали?
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Простота
											.cwprog-titem-sub__txt Обращение
											.cwprog-titem-sub__txt Лаконичность
											.cwprog-titem-sub__txt Полезность
											.cwprog-titem-sub__txt Ситуативность
											.cwprog-titem-sub__txt Сокращение
											.cwprog-titem-sub__txt Вдохновение
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Про что писать
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Разделяй и пиши
											.cwprog-titem-sub__txt Сомневаетесь — не пишите
											.cwprog-titem-sub__txt Рерайт
											.cwprog-titem-sub__txt Изучение материала
											.cwprog-titem-sub__txt Контент-план
											.cwprog-titem-sub__txt Ещё кое-что
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Как найти свой стиль?
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Сервисы, которые помогут сделать текст лучше


								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
						.cwprog-card
							.cwprog-card-left
								.cwprog-card-left__top
									h3.cwprog-card-title Тексты и маркетинг
									.cwprog-card-types
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
											.cwprog-card-type__name Тексты и маркетинг
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
											.cwprog-card-type__name Домашние задания
								.cwprog-card-left__bottom
									.cwprog-card-part-name Модуль 2

							.cwprog-card-right
								.cwprog-text
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Копирайтинг в основе маркетинга
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Продукт
											.cwprog-titem-sub__txt ЦА
											.cwprog-titem-sub__txt Тесты гипотез с помощью текстов
											.cwprog-titem-sub__txt Тексты на таргет/продающие тексты
											.cwprog-titem-sub__txt Формулы
											.cwprog-titem-sub__txt Заголовки и СТА

									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Письменный маркетинг
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Анонсы
											.cwprog-titem-sub__txt Рассылки
											.cwprog-titem-sub__txt Статьи
											.cwprog-titem-sub__txt Лендинги и сайты
											.cwprog-titem-sub__txt Афиши и моушен
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Анализ своего текста, текста клиента и конкурентов
									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Заключение

								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Тексты и маркетинг
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания

						.cwprog-card
							.cwprog-card-left
								.cwprog-card-left__top
									h3.cwprog-card-title Тексты для социальных сетей и остального интернета
									.cwprog-card-types
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
											.cwprog-card-type__name Тексты и маркетинг
										.cwprog-card-type
											.cwprog-card-type__pic
												img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
											.cwprog-card-type__name Домашние задания
								.cwprog-card-left__bottom
									.cwprog-card-part-name Модуль 3

							.cwprog-card-right
								.cwprog-text
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt С чего начать новичку?
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Тестовые задания
											.cwprog-titem-sub__txt О биржах
											.cwprog-titem-sub__txt Как повысить свою ценность в глаза клиента?
											.cwprog-titem-sub__txt О портфолио
											.cwprog-titem-sub__txt График работы
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Как это написать?
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Инстаграм
											.cwprog-titem-sub__txt Вконтакте
											.cwprog-titem-sub__txt Телеграм
											.cwprog-titem-sub__txt Яндекс.Дзен
											.cwprog-titem-sub__txt Сценарии
											.cwprog-titem-sub__txt Тексты на сайт
											.cwprog-titem-sub__txt Письма
											.cwprog-titem-sub__txt СЕО-копирайтинг
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Копирайтинг и SMM
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Как писать в разных стилях и зачем это блогеру?
											.cwprog-titem-sub__txt Контент-план и рубрики
											.cwprog-titem-sub__txt Лексикон рынка
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Разработка TOV
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Блогеру
											.cwprog-titem-sub__txt Бренду
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Заблуждения о копирайтинге
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Креативность от которой тошнит
											.cwprog-titem-sub__txt Триггеры
											.cwprog-titem-sub__txt Конкуренция
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Особенности профессии
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Сомневаетесь — не пишите 2.0
											.cwprog-titem-sub__txt Работать ли со сложными темами
											.cwprog-titem-sub__txt Оформление текста
											.cwprog-titem-sub__txt Что ещё нужно уметь
									.cwprog-text-item
										.cwprog-titem-name.cwprog-titem-name--has-sub
											.cwprog-titem-name__txt Взаимодействие с клиентами
											.cwprog-titem-name__plus.js-cwprog-open-sub
										.cwprog-titem-sub.cyrilic-before(style="display:none;")
											.cwprog-titem-sub__txt Что делать с самым умным клиентом?
											.cwprog-titem-sub__txt Люди бывают разными. Как с ними работать?

									.cwprog-text-item
										.cwprog-titem-name
											.cwprog-titem-name__txt Заключение

								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Тексты и маркетинг
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания

	include partials/copywriting/copywriting-work

	//- section.copywriting-feedback
	//- 	.container2.cwfeedback-container
	//- 		.cwfeedback-title Что по поводу курса <br> думают наши выпускники:
	//- 		.cwfeedback-slider.js-cwfeedback-slider
	//- 			.cwfeedback-slider__slide
	//- 				img(src="img/landings/copywriting/feedback/slide1.png", alt="")
	//- 			.cwfeedback-slider__slide
	//- 				img(src="img/landings/copywriting/feedback/slide1.png", alt="")
	//- 			.cwfeedback-slider__slide
	//- 				img(src="img/landings/copywriting/feedback/slide2.png", alt="")
	//- 		.cwfeedback-btn-wrap
	//- 			.btn.btn--white.cwfeedback-btn Смотреть всё
	//- 		.cwfeedback-description
	//- 			.cwfeedback-description__txt Только отзывы от реальных людей, <br> которые можно проверить
	include partials/copywriting/teacher
	include partials/copywriting/copywriting-features
	include partials/copywriting/ylearn

	section.cart-page
		.container
			h1.cart-page__title Оплата
			.cart-page__start Старт <span>30 октября</span>
			.cart-page__flex
				.cart-page__product.product
					.product__title Забронировать
					.product__price
						.product__price-new 2 000 ₽
					.product__info Забронируйте место со скидкой. Доплатить 8 000 ₽ надо в течение 15 дней в личном кабинете.
					.product__btns
						a.product__btn.btn.btn--border(href="")
							| Забронировать

				.cart-page__product.product.product--dark
					.product__title Полная оплата
					.product__price
						.product__price-new 10 000 ₽
						.product__price-old 13 000 ₽
					.product__info В связи с индивидуальными проверками домашних заданий — количество мест ограничено.
					.product__btns
						a.product__btn.btn(href="")
							| Оплатить
						.product__timer
							| До конца акции осталось: <span id="cart-timer">23 : 29 : 41</span>
			.cart-page__agree
				svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M16.3344 2.7502H7.66537C4.64437 2.7502 2.75037 4.8892 2.75037 7.9162V16.0842C2.75037 19.1112 4.63537 21.2502 7.66537 21.2502H16.3334C19.3644 21.2502 21.2504 19.1112 21.2504 16.0842V7.9162C21.2504 4.8892 19.3644 2.7502 16.3344 2.7502Z' stroke='#BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
					path(d='M8.43982 12.0002L10.8138 14.3732L15.5598 9.6272' stroke='#BABABA' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
				| Я соглашаюсь на обработку моих <a href="" target="_blank">персональных данных</a>.
			.cart-page__payment
				img(src="images/payment.png" alt="payment")

	include partials/vacancies/vacancies
	include partials/questions/questions
	include partials/feedback/feedback
	include partials/_footer-light

