extends layouts/lands

block vars
    -
        const page = {
            title: 'index.html'
        };

block main
    include partials/express-smm/express-smm-banner
    include partials/express-smm/express-smm-need
    include partials/express-smm/express-smm-features
    //- include partials/smm-strategy/smm-strategy-potential

    //- include partials/motion/motion-info


    //- include partials/teacher/teacher-smm
    //- include partials/vacancies/vacancies
    //- include partials/motion/motion-components

    //- include partials/questions/questions
    //- include partials/feedback/feedback
    //- include partials/_footer-light

