extends layouts/lands

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	include partials/express-smm/express-smm-banner
	include partials/express-smm/express-smm-need
	include partials/express-smm/express-smm-features
	include partials/express-smm/express-smm-program




	include partials/express-smm/express-smm-work
	include partials/express-smm/express-smm-feedback
	include partials/teacher/express-smm-teacher
	include partials/vacancies/vacancies
	include partials/express-smm/express-smm-ylearn.pug

	include partials/express-smm/payment.pug
	include partials/questions/express-smm-questions
	//- include partials/feedback/feedback
	//- include partials/copywriting/other-courses.pug
	//- include partials/_footer-light