extends layouts/newhome

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    include partials/__header-home
    .home
        .container2.container2--home
            .home-top
                .home-top__left школа <br> диджитал навыков <br>от <span id="anim-txt">практикующих</span> <br>профессионалов
                .home-top__right
                    .home-top__right-img
                        <iframe src="https://player.vimeo.com/video/529753809?byline=0&portrait=0&badge=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    .home-top__right-text О школе <strong>за 41 секунду</strong>

            .home-block.home-block--1
                .home-block__img
                    img(src="img/main/home1.svg" alt="")
                .home-block__right
                    .home-block__text
                        p Каждый преподаватель — это либо специалист нашей студии, либо владелец бизнеса
                    .home-block__link
                        a(href="https://smmagnat.ru/portfolio/" target="_blank") портфолио студии
            .home-block.home-block--2
                .home-block__img
                    img(src="img/main/home2.svg" alt="")
                .home-block__right
                    .home-block__text
                        p Мы не приглашаем именитых гостей ради заголовков
                        p У нас только практические знания для приобретения навыка

            .home-partners
                .home-partners__text За 3 года через мы выпустили более 7&nbsp;000 специалистов, среди которых сотрудники
                .home-partners__flex
                    .home-partners__item
                        img(src="img/main/p1.png")
                    .home-partners__item
                        img(src="img/main/p2.svg")
                    .home-partners__item
                        img(src="img/main/p3.svg")
                    .home-partners__item
                        img(src="img/main/p4.png")
                    .home-partners__item
                        img(src="img/main/p5.svg")
                    .home-partners__item
                        img(src="img/main/p6.svg")
                    .home-partners__item
                        img(src="img/main/p7.svg")
                    .home-partners__item
                        img(src="img/main/p8.svg")


            .home-kurses#kurses
                .home-kurses__title Направления
                .tabs
                    ul.tabs__list
                        li.active
                            a(href="javascript:;" data-cat="") Все
                        li
                            a(href="javascript:;" data-cat="SMM") SMM
                        li
                            a(href="javascript:;" data-cat="Таргетинг") Таргетинг
                        li
                            a(href="javascript:;" data-cat="Дизайн") Дизайн
                        li
                            a(href="javascript:;" data-cat="Копирайтинг") Копирайтинг
                        li
                            a(href="javascript:;" data-cat="Контекст") Контекст

                .kurses.tab-items
                    .kurses__kurs.kurs(data-cat="SMM").kurs-new--1
                        a.kurs__inner(href="" style="background-color:#6D16E8;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n1.png" alt="")
                                .kurs__top
                                    .kurs__tag SMM
                                    .kurs__date-home Старт сразу
                                .kurs__bottom
                                    .kurs__title-home Экспресс SMM
                                    .kurs__date-home 1 месяц
                    .kurses__kurs.kurs(data-cat="Копирайтинг").kurs-new--2.kurs-new--new-banner
                        a.kurs__inner(href="" style="background-color:#1840F8;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n2.svg" alt="")
                                .kurs__top
                                    .kurs__tag Копирайтинг
                                .kurs__bottom
                                    .kurs__title-home Копирайтинг 2.0
                                    .kurs__date-home 4 месяцa
                    .kurses__kurs.kurs(data-cat="Управление").kurs-new--3
                        a.kurs__inner(href="" style="background-color:#FF9B07;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n3.png" alt="")
                                .kurs__top
                                    .kurs__tag Управление
                                .kurs__bottom
                                    .kurs__title-home Удалённое <br>управление <br>проектами
                                    .kurs__date-home 4 месяцa
                    .kurses__kurs.kurs(data-cat="SMM").kurs-new--4
                        a.kurs__inner(href="" style="background-color:#211D2C;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n4.svg" alt="")
                                .kurs__top
                                    .kurs__tag SMM
                                .kurs__bottom
                                    .kurs__title-home Личный бренд
                                    .kurs__date-home 1 месяц
                    .kurses__kurs.kurs(data-cat="Дизайн").kurs-new--5
                        a.kurs__inner(href="" style="background-color:#181849;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n5.png" alt="")
                                .kurs__top
                                    .kurs__tag Дизайн
                                .kurs__bottom
                                    .kurs__title-home Рекламный <br>motion-дизайн
                                    .kurs__date-home 1 месяц
                    .kurses__kurs.kurs(data-cat="SMM").kurs-new--6
                        a.kurs__inner(href="" style="background-color:#32174A;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n6.png" alt="")
                                .kurs__top
                                    .kurs__tag SMM
                                .kurs__bottom
                                    .kurs__title-home Создание <br>SMM-стратегий
                                    .kurs__date-home 1 месяц
                    .kurses__kurs.kurs(data-cat="Таргетинг").kurs-new--7
                        a.kurs__inner(href="" style="background-color:#3C599B;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n7.svg" alt="")
                                .kurs__top
                                    .kurs__tag Таргетинг
                                .kurs__bottom
                                    .kurs__title-home Таргетированная реклама в Facebook и Instagram
                                    .kurs__date-home 4 месяцa
                    .kurses__kurs.kurs(data-cat="Контекст").kurs-new--8.kurs-new--new-banner
                        a.kurs__inner(href="" style="background-color:#C15DD5;")
                            .kurs__content
                                img.kurs__img-new(src="img/main/n8.svg" alt="")
                                .kurs__top
                                    .kurs__tag Контекст
                                .kurs__bottom
                                    .kurs__title-home Контекстная реклама
                                    .kurs__date-home 1.5 месяцa

    .home-form#hire
        .container2.container2--home
            .home-form__flex
                .home-form__left
                    .home-form__title Нужен специалист?
                    .home-form__text Оставьте запрос на нужного вам специалиста, а мы отправим вакансию в наш чат выпускников
                    form.home-form__form
                        .home-form__form-type
                            .home-form__form-checkbox
                                label
                                    input(type="radio" name="type" value="1")
                                    span SMM-специалист
                            .home-form__form-checkbox
                                label
                                    input(type="radio" name="type" value="1")
                                    span Таргетолог
                            .home-form__form-checkbox
                                label
                                    input(type="radio" name="type" value="1")
                                    span Стратег
                            .home-form__form-checkbox
                                label
                                    input(type="radio" name="type" value="1")
                                    span Motion-дизайнер
                            .home-form__form-checkbox
                                label
                                    input(type="radio" name="type" value="1")
                                    span Копирайтер

                        textarea.home-form__form-text(name="text" placeholder="Опишите задачу и укажите контактные данные")

                        button.home-form__form-btn(type="submit")
                            span Отправить

                        .home-form__form-info Нажимая на кнопку, вы соглашаетесь <br>с политикой обработки персональных данных


                .home-form__rigth
                    img(src="img/main/main-form.png" alt="")



