extends layouts/lands

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .land1
        .l-1
            .container.l-1__container
                a.l-1__logo(href="")
                    img(src="img/logo2.png" alt="logo")
                h1.l-1__title Копирайтинг
                .l-1__slogan Курс, который <br>научит вас писать
                a.btn.l-1__btn(href="") Записаться
                .l-1__right
                    img(src="images/lands/l1-play.svg" alt="")
                    | О курсе <span>за 49 секунд</span>
                .l-1__bg
                    img(src="images/lands/l1-f-bg.svg" alt="")

        .l-2
            .container.l-2__container
                .l-2__title Слово — главный способ воздействия на других людей
                img.l-2__img(src="images/lands/l-1-2img.svg" alt="")
                .l-2__flex
                    .l-2__flex-title Для кого?
                    .l-2__item
                        .l-2__item-img
                            img(src="images/lands/l-1-i1.svg" alt="")
                        .l-2__item-title Для всех
                        .l-2__item-text Кто хочет научиться <br>писать
                    .l-2__item
                        .l-2__item-img
                            img(src="images/lands/l-1-i2.svg" alt="")
                        .l-2__item-title Владельцев <br>компаний <br>и блогеров
                        .l-2__item-text Чтобы научиться понятно и <br>грамотно доносить <br>свою мысль
                    .l-2__item
                        .l-2__item-img
                            img(src="images/lands/l-1-i3.svg" alt="")
                        .l-2__item-title Копирайтеров
                        .l-2__item-text Чтобы научиться писать <br>коммерческие посты или <br>структурировать свои знания
                    .l-2__item
                        .l-2__item-img
                            img(src="images/lands/l-1-i4.svg" alt="")
                        .l-2__item-title Маркетологов
                        .l-2__item-text Чтобы понимать, как <br>создавать лучший контент

                .l-2__bg
                    img(src="images/lands/l-1-bg2.svg" alt="")

        .l-3
            .container.l-3__container
                .l-3__item.l-3__item--1
                    .l-3__item-text Грамотный текст — <br>может доказать вашу <br>экспертность без <br>доказательств
                    .l-3__item-img
                        img(src="images/lands/l-1-cop.svg")
                .l-3__item.l-3__item--2
                    .l-3__item-text Владение словом отражается <br>на мышлении и на том как вы <br>разговариваете
                    .l-3__item-img
                        img(src="images/lands/l-1-star.svg")
                .l-3__title Текст <br>сильно <br>недооценён, но <br>копирайтинг — <br>это ядро <br>маркетинга


        .l-4
            .container.l-4__container