extends layouts/lands

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	include partials/motion/motion-banner
	include partials/motion/motion-banner2
	include partials/motion/motion-info

	include partials/motion/motion-program

	include partials/motion/motion-work
	include partials/motion/motion-feedback
	include partials/motion/motion-examples


	include partials/teacher/teacher-motion


	include partials/vacancies/vacancies
	include partials/motion/motion-components
	include partials/motion/motion-need


	include partials/motion/motion-ylearn



	include partials/copywriting/cop-payment.pug
	include partials/questions/motion-questions
	//- include partials/feedback/feedback
	//- include partials/copywriting/other-courses.pug

