extends layouts/lands

block vars
    -
        const page = {
            title: 'index.html'
        };

block main
    include partials/motion/motion-banner
    include partials/smm-strategy/smm-strategy-need
    include partials/smm-strategy/smm-strategy-potential

    //- include partials/motion/motion-info


    include partials/teacher/teacher-smm
    include partials/copywriting/copywriting-features
    include partials/vacancies/vacancies
    include partials/motion/motion-components

    include partials/questions/questions
    include partials/feedback/feedback
    include partials/_footer-light

