extends layouts/lands

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	include partials/smm-strategy/smm-strategy-banner
	include partials/smm-strategy/smm-strategy-need

	include partials/smm-strategy/smm-strategy-potential
	include partials/smm-strategy/smm-strategy-program
	include partials/smm-strategy/smm-strategy-work
	include partials/smm-strategy/smm-strategy-feedback

	//- include partials/motion/motion-info


	include partials/teacher/teacher-smm
	include partials/vacancies/vacancies
	include partials/smm-strategy/smm-strategy-ylearn

	include partials/smm-strategy/payment.pug
	include partials/questions/smm-strategy-questions
	//- include partials/feedback/feedback
	//- include partials/copywriting/other-courses.pug
	//- include partials/_footer-light