extends layouts/lands

block vars
    -
        const page = {
            title: 'index.html'
        };

block main
    include partials/target/target-banner
    include partials/target/target-need
    include partials/target/target-features
    //- include partials/smm-strategy/smm-strategy-potential

    //- include partials/motion/motion-info


    //- include partials/teacher/teacher-smm
    //- include partials/vacancies/vacancies
    //- include partials/motion/motion-components

    include partials/questions/target-questions
    //- include partials/feedback/feedback
    //- include partials/_footer-light

