.ts-{
	&main{
		background-color: black;
		position: relative;
	}


	&header{
		position: absolute;
		width: 100%;
		z-index: 10;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 57px 0;
		max-width: 1920px;
		@include max(1920){
			padding: vwd(57) 0;
		}
		&__container{
			width: 100%;
			box-sizing: border-box;
			padding: 0 182px 0 84px;
			@include max(1920){
				padding: 0 vwd(182) 0 vwd(84);
			}
		}
		&__flex{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__left{
			display: flex;
			align-items: center;
		}
		&__right{}
		&__logo{
			display: block;
			width: 73px;
			height: 73px;
			@include max(1920){
				width: vwd(73);
				height: vwd(73);
			}
			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: contain;
			}
		}
		&__menu{
			margin-left: 60px;
			display: flex;
			align-items: center;
			&-item{
				padding: 0 45px;
				@include max(1920){
					padding: 0 vwd(45);
				}
				a{
					display: block;
					padding: 2px 19px 2px;
					color: #000000;
					font-family: $mainFont;
					font-size: 20px;
					font-weight: 400;
					font-style: normal;
					text-align: center;
					letter-spacing: -1.01px;
					line-height: 1;
					cursor: pointer;
					text-decoration: none;
					background-color: #ffffff;
					transition: 0.3s;
					@include max(1920){
						padding: vwd(2) vwd(19) vwd(2);
						font-size: vwd(20);
						letter-spacing: vwd(-1.01);
					}
					&:hover{
						color: #ffffff;
						background-color: black;
					}
				}
			}
		}
		&__info{
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			a{
				display: block;
				color: #ffffff;
				line-height: normal;
				font-family: $mainFont;
				font-size: 21px;
				transition: 0.3s;
				@include max(1920){
					font-size: vwd(21);
				}
				&:hover{
					color: $green;
				}
			}
			span{
				display: block;
				font-family: $secondFont;
				color: #ffffff;
				font-size: 18px;
				line-height: normal;
				@include max(1920){
					font-size: vwd(18);
				}
			}
		}
	}


	&hero{
		position: relative;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		z-index: 2;
		&__bg{
			width: 100%;
			max-width: 1920px;
			padding-bottom: 65.3645833%;
			background: url('../images/tutor/hero.jpg') center top no-repeat;
			background-size: 100% auto;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}
		&__title{
			position: relative;
			padding-left: 280px;
			padding-top: 280px;
			padding-bottom: 130px;
			@include max(1920){
				padding-left: vwd(280);
				padding-top: vwd(280);
				padding-bottom: vwd(130);
			}
			h1{
				position: relative;
				display: inline-block;
				span{
					color: #000000;
					font-family: $titleFont;
					font-size: 59px;
					font-weight: 900;
					font-style: normal;
					letter-spacing: normal;
					line-height: 1.05;
					position: relative;
					z-index: 2;
					display: inline-block;
					@include max(1920){
						font-size: vwd(59);
					}
					&::before{
						content: "";
						width: calc(100% + 10px);
						height: 100%;
						box-sizing: border-box;
						position: absolute;
						left: -5px;
						top: 0;
						background: #ffffff;
						z-index: -1;
						@include max(1920){
							width: calc(100% + 0.52vw);
							left: vwd(-5);
						}
					}
				}
				img{
					position: absolute;
					right: -298px;
					top: -139px;
					z-index: -1;
					width: 573px;
					height: 328px;
					@include max(1920){
						right: vwd(-298);
						top: vwd(-139);
						width: vwd(573);
						height: vwd(328);
					}
				}
			}
		}
		&__text{
			margin-left: 1280px;
			margin-top: 208px;
			width: 560px;
			color: #000000;
			font-family: $secondFont;
			font-size: 27px;
			line-height: 1.1;
			letter-spacing: -0.54px;
			@include max(1920){
				margin-left: vwd(1280);
				margin-top: vwd(208);
				width: vwd(560);
				font-size: vwd(27);
				letter-spacing: vwd(-0.54);
			}
			span{
				display: inline;
				background-color: #ffffff;
				padding: 2px 14px;
				box-decoration-break: clone;
				-webkit-box-decoration-break: clone;
				@include max(1920){
					padding: vwd(2) vwd(14);
				}
				strong{
					font-family: $mainFont;
					font-weight: 700;
				}
			}
		}
		&__bottom{
			width: 565px;
			margin-top: 368px;
			margin-left: 329px;
			@include max(1920){
				width: vwd(565);
				margin-top: vwd(368);
				margin-left: vwd(329);
			}
			&-title{
				color: #ffffff;
				font-size: 38px;
				font-family: $mainFont;
				font-weight: 400;
				letter-spacing: -0.76px;
				line-height: 1.2;
				@include max(1920){
					font-size: vwd(38);
					letter-spacing: vwd(-0.76);
				}
				span{
					position: relative;
					&::after{
						content: "";
						position: absolute;
						left: -40px;
						top: 0.3em;
						width: 245px;
						height: 35px;
						background: url("../images/tutor/line2.png") center center no-repeat;
						background-size: contain;
						display: block;
						@include max(1920){
							left: vwd(-40);
							width: vwd(245);
							height: vwd(35);
						}
					}
				}
			}
			&-text{
				margin-top: 20px;
				color: #ffffff;
				font-family: $secondFont;
				font-size: 27px;
				font-style: normal;
				letter-spacing: -0.54px;
				line-height: 1.2;
				@include max(1920){
					margin-top: vwd(20);
					font-size: vwd(27);
					letter-spacing: vwd(-0.54);
				}
			}
		}
	}


	&faq{
		position: relative;
		z-index: 2;
		padding-top: 135px;
		padding-bottom: 190px;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		@include max(1920){
			padding-top: vwd(135);
			padding-bottom: vwd(190);
			max-width: vwd(1920);
		}
		&__content{
			width: 560px;
			margin-left: 831px;
			@include max(1920){
				width: vwd(560);
				margin-left: vwd(831);
			}
		}
		&__title{
			width: 284px;
			position: relative;
			@include max(1920){
				width: vwd(284);
			}
			img{
				display: block;
				width: 100%;
			}
			&::after{
				content: "";
				display: block;
				width: 390px;
				height: 62px;
				position: absolute;
				left: -46px;
				top: 19px;
				background: url("../images/tutor/line1.png") center center no-repeat;
				background-size: contain;
				@include max(1920){
					width: vwd(390);
					height: vwd(62);
					left: vwd(-46);
					top: vwd(19);
				}
			}
		}
		&__items{
			margin-top: 37px;
			@include max(1920){
				margin-top: vwd(37);
			}
		}
		&__item{
			&-title{
				font-family: $mainFont;
				font-size: 38px;
				font-weight: 400;
				font-style: normal;
				letter-spacing: -0.76px;
				line-height: 39px;
				color: #ffffff;
				@include max(1920){
					font-size: vwd(38);
					letter-spacing: vwd(-0.76);
					line-height: vwd(39);
				}
			}
			&-text{
				color: #ffffff;
				font-family: $secondFont;
				font-size: 21px;
				letter-spacing: -0.43px;
				line-height: 1.2;
				margin-top: 21px;
				@include max(1920){
					font-size: vwd(21);
					letter-spacing: vwd(-0.43);
					margin-top: vwd(21);
				}
			}
			+.ts-faq__item{
				margin-top: 28px;
				@include max(1920){
					margin-top: vwd(28);
				}
			}
		}
		&__par{
			position: absolute;
			img{
				width: 100%;
				display: block;
			}
			&-1{
				width: 1062px;
				left: -324px;
				top: -100px;
				@include max(1920){
					width: vwd(1062);
					left: vwd(-324);
					top: vwd(-100);
				}
			}
			&-2{
				width: 559px;
				right: 145px;
				top: -290px;
				@include max(1920){
					width: vwd(559);
					right: vwd(145);
					top: vwd(-290);
				}
			}
		}
	}


	&white{
		background-image: url("../images/tutor/w-top.png"), url("../images/tutor/w-bottom.png");
		background-position: center top -1px, center bottom -1px;
		background-repeat: no-repeat;
		background-size: 100% auto, 100% auto;
		background-color: #ffffff;
		padding-bottom: 285px;
		@include max(1920){
			padding-bottom: vwd(285);
		}
	}


	&star{
		padding-top: 60px;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		@include max(1920){
			padding-top: vwd(60);
		}
		&__img{
			margin: 0 auto;
			width: 126px;
			@include max(1920){
				width: vwd(126);
			}
			img{
				width: 100%;
				display: block;
			}
		}
		&__content{
			margin: 111px auto 0;
			width: 585px;
			@include max(1920){
				margin: vwd(111) auto 0;
				width: vwd(585);
			}
			&-title{
				line-height: 1.2;
				font-family: $mainFont;
				font-size: 38px;
				letter-spacing: -0.76px;
				color: #000000;
				@include max(1920){
					font-size: vwd(38);
					letter-spacing: vwd(-0.76);
				}
			}
			&-text{
				color: #000000;
				font-size: 21px;
				line-height: 1.2;
				font-family: $secondFont;
				letter-spacing: -0.43px;
				margin-top: 20px;
				@include max(1920){
					font-size: vwd(21);
					letter-spacing: vwd(-0.43);
					margin-top: vwd(20);
				}
				span{
					font-size: 17px;
					font-family: $titleFont;
					font-weight: 900;
					letter-spacing: normal;
					@include max(1920){
						font-size: vwd(17);
					}
				}
			}
		}
		&__bottom{
			width: 1152px;
			margin: 146px auto 0;
			@include max(1920){
				width: vwd(1152);
				margin: vwd(146) auto 0;
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}


	&who{
		padding-top: 130px;
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		@include max(1920){
			padding-top: vwd(130);
		}
		&__title{
			width: 415px;
			color: #000000;
			font-family: $mainFont;
			font-size: 38px;
			line-height: 1.2;
			text-align: center;
			letter-spacing: -0.76px;
			margin: 0 auto;
			@include max(1920){
				width: vwd(415);
				font-size: vwd(38);
				letter-spacing: vwd(-0.76);
			}
		}
		&__flex{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 1217px;
			margin: 90px auto 0;
			@include max(1920){
				width: vwd(1217);
				margin: vwd(90) auto 0;
			}
		}
		&__item{
			width: 33.3333%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 57px;
			@include max(1920){
				margin-bottom: vwd(57);
			}
			&-img{
				width: 203px;
				height: 184px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include max(1920){
					width: vwd(203);
					height: vwd(184);
				}
				img{
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
			&-text{
				width: 300px;
				margin-top: 39px;
				color: #000000;
				font-family: $secondFont;
				font-size: 21px;
				font-style: normal;
				text-align: center;
				letter-spacing: -0.43px;
				line-height: 1.2;
				@include max(1920){
					width: vwd(300);
					margin-top: vwd(39);
					font-size: vwd(21);
					letter-spacing: vwd(-0.43);
				}
			}
		}
		&__bottom{
			width: 1152px;
			margin: 100px auto 0;
			@include max(1920){
				width: vwd(1152);
				margin: vwd(100) auto 0;
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}


	&yes{
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		padding-top: 207px;
		@include max(1920){
			padding-top: vwd(207);
		}
		&__title{
			position: relative;
			width: 400px;
			margin: 0 auto;
			color: #000000;
			font-family: $mainFont;
			font-size: 38px;
			font-weight: 400;
			font-style: normal;
			line-height: 1.2;
			text-align: center;
			letter-spacing: -0.76px;
			padding-bottom: 149px;
			z-index: 2;
			@include max(1920){
				width: vwd(400);
				font-size: vwd(38);
				letter-spacing: vwd(-0.76);
				padding-bottom: vwd(149);
			}
			&::before{
				content: "";
				display: block;
				background: url("../images/tutor/yes.png") center center no-repeat;
				background-size: contain;
				position: absolute;
				width: 462px;
				height: 338px;
				top: -115px;
				left: -20px;
				z-index: -1;
				@include max(1920){
					width: vwd(462);
					height: vwd(338);
					top: vwd(-115);
					left: vwd(-20);
				}
			}
		}
		&__flex{
			width: 1150px;
			margin: 68px auto 0;
			display: flex;
			justify-content: space-between;
			@include max(1920){
				width: vwd(1150);
				margin: vwd(68) auto 0;
			}
		}
		&__left{
			width: 437px;
			@include max(1920){
				width: vwd(437);
			}
			.ts-yes__number{
				&::after{
					content: ">";
					display: block;
					position: absolute;
					left: -7px;
					top: 38px;
					font-family: $afterFont;
					font-size: 149px;
					font-weight: 400;
					color: $green;
					@include max(1920){
						left: vwd(-7);
						top: vwd(38);
						font-size: vwd(149);
					}
				}
			}
		}
		&__right{
			width: 485px;
			@include max(1920){
				width: vwd(485);
			}
			.ts-yes__number{
				&::after{
					content: "0";
					display: block;
					position: absolute;
					left: 185px;
					top: 29px;
					font-family: $afterFont;
					font-size: 149px;
					font-weight: 400;
					color: $green;
					@include max(1920){
						left: vwd(185);
						top: vwd(29);
						font-size: vwd(149);
					}
				}
			}
		}
		&__number{
			color: #000000;
			font-family: $secondFont;
			font-size: 149px;
			font-weight: 400;
			font-style: normal;
			line-height: 1;
			text-align: left;
			letter-spacing: -2.98px;
			position: relative;
			@include max(1920){
				font-size: vwd(149);
				letter-spacing: vwd(-2.98);
			}
		}
		&__text{
			color: #000000;
			font-family: $secondFont;
			font-size: 28px;
			font-weight: 400;
			font-style: normal;
			line-height: 1.2;
			text-align: left;
			letter-spacing: -0.56px;
			margin-top: 35px;
			@include max(1920){
				font-size: vwd(28);
				letter-spacing: vwd(-0.56);
				margin-top: vwd(35);
			}
		}
		&__bottom{
			margin: 186px auto 0;
			width: 670px;
			color: #000000;
			font-family: $secondFont;
			font-size: 28px;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: -0.56px;
			text-align: center;
			position: relative;
			z-index: 2;
			@include max(1920){
				margin: vwd(186) auto 0;
				width: vwd(670);
				font-size: vwd(28);
				letter-spacing: vwd(-0.56);
			}
			&::before{
				content: "";
				pointer-events: none;
				width: 688px;
				height: 457px;
				display: block;
				background: url("../images/tutor/circle.png") center center no-repeat;
				background-size: contain;
				left: 20px;
				top: -200px;
				z-index: -1;
				position: absolute;
				@include max(1920){
					width: vwd(688);
					height: vwd(457);
					left: vwd(20);
					top: vwd(-200);
				}
			}
			img{
				display: inline-block;
				width: 24px;
				vertical-align: middle;
				@include max(1920){
					width: vwd(24);
				}
			}
			span{
				font-family: $mainFont;
				font-weight: 700;
				position: relative;
				z-index: 2;
				&::before{
					content: "";
					display: block;
					width: calc(100% + 10px);
					height: 100%;
					position: absolute;
					top: 0;
					left: -5px;
					z-index: -1;
					background: $green;
					@include max(1920){
						width: calc(100% + 0.52vw);
						left: vwd(-5);
					}
				}
			}
		}
	}


	&programm{
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		padding-top: 120px;
		padding-bottom: 131px;
		position: relative;
		z-index: 2;
		@include max(1920){
			padding-top: vwd(120);
			padding-bottom: vwd(131);
		}
		&__content{
			width: 626px;
			margin-top: 170px;
			margin-left: 50%;
			@include max(1920){
				width: vwd(626);
				margin-top: vwd(170);
			}
		}
		&__title{
			width: 359px;
			position: relative;
			margin: 0 auto;
			@include max(1920){
				width: vwd(359);
			}
			img{
				display: block;
				width: 100%;
			}
			&::after{
				content: "";
				display: block;
				width: 379px;
				height: 75px;
				position: absolute;
				left: 3px;
				top: 18px;
				background: url("../images/tutor/line1.png") center center no-repeat;
				background-size: contain;
				@include max(1920){
					width: vwd(379);
					height: vwd(75);
					left: vwd(3);
					top: vwd(18);
				}
			}
		}
		&__items{
			&-title{
				color: #ffffff;
				font-family: $mainFont;
				font-size: 38px;
				font-weight: 400;
				font-style: normal;
				text-align: left;
				letter-spacing: -0.76px;
				line-height: 1.2;
				margin-bottom: 65px;
				@include max(1920){
					font-size: vwd(38);
					letter-spacing: vwd(-0.76);
					margin-bottom: vwd(65);
				}
			}
		}
		&__item{
			&-top{
				padding: 30px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				@include max(1920){
					padding: vwd(30) 0;
				}
			}
			&-title{
				width: 420px;
				color: #ffffff;
				font-family: $mainFont;
				font-weight: 400;
				font-size: 20px;
				font-style: normal;
				letter-spacing: -0.43px;
				line-height: 1.2;
				@include max(1920){
					width: vwd(420);
					font-size: vwd(20);
					letter-spacing: vwd(-0.43);
				}
				span{
					font-size: 21px;
					display: block;
					margin-bottom: 10px;
					font-weight: 700;
					font-style: normal;
					letter-spacing: -0.4px;
					@include max(1920){
						font-size: vwd(21);
						margin-bottom: vwd(10);
						letter-spacing: vwd(-0.4);
					}
				}
			}
			&-plus{
				width: 23px;
				height: 23px;
				background: url("../images/tutor/plus.png") center center no-repeat;
				background-size: contain;
				transition: 0.3s;
				flex-shrink: 0;
				@include max(1920){
					width: vwd(23);
					height: vwd(23);
				}
			}
			&-text{
				padding-bottom: 30px;
				font-family: $secondFont;
				font-size: 18px;
				display: none;
				@include max(1920){
					padding-bottom: vwd(30);
					font-size: vwd(18);
				}
			}
			&-top{}
			+.ts-programm__item{
				border-top: 1px solid #ffffff;
			}
			&.active{
				.ts-programm__item-plus{
					transform: rotate(315deg);
				}
			}
		}
		&__par{
			position: absolute;
			z-index: -1;
			top: 540px;
			left: 136px;
			pointer-events: none;
			width: 850px;
			@include max(1920){
				top: vwd(540);
				left: vwd(136);
				width: vwd(850);
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}


	&money{
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		padding-bottom: 190px;
		@include max(1920){
			padding-bottom: vwd(190);
		}
		&__content{
			width: 690px;
			margin-left: 263px;
			@include max(1920){
				width: vwd(690);
				margin-left: vwd(263);
			}
		}
		&__title{
			width: 521px;
			position: relative;
			padding-top: 98px;
			padding-bottom: 75px;
			@include max(1920){
				width: vwd(521);
				padding-top: vwd(98);
				padding-bottom: vwd(75);
			}
			img{
				width: 100%;
				display: block;
			}
			&::after{
				content: "";
				display: block;
				background: url("../images/tutor/lines.png") center center no-repeat;
				background-size: contain;
				position: absolute;
				left: -16px;
				top: -98px;
				width: 524px;
				height: 278px;
				@include max(1920){
					left: vwd(-16);
					top: vwd(-98);
					width: vwd(524);
					height: vwd(278);
				}
			}
		}
		&__text{
			margin-top: 14px;
			color: #ffffff;
			font-family: $mainFont;
			font-size: 38px;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: -0.76px;
			@include max(1920){
				margin-top: vwd(14);
				font-size: vwd(38);
				letter-spacing: vwd(-0.76);
			}
		}
		&__subtext{
			margin-top: 30px;
			color: #ffffff;
			font-family: $mainFont;
			font-size: 21px;
			font-weight: 400;
			letter-spacing: -0.43px;
			line-height: 1.2;
			@include max(1920){
				margin-top: vwd(30);
				font-size: vwd(21);
				letter-spacing: vwd(-0.43);
			}
		}
		&__par{
			position: absolute;
			z-index: -1;
			pointer-events: none;
			width: 243px;
			top: 203px;
			right: 314px;
			@include max(1920){
				width: vwd(243);
				top: vwd(203);
				right: vwd(314);
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}


	&format{
		padding-top: 72px;
		padding-bottom: 200px;
		background: #ffffff;
		@include max(1920){
			padding-top: vwd(72);
			padding-bottom: vwd(200);
		}
		&__title{
			margin: 0 auto;
			width: 305px;
			position: relative;
			padding-top: 22px;
			padding-bottom: 46px;
			@include max(1920){
				width: vwd(305);
				padding-top: vwd(22);
				padding-bottom: vwd(46);
			}
			img{
				width: 100%;
				display: block;
			}
			&::after{
				content: "";
				display: block;
				background: url("../images/tutor/line3.png") center center no-repeat;
				background-size: contain;
				position: absolute;
				left: -111px;
				top: 0;
				width: 506px;
				height: 145px;
				@include max(1920){
					left: vwd(-111);
					width: vwd(506);
					height: vwd(145);
				}
			}
		}
		&__text{
			margin: 30px auto 0;
			width: 420px;
			color: #000000;
			font-family: $mainFont;
			font-size: 21px;
			font-weight: 400;
			font-style: normal;
			letter-spacing: -0.43px;
			line-height: 1.2;
			text-align: center;
			@include max(1920){
				margin: vwd(30) auto 0;
				width: vwd(420);
				font-size: vwd(21);
				letter-spacing: vwd(-0.43);
			}
			span{
				display: inline-block;
				position: relative;
				&::after{
					content: "";
					width: 76px;
					height: 17px;
					position: absolute;
					left: -12px;
					top: 5px;
					background: url(../images/tutor/line2.png) center center no-repeat;
					background-size: 100% 100%;
					@include max(1920){
						width: vwd(76);
						height: vwd(17);
						left: vwd(-12);
						top: vwd(5);
					}
				}
			}
			img{
				display: inline-block;
				width: 24px;
				vertical-align: middle;
				@include max(1920){
					width: vwd(24);
				}
			}
		}
		&__flex{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 1164px;
			margin: 0 auto;
			@include max(1920){
				width: vwd(1164);
			}
		}
		&__item{
			width: 33.333%;
			padding: 21px;
			box-sizing: border-box;
			display: flex;
			@include max(1920){
				padding: vwd(21);
			}
			&-inner{
				position: relative;
				border: 1px solid #000000;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 28px 32px;
				@include max(1920){
					padding: vwd(28) vwd(32);
				}
			}
			&-number{
				color: $green;
				font-family: $afterFont;
				font-size: 97px;
				font-weight: 400;
				line-height: 1;
				position: absolute;
				left: -8px;
				top: -40px;
				@include max(1920){
					font-size: vwd(97);
					left: vwd(-8);
					top: vwd(-40);
				}
			}
			&-text{
				color: #000000;
				font-family: $mainFont;
				font-size: 21px;
				font-weight: 400;
				line-height: 1.2;
				letter-spacing: -0.43px;
				box-decoration-break: clone;
				-webkit-box-decoration-break: clone;
				@include max(1920){
					font-size: vwd(21);
					letter-spacing: vwd(-0.43);
				}
				span{
					padding: 0 4px;
					box-decoration-break: clone;
					-webkit-box-decoration-break: clone;
					@include max(1920){
						padding: 0 vwd(4);
					}
					&.green{
						padding: 0 10px;
						margin-left: -6px;
						font-weight: 700;
						background: $green;
						@include max(1920){
							padding: 0 vwd(10);
							margin-left: vwd(-6);
						}
					}
				}
			}
		}
	}


	&price{
		padding-top: 160px;
		padding-bottom: 120px;
		background-image: url("../images/tutor/d-top.png");
		background-position:  center top -1px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		@include max(1920){
			padding-top: vwd(160);
			padding-bottom: vwd(120);
		}
		&__title{
			margin: 0 auto;
			width: 215px;
			position: relative;
			padding-bottom: 13px;
			@include max(1920){
				width: vwd(215);
				padding-bottom: vwd(13);
			}
			img{
				width: 100%;
				display: block;
			}
			&::after{
				content: "";
				display: block;
				background: url("../images/tutor/line1.png") center center no-repeat;
				background-size: contain;
				position: absolute;
				left: -73px;
				top: 28px;
				width: 390px;
				height: 62px;
				@include max(1920){
					left: vwd(-73);
					top: vwd(28);
					width: vwd(390);
					height: vwd(62);
				}
			}
		}
		&__flex{
			margin-top: 110px;
			display: flex;
			justify-content: center;
			@include max(1920){
				margin-top: vwd(110);
			}
		}
		&__item{
			padding: 0 37px;
			font-size: 21px;
			color: #ffffff;
			line-height: 1.2;
			display: flex;
			flex-direction: column;
			@include max(1920){
				padding: 0 vwd(37);
				font-size: vwd(21);
			}
			&-inner{
				display: flex;
				flex-direction: column;
				width: 528px;
				height: 100%;
				@include max(1920){
					width: vwd(528);
				}
			}
			&-content{
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border: 1px solid #ffffff;
				width: 100%;
				padding: 78px 46px 46px;
				box-sizing: border-box;
				@include max(1920){
					padding: vwd(78) vwd(46) vwd(46);
				}
			}
			&-top{
				flex-grow: 1;
			}
			&-label{
				font-family: $titleFont;
				font-weight: 700;
				+.ts-price__item-text{
					margin-top: 22px;
					@include max(1920){
						margin-top: vwd(22);
					}
				}
			}
			&-text{
				font-family: $secondFont;
				ul{
					padding: 0;
					margin: 0;
					list-style: none;
					li{
						padding-left: 25px;
						position: relative;
						@include max(1920){
							padding-left: vwd(25);
						}
						&::before{
							content: "";
							width: 20px;
							height: 1px;
							background: #ffffff;
							position: absolute;
							left: 0;
							top: 0.6em;
							@include max(1920){
								width: vwd(20);
							}
						}
					}
				}
				+.ts-price__item-label{
					margin-top: 45px;
					@include max(1920){
						margin-top: vwd(45);
					}
				}
			}
			&-center{
				margin-top: 22px;
				@include max(1920){
					margin-top: vwd(22);
				}
				img{
					margin: 105px auto 0;
					width: 188px;
					display: block;
					@include max(1920){
						margin: vwd(105) auto 0;
						width: vwd(188);
					}
				}
			}
			&-bottom{
				margin-top: 80px;
				text-align: center;
				@include max(1920){
					margin-top: vwd(80);
				}
				.ts-price__item-text{
					+.ts-price__item-label{
						margin-top: 20px;
						@include max(1920){
							margin-top: vwd(20);
						}
					}
				}
				.ts-price__item-label{
					+.ts-price__item-text{
						margin-top: 0;
					}
				}
			}
			&-under{
				line-height: 1;
				margin-top: 50px;
				letter-spacing: -0.43px;
				opacity: 0.7;
				font-family: $secondFont;
				@include max(1920){
					margin-top: vwd(50);
					letter-spacing: vwd(-0.43);
				}
			}
			&-btn{
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #FFFFFF;
				color: #ffffff;
				font-family: $titleFont;
				font-size: 21px;
				font-style: normal;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: -0.43px;
				line-height: 1;
				width: 100%;
				height: 95px;
				box-sizing: border-box;
				cursor: pointer;
				margin-top: 33px;
				@include max(1920){
					font-size: vwd(21);
					letter-spacing: vwd(-0.43);
					height: vwd(95);
					margin-top: vwd(33);
				}
			}

			&--light{
				.ts-price__item-content,
				.ts-price__item-btn{
					color: #000000;
					background: #ffffff;
				}
			}
		}
	}
}