section.teacherland.teacherland--brand
    .teacherland__container.container2
        .teacherland__title Преподаватель
        .teacherland__wrapper
            .teacherland__content
                .teacherland__img-wrapper
                    img.teacherland__img(src="img/landings/brand/smmagnat.png")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Никита smmagnat
                    .teacherland__teacher-info Основатель одноименной <br> digital-студии и digital-школы.
                    a.teacherland__teacher-link(href="https://www.instagram.com/smmagnat/" target="_blank") instagram