section.brand-is-need
    .brand-is-need__decor-wrapper
        img.brand-is-need__decor(src='img/landings/brand/bg2.png')
    .container2.brand-is-need__container
        .brand-is-need__content
            .brand-is-need__row
                .brand-is-need__card.brand-is-need__card-question.brand-is-need__card-question-one
                    .brand-is-need__question-text Если я ещё не определился с тематикой, поможет ли мне курс?
                .brand-is-need__card.brand-is-need__card-answer.brand-is-need__card-answer-one
                    .brand-is-need__answer-text Да, первый блок курса направлен именно на то, чтобы найти свои сильные экспертные стороны и сделать на них акцент при построении личного бренда.
            .brand-is-need__row
                .brand-is-need__card.brand-is-need__card-question.brand-is-need__card-question-two
                    .brand-is-need__question-text Как понять, что я выбрал(а) правильное направление?
                .brand-is-need__card.brand-is-need__card-answer.brand-is-need__card-answer-two
                    .brand-is-need__answer-text Целеполагание и структурирование своих мыслей на бумаге. Инструменты, которые мы даем на нашем обучении.
            .brand-is-need__row
                .brand-is-need__card.brand-is-need__card-question.brand-is-need__card-question-three
                    .brand-is-need__question-text Можно ли совсем с нуля?
                .brand-is-need__card.brand-is-need__card-answer.brand-is-need__card-answer-three
                    .brand-is-need__answer-text Нужно