section.teacher.teacher--brand
    .teacher__container.container2
        .teacher__wrapper
            .teacher__title Преподаватели
            .teacher__content
                .teacher__img-wrapper
                    img.teacher__img(src="img/landings/brand/smmagnat.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Никита smmagnat
                    .teacher__teacher-info Я устал судить, понял? Вот почему я злюсь и о ком-то выражаюсь плохо? Потому что мне хотелось бы видеть ответственность в музыкальном плане.
                    a.teacher__teacher-link(href="#") instagram
            .teacher__content.teacher__content-reverse
                .teacher__img-wrapper
                    img.teacher__img(src="img/landings/brand/smmagnat.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Никита smmagnat
                    .teacher__teacher-info Я устал судить, понял? Вот почему я злюсь и о ком-то выражаюсь плохо? Потому что мне хотелось бы видеть ответственность в музыкальном плане.
                    a.teacher__teacher-link(href="#") instagram