section.brand-need
    .container2.brand-need__container
        .brand-need__title 
            span Если сегодня вы торгуете черепицей,
            span а завтра решите разводить и продавать 
            span лабрадудлей — личный бренд всё равно 
            span останется с вами
    .container2.brand-need__container
        .brand-need__content
            .brand-need__decor Для&nbsp;кого?
            .brand-need__inner
                .brand-need__row
                    .brand-need__card
                        .brand-need__card-img
                            img(src="img/landings/brand/need-1.svg")
                        .brand-need__card-title.brand-need__card-title-xl Владельцев бизнеса
                        .brand-need__card-desc Которые через личный бренд хотят увеличить поток клиентов на свой продукт
                    .brand-need__card
                        .brand-need__card-img
                            img(src="img/landings/brand/need-2.svg")
                        .brand-need__card-title.brand-need__card-title-xl Блогеров
                        .brand-need__card-desc Для начинающих или стагнирующих блогеров, которых нужно направить
                    .brand-need__card
                        .brand-need__card-img
                            img.brand-need__card-img-desc(src="img/landings/brand/need-3.svg")
                        .brand-need__card-title.brand-need__card-title-xl Предпринимателей
                        .brand-need__card-desc Для людей, которые хотят открыть своё дело в будущем и уже хотят наращивать платежеспособную аудиторию
        .brand-need__title.brand-need__title-last 
            span Даже 1 000 подписчиков могут
            span приносить солидный доход и связи 
            span при правильном позиционировании
