section.copywriting-programm.copywriting-programm--brand
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Програма курса
				.cwprog-desc
					.cwprog-desc-pic
						img(src="img/landings/copywriting/prog/Document.svg")
					span.cwprog-desc-text — курс содержит домашнее задание
				.cwprog-cards
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Основная часть
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Интро в личный бренд
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Целеполагание / Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Выбор архетипа
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Целеполагание / Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Стратегия личного бренда
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ конкурентов (дз)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Контент-стратегия
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Контент-креатив
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Идеальный аккаунт в Instagram (дз) (дз)
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Секреты Stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Копирайтинг / Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Копирайтинг / Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt О способах продвижения
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Хештеги
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Таргетинг для личного бренда
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Постановка целей
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Советы по ценообразованию




							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания


					.cwprog-card
						img.cwprog-card-gift(src="img/landings/gift.png", alt="")
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Бонусы
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Карманный фотошоп
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Шаблоны stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анимированные stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Фоторедакторы
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Видеоредакторы
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Стоп-motion
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Необычные stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt FAQ


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
