section.brand-is
    .container2.brand-is__container
        .brand-is__content
            .brand-is__row
                .brand-is__inner.brand-is__inner-xl
                    .brand-is__title Личный<br/>бренд это
                .brand-is__inner.brand-is__inner-sm
                    .brand-is__inner-title Экспертность
                    .brand-is__inner-desc Если вы доказали свою экспертность в одном вопросе, то вас будут спрашивать и по другим вопросам.
            .brand-is__row 
                .brand-is__inner.brand-is__inner-md
                    .brand-is__inner-title Повышенное доверие
                    .brand-is__inner-desc К вам и вашему продукту за счёт вашей прозрачности. Люди идут к людям.
                .brand-is__inner.brand-is__inner-md
                    .brand-is__inner-title Короткий путь
                    .brand-is__inner-desc К полной лояльности ваших подписчиков. Бренду компании завоевать её будет в разы сложнее и дороже.