section.brand-banner
    .container2.brand-banner__container
        .brand-banner__content
            img.brand-banner__logo(src="img/logo2.png" alt="logo")
            .brand-banner__title Онлайн-курс
            .brand-banner__row
                .brand-banner__inner
                    .brand-banner__subtitle Личный бренд
                    .brand-banner__kurs-info.js-callFancyVideo(data-src="images/452-old.mp4" data-preview="images/video-preview.jpg")
                        img.brand-banner__play(src="img/play.svg" alt="play")
                        .brand-banner__play-text О курсе &nbsp;
                            b за 49 секунд
                    .brand-banner__link Записаться
                .brand-banner__image
                    img(src='img/landings/brand/banner.jpg')
