section.ylearn-section.ylearn-section--brand
	.container2.ylearn-container
		h2.ylearn-title Чему вы научитесь <br> на курсе

	#0ylearn-pinContainer.container2.ylearn-row-container
		#0ylearn-scroll.ylearn-row-wrap
			.ylearn-row
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--1
						.ylearn-item__title Выстраивать<br>  стратегию<br>  продвижения<br>  бренда

				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--2.ylearn-item--small
						.ylearn-item__title Анализировать действия компании и<br> конкурентов
					.ylearn-item.ylearn-item--3.ylearn-item--tall
						.ylearn-item__title Эффективно <br> настраивать <br> рекламу
