section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Если я действующий специалист и имею постоянных клиентов, то нужен ли мне личный бренд?
                .questions__question-desc Конечно. Много клиентов не бывает, лояльность, знакомство с миссией бренда и т.д. — всё за личным брендом. Он необходим.
            .questions__question
                .questions__question-title Вопросы можно задавать только по темам в курсе?
                .questions__question-desc Нет, любые вопросы касательно работы над личным брендом и его продвижением
            .questions__question
                .questions__question-title Как проходит обучение? Можно ли совмещать его с работой?
                .questions__question-desc Да, вся наша структура обучения сделана для комфортного ознакомления при любой занятости. Когда есть время — прочитали, задали вопросы :)
            .questions__question
                .questions__question-title Выдаётся ли сертификат по окончанию курса?
                .questions__question-desc Нет, на данном курсе это не актуально