footer.footer.footer--dark
    .container
        .footer__flex
            .footer__left
                .footer__title Москва, Россия
                .footer__row
                    a.footer__link(href="") Оферта
                    a.footer__link(href="") Политика обработки персональных данных
            .footer__right
                a.footer__title.footer__title--link(href="mailto:tutor@smmagnat.ru") tutor@smmagnat.ru
                .footer__row
                    a.footer__link(href="") Instagram
