header.header
    .container
        .header__flex
            a.header__logo(href="")
                img(src="img/logo.png" alt="logo")

            a.header__burger(href="javascript:;")
            .header__right
                ul.header__menu
                    li.active
                        a(href="") Курсы
                    li
                        a(href="") Личный кабинет
                .header__login
                    a(href="") Выйти