section.teacher.teacher--motion
    .teacher__container.container2
        .teacher__wrapper
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    img.teacher__img(src="img/smmagnat.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Никита smmagnat
                    .teacher__teacher-info Я устал судить, понял? Вот почему я злюсь и о ком-то выражаюсь плохо? Потому что мне хотелось бы видеть ответственность в музыкальном плане.
                    a.teacher__teacher-link(href="#") instagram