section.teacherland.teacherland--motion
    .teacherland__container.container2
        .teacherland__title Преподаватель
        .teacherland__wrapper
            .teacherland__content
                .teacherland__img-wrapper
                    img.teacherland__img(src="img/smmagnat.png")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Никита smmagnat
                    .teacherland__teacher-info Я устал судить, понял? Вот почему я злюсь и о ком-то выражаюсь плохо? Потому что мне хотелось бы видеть ответственность в музыкальном плане.
                    a.teacherland__teacher-link(href="https://www.instagram.com/smmagnat/" target="_blank") instagram