section.teacherland.context-teacher
    .teacherland__container.container2
        .teacherland__title Преподаватель
        .teacherland__wrapper
            .teacherland__content
                .teacherland__img-wrapper
                    img.teacherland__img(src="img/sherbak.jpg")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Иван Михалёв
                    .teacherland__teacher-info Опыт в трафике более 4-х лет. <br>Работал с бюджетами более 8-ми млн. рублей в месяц. В общей сложности сотрудничал с более чем 30-ю компаниями и открутил рекламного бюджета своих клиентов на 50 млн. рублей.

                    a.teacherland__teacher-link(href="https://www.instagram.com/mihalevivan/" target="_blank") instagram