section.teacherland.teacherland__express-smm
    .teacherland__container.container2
        .teacherland__title Преподаватели
        .teacherland__wrapper.teacherland__wrapper_mb
            .teacherland__content
                .teacherland__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/nikita.png")
                        img.teacherland__img(src="img/nikita-small.png")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Никита smmagnat
                    .teacherland__teacher-info Основатель одноименной <br> digital-студии и digital-школы
                    a.teacherland__teacher-link(href="#") instagram
        .teacherland__wrapper.teacherland__wrapper_pt0
            .teacherland__title.teacherland__title_mob Преподаватель
            .teacherland__content.content-reverse
                .teacherland__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/knyazeva.png")
                        img.teacherland__img(src="img/knyazeva-small.png")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Наташа Князева
                    .teacherland__teacher-info
                        p Маркетолог.. Больше 10 лет в маркетинге, 6 лет в медицинском маркетинге.
                        p Работала с: 2ГИС, Мать и дитя, Клиника Эксперт, F1, Biorepair, ProjacDar, PreventAge и др.
                    a.teacherland__teacher-link(href="#") instagram