section.teacher.teacher__express-smm
    .teacher__container.container2
        .teacher__wrapper.teacher__wrapper_mb
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    img.teacher__img(src="img/kokina.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Катя Кокина
                    .teacher__teacher-info Я устал судить, понял? Вот почему я злюсь и о ком-то выражаюсь плохо? Потому что мне хотелось бы видеть ответственность в музыкальном плане. 
                    a.teacher__teacher-link(href="#") instagram
        .teacher__wrapper.teacher__wrapper_pt0
            .teacher__title.teacher__title_mob Преподаватель
            .teacher__content.content-reverse
                .teacher__img-wrapper
                    img.teacher__img(src="img/kokina.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Катя Кокина
                    .teacher__teacher-info Я устал судить, понял? Вот почему я злюсь и о ком-то выражаюсь плохо? Потому что мне хотелось бы видеть ответственность в музыкальном плане. 
                    a.teacher__teacher-link(href="#") instagram