section.teacher.teacher__express-smm
    .teacher__container.container2
        .teacher__wrapper.teacher__wrapper_mb
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/nikita.png")
                        img.teacher__img(src="img/nikita-small.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Никита smmagnat
                    .teacher__teacher-info Основатель одноименной <br> digital-студии и digital-школы
                    a.teacher__teacher-link(href="#") instagram
        .teacher__wrapper.teacher__wrapper_pt0
            .teacher__title.teacher__title_mob Преподаватель
            .teacher__content.content-reverse
                .teacher__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/knyazeva.png")
                        img.teacher__img(src="img/knyazeva-small.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Наташа Князева
                    .teacher__teacher-info
                        p Маркетолог.. Больше 10 лет в маркетинге, 6 лет в медицинском маркетинге.
                        p Работала с: 2ГИС, Мать и дитя, Клиника Эксперт, F1, Biorepair, ProjacDar, PreventAge и др.
                    a.teacher__teacher-link(href="#") instagram