section.teacher.teacher--target
    .teacher__container.container2
        .teacher__wrapper
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/scherbakov.png")
                        img.teacher__img(src="img/scherbakov-small.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Василий Щербаков
                    .teacher__teacher-info
                        p Занимаюсь таргетингом более 3-х лет.
                        p За это время: <br> Открутил более 100 млн рублей бюджета клиентов. Заработал более 700 млн рублей своим клиентам. Управляю в среднем 5 млн. рублей в месяц. Для одного проекта привёл целевых заявок на 1.8 млрд.
                    a.teacher__teacher-link(href="#") instagram