section.teacherland.teacherland--motion
    .teacherland__container.container2
        .teacherland__title Преподаватель
        .teacherland__wrapper
            .teacherland__content
                .teacherland__img-wrapper
                    img.teacherland__img(src="img/kokina.jpg")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Катя Кокина
                    .teacherland__teacher-info
                        p Сотрудничаю c ТРЦ «Европейский», CAT, FILA, рестораном Тины Канделаки, Campari Group. Делала рекламу мониторам LG UltraGear.
                            |  Работала со Skypark Сочи, CLUEV, BAIKAL-430, «Пиколини», Eagle Mobile, московским девелопером премиальной недвижимости «ВМС», и со многими другими проектами.
                        p В среднем пишу около 1.300.000 слов в год.
                    a.teacherland__teacher-link(href="https://www.instagram.com/kittykatzekate/" target="_blank") instagram