section.teacherland.teacherland--target
    .teacherland__container.container2
        .teacherland__title Преподаватель
        .teacherland__wrapper
            .teacherland__content
                .teacherland__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/scherbakov.png")
                        img.teacherland__img(src="img/scherbakov-small.png")
                .teacherland__teacher-wrapper
                    .teacherland__teacher-name Василий Щербаков
                    .teacherland__teacher-info
                        p Занимаюсь таргетингом более 3-х лет.
                        p За это время: <br> Открутил более 100 млн. рублей бюджета клиентов. Заработал более 700 млн. рублей своим клиентам. Управляю в среднем 5 млн. рублей в месяц. Для одного проекта привёл целевых заявок на 1.8 млрд. рублей.
                    a.teacherland__teacher-link(href="https://www.instagram.com/vasiliy.shcherbakov/" target="_blank") instagram