section.teacher
    .teacher__container.container2
        .teacher__wrapper
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    img.teacher__img(src="img/kokina.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Катя Кокина
                    .teacher__teacher-info
                        p Сотрудничаю c ТРЦ «Европейский», CAT, FILA, рестораном Тины Канделаки, Campari Group. Делала рекламу мониторам LG UltraGear.
                            |  Работала со Skypark Сочи, CLUEV, BAIKAL-430, «Пиколини», Eagle Mobile, московским девелопером премиальной недвижимости «ВМС», и со многими другими проектами.
                        p В среднем пишу около 1.300.000 слов в год.
                    a.teacher__teacher-link(href="#") instagram