section.teacher.teacher--smm-strat
    .teacher__container.container2
        .teacher__wrapper
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    img.teacher__img(src="img/kokina.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Артём Тимов
                    .teacher__teacher-info Погружен в маркетинг с 2008 года. Занимался маркетингом у официальных дистрибьютеров Mercedes-Benz, Hyundai, VW, Mitsubishi. <br> Разработал стратегии для Baikal, F1, PMF, Skypark, Atami, Diamonds Are Forever, Газпром, MIA, Colin's, Levi's, KOTON, Mavi, Moulen Rouge, Renault, Sibylla, World Of Tanks.
                    a.teacher__teacher-link(href="#") instagram