section.teacher.teacher--motion
	.teacher__container.container2
		.teacher__wrapper
			.teacher__title Преподаватель
			.teacher__content
				.teacher__img-wrapper
					img.teacher__img(src="img/smmagnat.png")
				.teacher__teacher-wrapper
					.teacher__teacher-name Евгений Медведев
					.teacher__teacher-info
						p Делал motion-видео для METRO, F1, BAIKAL430, Biorepair, Чайхона №1, Skypark AJ Hackett, LuGang(Guf), Джиган, ЦДМ и многих других.
						p Автор всех видео smmagnat team.
					a.teacher__teacher-link(href="#") instagram