section.teacher.teacher--target.teacher--complex
    .teacher__container.container2
        .teacher__wrapper
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/nikita.png")
                        img.teacher__img(src="img/nikita-small.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Никита smmagnat
                    .teacher__teacher-info Основатель одноименной digital-студии и digital-школы
                    a.teacher__teacher-link(href="#") instagram