section.teacherland.teacherland--motion
	.teacherland__container.container2
		.teacherland__title Преподаватель
		.teacherland__wrapper
			.teacherland__content
				.teacherland__img-wrapper
					img.teacherland__img(src="img/smmagnat.png")
				.teacherland__teacher-wrapper
					.teacherland__teacher-name Евгений Медведев
					.teacherland__teacher-info
						p Делал motion-видео для METRO, F1, BAIKAL430, Biorepair, Чайхона №1, Skypark AJ Hackett, LuGang (Guf), Джиган, ЦДМ и многих других.
						p Автор всех видео smmagnat team.
					a.teacherland__teacher-link(href="#") instagram