section.teacher.teacher--smm-strat
    .teacher__container.container
        .teacher__wrapper
            .teacher__title Преподаватель
            .teacher__content
                .teacher__img-wrapper
                    picture
                        source(media="(min-width: 1025px)", srcset="img/timov.png")
                        img.teacher__img(src="img/timov-small.png")
                .teacher__teacher-wrapper
                    .teacher__teacher-name Артём Тимов
                    .teacher__teacher-info
                        p В маркетинге с 2008 года.
                        p Работал с Mercedes-Benz, Hyundai, VW, Mitsubishi, Renault, Baikal, F1, Skypark, Atami, Diamonds Are Forever, Газпром, MIA, Colin's, Levi's, KOTON, Mavi, Sibylla, World Of Tanks, Фарш, ВТБ и т.д.
                        p Подробную биографию можете узнать в первых трёх постах в Instagram:
                    a.teacher__teacher-link(href="https://www.instagram.com/timovtema/", target="_blank") instagram