section.copywriting-features
    .container2.copywriting-features__container
        .copywriting-features__content
            .copywriting-features__row
                .copywriting-features__text-one.copywriting-features__text Слова сильно воздействуют на&nbsp;людей в эмоциональном плане.
                .copywriting-features__img-wrapper-one.copywriting-features__img-wrapper
                    img.copywriting-features__img(src="img/features1.svg")
            .copywriting-features__row
                .copywriting-features__img-wrapper-two.copywriting-features__img-wrapper
                    img.copywriting-features__img(src="img/features2.svg")
                .copywriting-features__text-two.copywriting-features__text Зачем нужен девиз? Слоган? Гимн? Хороший нейминг?
            .copywriting-features__row
                .copywriting-features__text-three.copywriting-features__text Даже если у вас есть клевая мысль или идея, её ещё надо правильно подать
                .copywriting-features__img-wrapper-three.copywriting-features__img-wrapper
                    img.copywriting-features__line.copywriting-features__line--desk(src="img/features-line.svg")
                    img.copywriting-features__line.copywriting-features__line--mob(src="img/features-line-mob.svg")
                    img.copywriting-features__img(src="img/features3.svg")
