section.copywriting-banner
	img.copywriting-banner__decor-img(src="img/decor.svg")
	.container2.copywriting-banner__container
		.copywriting-banner__content
			img.copywriting-banner__logo(src="img/logo2.png" alt="logo")
			.copywriting-banner__title Копирайтинг
			.copywriting-banner__row
				.copywriting-banner__subtitle Курс, который научит вас писать
				.copywriting-banner__kurs-info.js-callFancyVideo(data-src="images/452-old.mp4" data-preview="images/video-preview.jpg")
					img.copywriting-banner__play(src="img/play.svg" alt="play")
					.copywriting-banner__play-text О курсе за 49 секунд
			.copywriting-banner__link Записаться
