section.copywriting-kurs
    .container2.copywriting-kurs__container
        .copywriting-kurs__content
            .copywriting-kurs__expert-wrapper
                img.copywriting-kurs__expert-img(src="img/copirate.svg")
                .copywriting-kurs__expert-text Грамотный текст — может доказать вашу экспертность без доказательств
            .copywriting-kurs__possession-wrapper
                img.copywriting-kurs__possession-img(src="img/bold-star.svg")
                .copywriting-kurs__possession Владение словом отражается на мышлении и на том как вы разговариваете
            .copywriting-kurs__core Текст<br/> сильно<br/> недооценён,<br/> но<br/>копирайтинг —<br/>это ядро<br/> маркетинга