section.land-top.land-top--copy
    include ../__header-land
    .land-top__inner
        .container3
            .land-top__flex
                img.land-top__bg(src="img/landings/copywriting/banner.png" alt="")
                .land-top__left
                    h1.land-top__title Копирайтинг 2.0

                    .land-top__info
                        .land-top__info-item Старт курса <span>6 апреля</span>
                        .land-top__info-item Среднее время прохождения <span>2 месяца</span>
                        .land-top__info-item Доступ к курсу <span>4 месяца</span>

                    .land-top__links
                        a.land-top__link(href="#kurs-order") Записаться
                        a.land-top__link.land-top__link--border(href="#programm") Программа

                .land-top__right
                    .land-top__right-iframe
                        <iframe src="https://player.vimeo.com/video/528921589?byline=0&portrait=0&badge=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    .land-top__right-text
                        img(src="img/play-button.png" alt="play")
                        | О курсе <span>за 57 секунд</span>

                    .land-top__links
                        a.land-top__link(href="#kurs-order") Записаться
                        a.land-top__link.land-top__link--border(href="#programm") Программа
