section.copywriting-banner
    img.copywriting-banner__decor-img(src="img/decor.svg")
    .container2.copywriting-banner__container
        .copywriting-banner__content
            a.copywriting-banner__logo(href="/" style="display:block")
                img.copywriting-banner__logo(src="img/logo2.png" alt="logo")
            .copywriting-banner__title Копирайтинг 2.0
            .copywriting-banner__row
                .copywriting-banner__subtitle Курс, который научит вас писать
                .copywriting-banner__kurs-info
                    <iframe src="https://player.vimeo.com/video/528921589?byline=0&portrait=0&badge=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    .copywriting-banner__play-text О курсе за 57 секунд
            .copywriting-banner__link Записаться
