
section.other-courses-section
	.container2.container2--otcourses
		h2.otcourses-title Подойдёт тем, кто&nbsp;интерсуется <br> курсом «Копирайтинг»

		.kurses.kurses--otcourses
			.kurses__kurs.kurs.kurs--type_1
				.kurs__inner
					.kurs__content
						.kurs__top
							.kurs__tag SMM
							.kurs__time 1 месяц
						.kurs__bottom
							h3.kurs__title Экспресс SMM
							.kurs__btns
								a.kurs__btn.btn(href="") Купить
								a.kurs__btn.btn.btn--white(href="") Бесплатный урок

			.kurses__kurs.kurs.kurs--type_1
				.kurs__inner
					.kurs__content
						.kurs__top
							.kurs__tag SMM
							.kurs__time 1 месяц
						.kurs__bottom
							h3.kurs__title Экспресс SMM
							.kurs__btns
								a.kurs__btn.btn(href="") Купить
								a.kurs__btn.btn.btn--white(href="") Бесплатный урок

			.kurses__kurs.kurs.kurs--type_1
				.kurs__inner
					.kurs__content
						.kurs__top
							.kurs__tag SMM
							.kurs__time 1 месяц
						.kurs__bottom
							h3.kurs__title Экспресс SMM
							.kurs__btns
								a.kurs__btn.btn(href="") Купить
								a.kurs__btn.btn.btn--white(href="") Бесплатный урок