section.ylearn-section
	.container2.ylearn-container
		img.ylearn-art(src="img/dark-star.svg", alt="")
		h2.ylearn-title Чему вы научитесь <br> на курсе

	.container2.ylearn-row-container
		.ylearn-row-wrap.js-ylearn-hor-scroll
			.ylearn-row
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--1
						.ylearn-item__title Пониманию <br> эстетики текста
						img.ylearn-item__img(src="img/landings/copywriting/ylearn/i1.svg", alt="")
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--2.ylearn-item--small
						.ylearn-item__title Сразу писать, не раздумывая <br>  по 20 минут над темой
					.ylearn-item.ylearn-item--3.ylearn-item--tall
						.ylearn-item__title Писать <br>  продающие <br>  тексты
						img.ylearn-item__img.ylearn-item__img--desk(src="img/landings/copywriting/ylearn/i2.svg", alt="")
						img.ylearn-item__img.ylearn-item__img--mob(src="img/landings/copywriting/ylearn/i2-mob.svg", alt="")

				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--4
						.ylearn-item__title Вызывать <br>  эмоции <br>  текстом
						img.ylearn-item__img(src="img/landings/copywriting/ylearn/i3.svg", alt="")
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--5
						.ylearn-item__title Писать <br>  в разных <br>  стилях
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--6.ylearn-item--tall
						.ylearn-item__title Правильному <br>  позиционированию
						img.ylearn-item__img.ylearn-item__img--desk(src="img/landings/copywriting/ylearn/i4.svg", alt="")
						img.ylearn-item__img.ylearn-item__img--mob(src="img/landings/copywriting/ylearn/i4-mob.svg", alt="")
					.ylearn-item.ylearn-item--7.ylearn-item--small
						.ylearn-item__title Методам креативного  <br> мышления
						img.ylearn-item__img(src="img/landings/copywriting/ylearn/i5.svg", alt="")
