.container2--home{
  @include mMax{
    padding: 0 vw(28);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}

main .home{
  background: #131417;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  padding-bottom: vwx(306);
  @include dMMax{
    padding-bottom: novwx(306);
  }
  @include homeMax{
    padding-bottom: qw(306);
  }
  @include mMax{
    padding-bottom: vw(133);
    padding-top: vw(60);
  }
  .header{
    background: #131417 !important;
    position: static !important;
    @include mMax{
      padding-top: 80px;
      .header__right{
        display: flex;
        position: static;
        height: auto;
        width: auto;
        background: transparent;
        padding: 0;
        .header__menu-new li:not(:last-child){
          display: none;
        }
        .header__menu-new li:last-child{
          margin-left: 0;
        }
        .header__enter{
          color: #ffffff;
          width: vw(180);
          min-height: vw(50);
          font-size: vw(16);
          line-height: vw(17);
        }
      }
    }
  }
  .header__menu-new{
    display: flex;
    align-items: center;
    li{
      +li{
        margin-left: 59px;
        @include sMax{
          margin-left: 50px;
        }
      }
    }
    a:not(.header__enter){
      font-family: $secondFont;
      font-size: 20px;
      line-height: 50px;
      text-align: right;
      color: #FFFFFF;
      transition: color 0.3s ease;

      &:hover{
        color: #ff5210;
      }
    }
  }
  &-top{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    margin-top: vwx(115);
    @include dMMax{
      margin-top: novwx(115);
    }
    @include homeMax{
      margin-top: qw(115);
    }
    @include mMax{
      margin-top: vw(50);
      flex-direction: column;
    }
    &__left{
      font-size: vwx(100);
      line-height: 100%;
      letter-spacing: vwx(-1.25573);
      color: #FFFFFF;
      width: vwx(923);
      padding-top: vwx(83);
      @include dMMax{
        font-size: novwx(100);
        line-height: 100%;
        letter-spacing: novwx(-1.25573);
        color: #FFFFFF;
        width: novwx(923);
        padding-top: novwx(83);
      }
      @include homeMax{
        font-size: qw(100);
        line-height: 100%;
        letter-spacing: qw(-1.25573);
        width: qw(923);
        padding-top: qw(83);
      }
      @include mMax{
        font-size: vw(36);
        letter-spacing: vw(-1.25573);
        width: 100%;
        padding-top: 0;
      }
      span{
        font-style: italic;
        font-weight: 700;
      }
    }
    &__right{
      display: block;
      width: vwx(474);
      padding-right: vwx(15);
      text-align: center;
      @include dMMax{
        width: novwx(474);
        padding-right: novwx(15);
      }
      @include homeMax{
        width: qw(474);
        padding-right: qw(15);
      }
      @include mMax{
        width: 100%;
        padding: 0;
        margin-top: vw(60);
      }
      &-img{
        width: 100%;
        display: block;
        height: vwx(590);
        @include dMMax{
          height: novwx(590);
        }

        @include mMax{
          width: vw(275);
          margin: 0 auto;
          height: vw(350);
        }
        img{
          width: 100%;
          display: block;
        }
        iframe{
          width: 100%;
          max-width: 100%;
          height: 100%;
          max-height: 100%;

        }
      }
      &-text{
        font-family: $secondFont;
        font-size: vwx(32);
        line-height: vwx(25);
        color: #FEA430;
        margin-top: vwx(50);
        @include dMMax{
          font-size: novwx(32);
          line-height: novwx(25);
          margin-top: novwx(50);
        }
        strong{
          font-weight: 500;
        }
        @include homeMax {
          font-size: qw(32);
          line-height: qw(25);
          margin-top: qw(50);
        }
        @include mMax{
          margin-top: vw(11);
          font-size: vw(18);
          font-weight: 400;
        }

      }
    }
  }

  &-block{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    @include mMax{
      flex-direction: column;
    }
    &__img{
      width: calc(100% - 29.2vw);
      display: flex;
      @include dMMax{
        width: calc(100% - 560px);
      }
      @include homeMax {
        width: calc(100% - 45vw);
      }
      @include mMax{
        width: calc(100% + 13.2vw);
        margin-left: -6.6vw;
        margin-right: -6.6vw;
        margin-bottom: vw(24);
      }

      img {
        width: 46vw;

        @include homeMax {
          width: 100vw;
        }
      }
    }
    &__right{
      width: vwx(713);
      @include dMMax{
        width: novwx(713);
      }
      @include homeMax {
        width: 45vw;
      }
      @include mMax{
        width: 100%;
        text-align: center;
      }
    }
    &__text{
      font-size: vwx(48);
      line-height: vwx(60);
      letter-spacing: vwx(-1.25573);
      color: #FFFFFF;
      @include dMMax{
        font-size: novwx(48);
        line-height: novwx(60);
        letter-spacing: novwx(-1.25573);
      }
      @include homeMax {
        font-size: qw(48);
        line-height: qw(60);
        letter-spacing: qw(-1.25573);
      }
      @include mMax{
        font-size: vw(28);
        letter-spacing: 0;
        line-height: 100%;
      }
      > p + p {
        margin-top: 1.24em;
        @include mMax{
          margin-top: 0;
        }
      }
    }
    &__link{
      margin-top: vwx(47);
      @include dMMax{
        margin-top: novwx(47);
      }
      @include homeMax {
        margin-top: qw(47);
      }
      @include mMax{
        margin-top: vw(22);
      }
      a{
        font-size: vwx(32);
        line-height: vwx(32);
        text-decoration-line: underline;
        color: #FF9B07;
        @include dMMax{
          font-size: novwx(32);
          line-height: novwx(32);
        }
        @include homeMax {
          font-size: qw(32);
        }
        @include mMax{
          font-size: vw(28);
        }
        &:hover{
          text-decoration: none;
        }
      }
    }



    &--1{
      margin-top: vwx(-59);
      @include dMMax{
        margin-top: novwx(-59);
      }
      @include homeMax {
        margin-top: qw(-59);
      }
      @include mMax{
        margin-top: vw(120);
      }
      .home-block__img{
        justify-content: flex-end;
        img{
          @include homeMax {
            width: qw(1107);
          }
          @include mMax{
            width: 100%;
          }
        }
      }
    }
    &--2{
      flex-direction: row-reverse;
      margin-top: vwx(-69);
      z-index: 1;
      @include dMMax{
        margin-top: novwx(-69);
      }
      @include homeMax {
        margin-top: qw(-69);
      }
      @include mMax{
        flex-direction: column;
        margin-top: vw(77);
      }
      &::before{
        position: absolute;
        width: vwx(1111);
        height: vwx(1373);
        content: "";
        display: block;
        background: url(../img/main/home-bg.png) center center no-repeat;
        background-size: contain;
        right: vwx(-340);
        bottom: 0;
        z-index: -1;
        @include dMMax{
          right: novwx(-340);
          width: novwx(1111);
          height: novwx(1373);
        }
        @include homeMax {
          width: qw(1111);
          height: qw(1373);
          right: qw(-340);
        }
        @include mMax{
          display: none;
        }
      }

      .home-block__img{
        img{
          @include homeMax {
            width: qw(997);
          }
          @include mMax{
            width: 95%;
          }
        }
      }
    }
  }


  &-partners{
    margin-top: vwx(41);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include dMMax{
      margin-top: novwx(41);
    }
    @include homeMax {
      margin-top: qw(41);
    }
    @include mMax{
      margin-top: vw(77);
    }
    &__text{
      font-size: vwx(48);
      line-height: vwx(60);
      text-align: center;
      letter-spacing: vwx(-1.25573);
      color: #FFFFFF;
      max-width: vwx(770);
      @include dMMax{
        font-size: novwx(48);
        line-height: novwx(60);
        letter-spacing: novwx(-1.25573);
        max-width: novwx(770);
      }
      @include homeMax {
        font-size: qw(48);
        line-height: qw(60);
        letter-spacing: qw(-1.25573);
        max-width: qw(770);
      }
      @include mMax{
        max-width: 100%;
        font-size: vw(28);
        line-height: 100%;
        letter-spacing: 0;
      }
    }
    &__flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: vwx(1040);
      max-width: 100%;
      margin-top: vwx(100);
      @include dMMax{
        margin-top: novwx(100);
        width: novwx(1040);
      }
      @include homeMax {
        width: qw(1040);
        margin-top: qw(100);
      }
      @include mMax{
        width: 100%;
        margin-top: vw(60);
      }
    }
    &__item{
      width: 25%;
      height: vwx(133);
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      @include dMMax{
        height: novwx(133);
      }
      @include homeMax {
        height: qw(133);
      }
      @include mMax{
        height: auto;
        padding: vw(20);
        width: auto;
        max-width: 50%;
      }
      img{
        display: block;
        max-width: 55%;
        max-height: 55%;
        @include mMax{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  &-kurses{
    padding-top: vwx(182);
    @include dMMax{
      padding-top: novwx(182);
    }
    @include homeMax {
      padding-top: qw(182);
    }
    @include mMax{
      padding-top: vw(120);
    }
    &__title{
      margin-bottom: vwx(103);
      font-size: vwx(64);
      line-height: 100%;
      letter-spacing: vwx(-1.25573);
      color: #FFFFFF;
      @include dMMax{
        margin-bottom: novwx(103);
        font-size: novwx(64);
        line-height: novwx(64);
        letter-spacing: novwx(-1.25573);
      }
      @include homeMax {
        margin-bottom: qw(103);
        font-size: qw(64);
        letter-spacing: qw(-1.25573);
      }
      @include sMax {
        margin-bottom: qw2(103);
        font-size: qw2(64);
        letter-spacing: qw2(-1.25573);
      }
      @include mMax{
        font-size: vw(36);
        letter-spacing: vw(-1.25573);
        margin-bottom: vw(25);
      }

      &--margin {
        margin-top: vwx(187);
        margin-bottom: vwx(118);
      }
    }
    .kurs__inner{
      display: block;
      position: relative;
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;
        background: #000000;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.2s;
      }
      &:hover{
        &::after{
          opacity: 0.3;
        }
      }
    }
    .kurs__content{
      position: absolute;
      background: transparent;
      z-index: 2;
      padding: vwx(33) vwx(37) vwx(37) vwx(37);
      overflow: hidden;
      @include dMMax{
        padding: novwx(33) novwx(37) novwx(37) novwx(37);
      }
      @include homeMax {
        padding: qw(33) qw(37) qw(37) qw(37);
      }
      @include sMax {
        padding: qw2(33) qw2(37) qw2(37) qw2(37);
      }
      @include mMax{
        padding: vw(25);
      }
    }
    .kurs__tag {
      @include dArea{
        border-radius: vwx(51);
        font-size: vwx(18);
        min-height: vwx(57);
        padding: 0 vwx(40);
      }
      @include homeMax {
        border-radius: qw(51);
        font-size: qw(18);
        min-height: qw(57);
        padding: 0 qw(40);
      }
      @include sMax {
        border-radius: qw2(51);
        font-size: qw2(18);
        min-height: qw2(57);
        padding: 0 qw2(40);
      }
      @include mMax{
        border-radius: vw(51);
        font-size: vw(14);
        min-height: vw(41);
        padding: 0 vw(25);
      }
    }
    .kurs__title-home{
      font-size: vwx(34);
      line-height: vwx(42);
      color: #FFFFFF;
      margin-bottom: vwx(5);
      @include dMMax{
        font-size: novwx(34);
        line-height: novwx(42);
        margin-bottom: novwx(5);
      }
      @include homeMax {
        font-size: qw(34);
        line-height: qw(42);
        margin-bottom: qw(10);
      }
      @include sMax {
        font-size: qw2(34);
        margin-bottom: qw2(5);
      }
      @include mMax{
        font-size: vw(24);
        line-height: 110%;
        margin-bottom: vw(10);
      }
    }
    .kurs__date-home{
      font-size: vwx(24);
      line-height: vwx(30);
      color: #FFFFFF;
      opacity: 0.6;
      @include dMMax{
        font-size: novwx(24);
        line-height: novwx(30);
      }
      @include homeMax {
        font-size: qw(24);
        line-height: qw(30);
      }
      @include sMax {
        font-size: qw2(24);
      }
      @include mMax{
        font-size: vw(13);
        line-height: 110%;
        opacity: 0.5;
      }
    }
    .kurs__img-new{
      position: absolute;
      z-index: -1;
      display: block;
      width: vwx(200);
      @include dMMax{
        width: novwx(200);
      }
      @include homeMax {
        width: auto;
      }
    }
    .kurs-new{
      &--1{
        .kurs__img-new{
          top: vwx(75);
          right: 0;
          width: vwx(350);
          left: 50%;
          margin-left: vwx(-175);
          @include dMMax{
            width: novwx(350);
            top: novwx(75);
            margin-left: novwx(-175);
          }

          @include homeMax {
            top: qw(80);
            width: qw(250);
            margin-left: qw(-125);
          }
          @include sMax {
            top: qw2(80);
            width: qw2(350);
            margin-left: qw2(-175);
          }
          @include mMax {
            top: vw(55);
            width: vw(200);
            margin-left: vw(-100);
          }
        }
      }
      &--2{
        .kurs__img-new{
          top: vwx(127);
          left: vwx(20);
          width: vwx(400);
          @include dMMax{
            top: novwx(127);
            left: novwx(20);
            width: novwx(400);
          }

          @include homeMax {
            top: qw(127);
            left: qw(20);
            width: qw(392);
          }
          @include sMax {
            top: qw2(127);
            left: qw2(20);
            width: qw2(392);
          }
          @include mMax{
            top: vw(94);
            left: vw(37);
            width: vw(216);
          }
        }
      }
      &--3{
        .kurs__img-new{
          top: vwx(75);
          right: 0;
          width: vwx(350);
          left: 50%;
          margin-left: vwx(-175);
          @include dMMax{
            width: novwx(350);
            top: novwx(75);
            margin-left: novwx(-175);
          }

          @include homeMax {
            top: qw(80);
            width: qw(250);
            margin-left: qw(-125);
          }
          @include sMax {
            top: qw2(80);
            width: qw2(350);
            margin-left: qw2(-175);
          }
          @include mMax {
            top: vw(55);
            width: vw(200);
            margin-left: vw(-100);
          }
        }
      }
      &--4{
        .kurs__img-new{
          top: vwx(119);
          left: 50%;
          transform:translateX(-50%);
          width: vwx(350);
          @include dMMax{
            width: novwx(350);
            top: novwx(119);
          }

          @include homeMax {
            top: qw(119);
            width: qw(329);
          }
          @include sMax {
            top: qw2(119);
            width: qw2(329);
          }
          @include mMax {
            top: vw(95);
            width: vw(185);
          }
        }
      }
      &--5{
        .kurs__img-new{
          top: vwx(75);
          right: 0;
          width: vwx(350);
          left: 50%;
          margin-left: vwx(-175);
          @include dMMax{
            width: novwx(350);
            top: novwx(75);
            margin-left: novwx(-175);
          }

          @include homeMax {
            top: qw(80);
            width: qw(250);
            margin-left: qw(-125);
          }
          @include sMax {
            top: qw2(80);
            width: qw2(350);
            margin-left: qw2(-175);
          }
          @include mMax {
            top: vw(55);
            width: vw(200);
            margin-left: vw(-100);
          }
        }
      }
      &--6{
        .kurs__img-new{
          top: vwx(75);
          right: 0;
          width: vwx(350);
          left: 50%;
          margin-left: vwx(-175);
          @include dMMax{
            width: novwx(350);
            top: novwx(75);
            margin-left: novwx(-175);
          }

          @include homeMax {
            top: qw(80);
            width: qw(250);
            margin-left: qw(-125);
          }
          @include sMax {
            top: qw2(80);
            width: qw2(350);
            margin-left: qw2(-175);
          }
          @include mMax {
            top: vw(55);
            width: vw(200);
            margin-left: vw(-100);
          }
        }
      }
      &--7{
        .kurs__img-new{
          top: vwx(143);
          left: 45%;
          transform:translateX(-50%);
          width: vwx(150);
          @include dMMax{
            top: novwx(143);
            width: novwx(150);
          }

          @include homeMax {
            top: qw(143);
            width: qw(105);
          }
          @include sMax {
            top: qw2(143);
            width: qw2(105);
          }
          @include mMax {
            width: vw(155);
            top: vw(44);
            right: vw(20);
            left: auto;
            transform: none;
          }
        }
      }
      &--8{
        width: 66.6666%;

        @include sMax{
          width: 50%;
        }
        @include mMax{
          width: 100%;
        }

        .kurs__inner {
          &::before {
            padding-top: 47.6%;

            @include sMax{
              padding-top: 100%;
            }
          }
        }

        .kurs__img-new{
          top: vwx(10);
          right: vwx(-140);
          width: vwx(800);

          @include dMMax{
            top: novwx(10);
            right: novwx(-140);
            width: novwx(800);
          }

          @include homeMax {
            top: qw(10);
            right: qw(-140);
            width: qw(800);
          }
          @include sMax {
            top: qw2(110);
            right: qw2(-70);
            width: qw2(500);
          }
          @include mMax {
            width: vw(337);
            top: vw(90);
            left: vw(26);
            right: auto;
          }
        }
      }
    }

  }

  .kurs-new--new-banner{
    .kurs__top:after{
      content: '';
      width:80px;
      height: 52px;
      background: url("../img/new.png") no-repeat;
      background-size: 100% 100%;
      @include dArea{
        width:vwx(80);
        height: vwx(52);
      }
      @include mMax{
        width:vw(65);
        height: vw(42);
      }
    }
  }

  &-form{
    overflow: hidden;
    padding-top: vwx(129);
    padding-bottom: vwx(10);
    @include dMMax{
      padding-top: novwx(129);
      padding-bottom: novwx(10);
    }
    @include homeMax{
      padding-top: qw(129);
      padding-bottom: qw(10);
    }

    @include mMax{
      padding-top: vw(97);
      padding-bottom: vw(84);
    }
    &__flex{
      display: flex;
    }
    &__left{
      padding-top: vwx(53);
      width: vwx(823);
      max-width: 100%;
      flex-shrink: 0;
      padding-bottom: vwx(50);
      @include dMMax{
        padding-top: novwx(53);
        width: novwx(823);
        padding-bottom: novwx(50);
      }
      @include homeMax{
        padding-top: qw(53);
        width: qw(823);
        padding-bottom: vw(50);
      }
      @include mMax{
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
      }
    }
    &__rigth{
      width: calc(100% - 50.8vw);
      img{
        width: vwx(1000);
        @include dMMax{
          width: novwx(1000);
        }
        @include homeMax{
          width: qw(1009);
        }
      }
      @include mMax{
        display: none;
      }
    }
    &__title{
      font-size: vwx(64);
      line-height: 100%;
      letter-spacing: vwx(-1.25573);
      @include dMMax{
        font-size: novwx(64);
        letter-spacing: novwx(-1.25573);
      }
      @include homeMax{
        font-size: qw(64);
        letter-spacing: qw(-1.25573);
      }
      @include mMax{
        font-size: vw(36);
        text-align: center;
        letter-spacing: vw(-1.25573);
      }
    }
    &__text{
      font-size: vwx(36);
      line-height: 124%;
      letter-spacing: vwx(-1.25573);
      margin-top: vwx(35);
      max-width: vwx(780);
      @include dMMax{
        font-size: novwx(36);
        letter-spacing: novwx(-1.25573);
        margin-top: novwx(35);
        max-width: novwx(780);
      }
      @include homeMax{
        font-size: qw(36);
        letter-spacing: qw(-1.25573);
        margin-top: qw(35);
        max-width: qw(780);
      }
      @include mMax{
        max-width: 100%;
        margin-top: vw(40);
        font-size: vw(24);
        text-align: center;
        letter-spacing: vw(-1.25573);
      }
    }
    &__form{
      margin-top: vwx(63);
      @include dMMax{
        margin-top: novwx(63);
      }
      @include homeMax{
        margin-top: qw(63);
      }
      @include mMax{
        margin-top: vw(40);
      }
      &-type{
        display: flex;
        flex-wrap: wrap;
        margin-left: vwx(-20);
        margin-right: vwx(-20);
        @include dMMax{
          margin-left: novwx(-20);
          margin-right: novwx(-20);
        }
        @include homeMax{
          margin-left: qw(-20);
          margin-right: qw(-20);
        }
        @include mMax{
          margin: 0;
          flex-direction: column;
          align-items: center;
        }
      }
      &-checkbox{
        padding: 0 vwx(20) vwx(28);
        @include dMMax{
          padding: 0 novwx(20) novwx(28);
        }
        @include homeMax{
          padding: 0 qw(20) qw(28);
        }
        @include mMax{
          padding: 0;
          margin-bottom: vw(15);
        }
        label{
          cursor: pointer;
          span{
            font-size: vwx(17);
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #373737;
            box-sizing: border-box;
            padding: 0 vwx(50);
            height: vwx(58);
            background: rgb(229, 237, 242);
            border-radius: vwx(13);
            @include dMMax{
              font-size: novwx(17);
              padding: 0 novwx(50);
              height: novwx(58);
              border-radius: novwx(13);
            }
            @include homeMax{
              font-size: qw(17);
              padding: 0 qw(50);
              height: qw(58);
              border-radius: qw(13);
            }
            @include mMax{
              font-size: vw(17);
              padding: 0 vw(30);
              height: vw(45);
              border-radius: vw(13);
            }
          }
          input{
            display: none;
            &:checked{
              + span{
                background: #AFF800;
              }
            }
          }
        }
      }
      &-text{
        margin-top: vwx(156);
        background: transparent;
        border: none;
        resize: none;
        font-weight: 300;
        font-size: vwx(28);
        line-height: 124%;
        padding: 0;
        padding-bottom: vwx(13);
        border-bottom: 3px solid #E5EDF2;
        width: 100%;
        letter-spacing: vwx(-1.25573);
        @include dMMax{
          margin-top: novwx(156);
          font-size: novwx(28);
          padding-bottom: novwx(13);
          letter-spacing: novwx(-1.25573);
        }
        @include homeMax{
          margin-top: qw(156);
          font-size: qw(28);
          padding-bottom: qw(13);
          border-bottom: qw(3) solid #E5EDF2;
          letter-spacing: qw(-1.25573);
        }
        @include mMax{
          margin-top: vw(45);
          font-size: vw(18);
          padding-bottom: vw(13);
          border-bottom: vw(3) solid #E5EDF2;
          letter-spacing: vw(-1.25573);
        }

        &::placeholder{
          color: #8A8A8A;
        }
      }
      &-btn{
        cursor: pointer;
        margin-top: vwx(94);
        padding: 0 vwx(50);
        background-color: rgb(0, 0, 0);
        border-radius: vwx(13);
        transition: 0.3s;
        font-size: vwx(17);
        border: 1px solid #000000;
        min-height: vwx(57);
        color: #ffffff;

        @include dMMax{
          margin-top: novwx(94);
          padding: 0 novwx(50);
          border-radius: novwx(13);
          font-size: novwx(17);
          min-height: novwx(57);
        }
        @include homeMax{
          margin-top: qw(94);
          padding: 0 qw(50);
          border-radius: qw(13);
          font-size: qw(17);
          min-height: qw(57);
        }
        @include mMax{
          margin-top: vw(24);
          margin-left: auto;
          margin-right: auto;
          display: block;
          padding: 0 vw(50);
          border-radius: vw(13);
          font-size: vw(17);
          min-height: vw(57);
        }

        &:hover{
          background: #ffffff;
          color: #000000;
        }
      }
      &-info{
        font-size: vwx(18);
        line-height: 124%;
        color: #BABABA;
        margin-top: vwx(10);
        @include dMMax{
          font-size: novwx(18);
          margin-top: novwx(10);
        }
        @include homeMax{
          font-size: qw(18);
          margin-top: qw(10);
        }
        @include mMax{
          font-size: vw(12);
          margin-top: vw(10);
          text-align: center;
        }
      }
    }
  }
}