.container2 {
	box-sizing: border-box;
	width: 1571px;
	max-width: 95%;
	max-width: calc(100% - 20px * 2);
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.container2 {
		max-width: calc(100% - #{vw(47)} * 2);
	}
}

.main2{
	display: block;
	flex-grow: 1;
}
html,body{
	display: block !important;
}
.oh-wrap{
	overflow: hidden;
}




@media (min-width:1025px) {
	.desk-nowrap{
		display: inline;
		white-space: nowrap;
	}
}


@media (max-width:1024px) {
	.mob-nowrap{
		display: inline;
		white-space: nowrap;
	}
}