@mixin homeMax {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin dMax {
	@media (max-width: 1500px) {
		@content;
	}
}

@mixin tMax {
	@media (max-width: 1300px) {
		@content;
	}
}

@mixin sMax {
	@media (max-width: 1100px) {
		@content;
	}
}

@mixin mMax {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 450px) {
		@content;
	}
}

@mixin mMin {
	@media (min-width: 769px) {
		@content;
	}
}

@mixin dMMax {
	@media (min-width: 1920px) {
		@content;
	}
}

@mixin dMax2 {
	@media (max-width: 1920px) {
		@content;
	}
}

@mixin dArea {
	@media (min-width: 1200px) and (max-width: 1920px){
		@content;
	}
}




$resolutiond: 1920;


@function vwd($px) {
	@return (($px/$resolutiond) * 100)+vw;
}

@function vwx($px) {
	@return (($px/$resolutiond) * 80)+vw;
}
@function novwx($px) {
	@return ($px) +px;
}



$resolution: 375;


@function vw($px) {
	@return (($px/$resolution) * 100)+vw;
}


$resolutiond2: 1200;

@function qw($px) {
  @return (($px/$resolutiond2) * 80)+vw;
}


$resolutiond3: 1110;

@function qw2($px) {
  @return (($px/$resolutiond3) * 100)+vw;
}

