.cart-page {
	padding: 92px 0 110px;

	.cart-page__title {
		margin-bottom: 45px;
	}

	.cart-page__start {
		span {}
	}

	.cart-page__flex {}

	.product {
		padding: 38px 25px 55px 74px;
		display: flex;
		flex-direction: column;

		&__title {}

		&__price {}

		&__info {
			margin-top: 31px;
			min-height: 0;
			flex-grow: 1;
		}

		.product__price-new {}

		.product__btn.btn {
			&--border {}

			&:hover {}

			&:active {}

			&:focus {}
		}
	}

	.product__timer {
		span {
			white-space: nowrap;
		}
	}

	.cart-page__agree {
		svg {}
	}

	.cart-page__payment {
		img {}
	}

	&--fixed {
		padding: 247px 0 237px;
	}
}


@media screen and (max-width:1347px) {
	.cart-page--fixed {
		.product__timer {
			font-size: 18px;
		}
	}
}

@media screen and (max-width:1024px) {
	.cart-page {
		padding: vw(65) 0 vw(67);

		.cart-page__title {
			font-size: vw(36);
			margin-bottom: vw(4);
		}

		.cart-page__start {
			width: vw(137);
			height: vw(30);
			font-size: vw(13);
			margin-bottom: vw(55);
		}

		.cart-page__flex {
			display: block;
		}

		.product {
			width: 100%;
			padding: vw(48) vw(52) vw(50) vw(52);

			&:not(:last-child) {
				&::after {
					width: 68%;
					height: 2px;
					top: unset;
					right: unset;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
				}
			}

			&__title {
				font-size: vw(36);
				line-height: 120%;
				margin-bottom: 60px;
			}

			&__price {
				font-size: vw(15);
				line-height: 125.8%;

				p {
					font-size: vw(47);
				}
			}

			.product__btn.btn {
				font-size: vw(18);
				margin-right: 0;
				width: 90%;
				min-height: vw(50);
				margin-top: 52px;

				&--border {}

				&:hover {}

				&:active {}

				&:focus {}
			}

			&__feedback {
				line-height: 118%;

				br {
					display: none;
				}
			}

			&--center {
				padding: vw(43) vw(40) vw(34) vw(62);
			}
		}

		.product__timer {
			font-size: vw(18);
			text-align: center;
			width: vw(207);
			margin: vw(13) auto vw(26);
		}

		.cart-page__agree {
			font-size: vw(14);
			line-height: 100%;
			text-align: left;
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				display: block;
				width: vw(192);
			}

			svg {
				margin-right: vw(9);
				width: vw(24);
				min-width: vw(24);
				height: auto;
			}
		}

		.cart-page__payment {
			margin-top: vw(26);

			img {
				height: vw(26);
				object-fit: contain;
				object-position: center center;
			}
		}
	}
}