section.feedback
	.container2.feedback__container
		.feedback__title Остались вопросы?
		.feedback__subtitle Мы увольняем менеджера, если он не отвечает
			bold в течение 59 секунд
		.feedback__content
			.feedback__wrapper
				a.feedback__lnk-wrap(href="")
					.feedback__icon-wrapper(style="background: #198FFC;")
						img.feedback__icon(src="img/tg-icon.svg")
					.feedback__link.feedback__link--telegram(style="background: #198FFC;") tutorinfo
				img.feedback__copy(src="img/copy.svg" data-copy="tutorinfo")
			.feedback__wrapper
				a.feedback__lnk-wrap(href="")
					.feedback__icon-wrapper(style="background: #000000; ")
						img.feedback__icon(src="img/mail-icon.svg")
					.feedback__link.feedback__link--mail(style="background: #000000;") tutor@smmagnat.ru
				img.feedback__copy(src="img/copy.svg" data-copy="tutor@smmagnat.ru")