@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (min-width:1025px) {
	.feedback__content {
		padding-left: 76px;
	}
}

@media (max-width:1024px) {
	.feedback {
		padding-top: vw(56);
		padding-bottom: vw(111);

		&__title {
			font-size: vw(36);
			margin-bottom: vw(26);
		}

		&__subtitle {
			font-size: vw(16);
			margin-bottom: vw(25);
		}
		&__icon-wrapper{
			width: vw(43);
			height: vw(43);

		}
		&__icon {
		}

		&__wrapper {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: vw(13);
			}
		}

		&__link{
			box-sizing: border-box;

			padding: vw(14) vw(14) vw(10);
			width: vw(177);
			font-weight: 500;
			font-size: vw(14);
			line-height: 125.8%;
			border-radius: vw(51);
			margin-right: vw(15);
		}



		&__copy {
			width: vw(24);
			height: vw(19);
		}
	}
}