.feedback {
padding-top: 123px;
padding-bottom: 151px;
	@include dArea{
		padding-top: vwx(123);
		padding-bottom: vwx(151);
	}
	&__container {
	}

	&__title {
		font-weight: 500;
		font-size: 96px;
		line-height: 100%;
		text-align: center;
		margin-bottom: 48px;
		@include dArea{
			font-size: vwx(96);
			margin-bottom: vwx(48);
		}
	}
	&__subtitle {
		font-weight: 350;
		font-size: 24px;
		line-height: 125.8%;
		text-align: center;
		margin-bottom: 80px;
		@include dArea{
			font-size: vwx(24);
			margin-bottom: vwx(80);
		}
		bold {
			font-weight: 700;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 19px;
			@include dArea{
				margin-bottom: vwx(19);
			}
		}
	}

	&__icon-wrapper {
		margin-right: 8px;
		border-radius: 50%;
		overflow: hidden;
		width: 57px;
		height: 57px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include dArea{
			width: vwx(57);
			height: vwx(57);
		}
	}

	&__icon {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		object-position: center center;
	}
	&__lnk-wrap{
		display: flex;
		align-items: center;
	}
	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 19px 20px 16px;
		width: 239px;
		box-sizing: border-box;
		font-weight: 500;
		font-size: 18px;
		line-height: 125.8%;
		color: #FFFFFF;

		border-radius: 51px;
		margin-right: 20px;
		@include dArea{
			padding: vwx(19) vwx(20) vwx(16);
			width: vwx(239);
			font-size: vwx(18);
			border-radius: vwx(51);
			margin-right: vwx(20);
		}

	}
	&__copy {
		cursor: pointer;
	}
}
