section.target-need
    .container2.target-need__container
        .target-need__title Инструмент, без которого SMM не работает 
    .container2.target-need__container
        .target-need__content
            .target-need__decor Для&nbsp;кого?
            .target-need__inner
                .target-need__row
                    .target-need__card
                        .target-need__card-img
                            img(src="img/landings/target/need-1.svg")
                        .target-need__card-title Новичков
                        .target-need__card-desc Для тех, кто никогда не видел рекламный кабинет и не знает, что такое таргетинг
                    .target-need__card
                        .target-need__card-img
                            img(src="img/landings/target/need-2.svg")
                        .target-need__card-title Таргетологов
                        .target-need__card-desc Которые хотят улучшить свои навыки и выйти на новый уровень
                    .target-need__card
                        .target-need__card-img
                            img(src="img/landings/target/need-3.svg")
                        .target-need__card-title.target-need__card-title-xl Маркетологов и владельцев бизнеса
                        .target-need__card-desc Которые хотят понять, как работает таргетинг
