section.copywriting-programm.copywriting-programm--target
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Программа курса
				.cwprog-cards
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Знакомство с&nbsp;преподавателем
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
										.cwprog-card-type__name Видео-урок
							.cwprog-card-left__bottom
								.cwprog-card-part-name Урок 0

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt О себе
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Что такое таргетированная реклама
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Какие бывают таргетологи
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как развиваться таргетологу
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как искать клиентов в 2021
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Подводные камни работы таргетолога
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как контролировать таргетолога


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/video-urok.svg", alt="icon")
									.cwprog-card-type__name Видео-урок
							a.btn.btn--v2.btn--green.cwprog-card-btn(href="") Смотреть бесплатно


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Введение в таргетинг
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Что такое таргетированная реклама
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Гарантии
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Разбор клиента
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Майнд-карты и построение проект-плана
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt УТП
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Бизнес-страница
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Активация рекламного кабинета
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Разбор бизнес менеджера


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Аналитика
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Пиксель Facebook
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt UTM-метки
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Analytics
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Яндекс.Метрика
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Google Tag Manager
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Facebook Analytics

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Настройка таргетинга
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 3

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аудитории / Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аудитории / Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аудитории / Часть 3
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Цели / Оптимизация / Плейсменты
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Распределение бюджета рекламной кампании
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Настройка рекламных кампаний / Форматы объявлений / Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Настройка рекламный кампаний / Форматы объявлений / Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Таргетинг через Instagram

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Работа с посадочными страницами и каталогом
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 4

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аналитика рекламных кампаний
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Генерация лидов в Facebook
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как создать функциональный лендинг с&nbsp;товарами
							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Стратегии таргетирования
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 5

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Стратегии по настройке таргетированной рекламы / Конверсии / Дубли / Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Стратегии по настройке таргетированной рекламы / Часть 2
							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Управление и аналитика рекламных кампаний
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 6

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Управление рекламными кампаниями
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аналитика рекламных кампаний
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Отчетность и биллинг
							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Кейсы
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 7

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Кейс / Магазин одежды / Как мы превратили почти 350 000 ₽ в 4.9 млн рублей
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Кейс по бренду корейской косметики PandaPatch
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Кейс по бренду корейской косметики Avajar
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Кейс по бренду Armstrong
							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						img.cwprog-card-gift(src="img/landings/gift.png", alt="")
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Бонусы
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 8

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt  Как таргетологу искать клиентов
								.cwprog-text-item(style="display:none;")
									.cwprog-titem-name
										.cwprog-titem-name__txt
							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые урок