section.target-banner
    .target-banner__decor-wrapper
        img.target-banner__decor.target-banner__decor-desctop(src='img/landings/target/banner-decor.svg')
        //- img.target-banner__decor.target-banner__decor-mobile(src='img/landings/target/banner-decor-mob.svg')
    .container2.target-banner__container
        .target-banner__content
            img.target-banner__logo(src="img/logo2.png" alt="logo")
            .target-banner__row
                .target-banner__subtitle Таргетированная<br/>реклама
                .target-banner__kurs-info.js-callFancyVideo(data-src="images/452-old.mp4" data-preview="images/video-preview.jpg")
                    img.target-banner__play(src="img/play.svg" alt="play")
                    .target-banner__play-text О курсе &nbsp;
                        bold за 49 секунд
            .target-banner__link Записаться
