section.target-features
    .container2.target-features__container
        .target-features__content
            .target-features__row
                .target-features__img-wrapper-one.target-features__img-wrapper
                    img.target-features__img(src="img/landings/target/features-1.svg")
                .target-features__text-one.target-features__text Таргетинг — это инструмент без которого ваш бизнес не будет зарабатывать в соцсетях
            .target-features__row
                .target-features__text-two.target-features__text И один из основных каналов привлечения клиентов
                .target-features__img-wrapper-two.target-features__img-wrapper
                    img.target-features__img(src="img/landings/target/features-2.svg")
            .target-features__row
                .target-features__img-wrapper-three.target-features__img-wrapper
                    img.target-features__img.target-features__img-desctop(src="img/landings/target/features-3.svg")
                .target-features__text-three.target-features__text Таргетолог — это профессия, а&nbsp;не&nbsp;навык