section.target-banner
    .target-banner__decor-wrapper
        img.target-banner__decor.target-banner__decor-desctop(src='img/landings/target/banner-decor.svg')
        //- img.target-banner__decor.target-banner__decor-mobile(src='img/landings/target/banner-decor-mob.svg')
    .container2.target-banner__container
        .target-banner__content
            a.target-banner__logo(href="/" style="display:block")
                img.target-banner__logo(src="img/logo2.png" alt="logo")
            .target-banner__row
                .target-banner__subtitle Таргетированная<br/>реклама

            .target-banner__link Записаться
