section.ylearn-section.ylearn-section--target
	.container2.ylearn-container
		h2.ylearn-title Чему вы научитесь <br> на курсе

	#ylearn-pinContainer.container2.ylearn-row-container
		#ylearn-scroll.ylearn-row-wrap
			.ylearn-row
				.ylearn-col
					.ylearn-item.ylearn-item--1
						.ylearn-item__title Правильной <br> настройке <br> таргетированной <br> рекламы, от <br> которой клиенты <br> будут писать <br> кипятком от <br> счастья
						img.ylearn-item__img(src="img/landings/target/tar-yl-1.svg", alt="")
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--2.ylearn-item--tall(style="background: #FF4E00; color:#ffffff;")
						.ylearn-item__title Знать, как можно работать с <br>  аудиториями (сохранённые,  <br> индивидуализированные, похожие, <br>  кастомные)
					.ylearn-item.ylearn-item--3.ylearn-item--small
						.ylearn-item__title Сможете вертеть Facebook и его <br>  искусственный интеллект так, <br>  чтобы он вам давал результат

				.ylearn-col
					.ylearn-item.ylearn-item--4
						.ylearn-item__title Освоите работу с пикселем и <br> событиями, а также специально <br> настроенными конверсиями для того, <br> чтобы клиент и вы зарабатывали
						img.ylearn-item__img(src="img/landings/target/tar-yl-2.svg", alt="")
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--6.ylearn-item--tall(style="background: #FF4E00; color:#ffffff;")
						.ylearn-item__title Сможете строить <br>  майнд-карты и <br>  проект-планы для <br>  пошагового плана действий
						img.ylearn-item__img(src="img/landings/target/tar-yl-3.svg", alt="")
					.ylearn-item.ylearn-item--7.ylearn-item--small
						.ylearn-item__title Узнаете, как правильно создавать <br> и использовать УТП в <br> таргетированной рекламе