section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Чем отличается от Экспресс SMM?
                .questions__question-desc Объемом информации, которая к тому же постоянно пополняется. Комплекс позволяет включать самые разные инструменты, дает более углубленные знания и формирует четкие алгоритмы работы в сфере SMM.
            .questions__question
                .questions__question-title Можно ли с нуля?
                .questions__question-desc Можно. Главное, иметь желание.
            .questions__question
                .questions__question-title Подойдёт ли владельцем компаний?
                .questions__question-desc Да, этот курс не только позволит сформировать новый трафик за счет работы в социальных сетях, но и поможет организовать рабочие процессы в отделе маркетинга.
            .questions__question
                .questions__question-title Есть ли помощь по проектам?
                .questions__question-desc Да, как от коллег по обучению, так и от команды и самого Никиты.
            .questions__question
                .questions__question-title Я владелец бизнеса. Поможет ли мне курс правильно контролировать SMM-специалиста?    
                .questions__question-desc Вы сможете контролировать и специалиста в сфере SMM, и маркетолога, и все операционные процессы.
            .questions__question
                .questions__question-title Выдаётся ли сертификат по окончании курса?
                .questions__question-desc Да, выдаётся :)
            .questions__question
                .questions__question-title Пригодится ли курс другим людям из SMM-сферы? Тартетологам? Маркетологам? Контент-менеджерам?
                .questions__question-desc Да, и в общем смысле, и конкретно в сфере SMM. От основ текста и разбора всех фундаментальных проблем курс переходит к тексту в области маркетинга, а далее в область соц.сетей.
            .questions__question
                .questions__question-title Можно ли обратиться с вопросом после окончания обучения?
                .questions__question-desc Можно не только обратиться, но и получить ответ/совет/рекомендацию/помощь, а также вакансию для копирайтеров.
            .questions__question
                .questions__question-title Выдаётся ли сертификат по окончании курса?
                .questions__question-desc Да, по окончании курса и прохождении практической части выдаётся сертификат.