section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Подойдёт ли для новичков?
                .questions__question-desc Да, курс содержит в себе всю необходимую базу знаний для работы в сфере SMM.
            .questions__question
                .questions__question-title Можно ли сразу работать после курса?
                .questions__question-desc Можно начать работать даже во время прохождения курса, и многие так и делают. Все зависит от вас.
            .questions__question
                .questions__question-title Чем отличается Комплексное обучение от Экспресс SMM?
                .questions__question-desc Комплексный курс постоянно обновляется, пополняется, содержит в себе гораздо больше информации, в том числе из смежных сфер и маркетинга в целом.
            .questions__question
                .questions__question-title Можно ли сохранить материал?
                .questions__question-desc Сохранение материалов не запрещено, но запрещена пересылка третьим лицам, на обучение патент.
            .questions__question
                .questions__question-title Почему текстовый формат?
                .questions__question-desc Чтобы вы могли проходить обучение там, где вам удобно, тогда, когда вам удобно и перечитывать несколько раз.
            .questions__question
                .questions__question-title Есть ли домашние задания?
                .questions__question-desc Да. Более того, вы сами захотите попробовать на практике знания, полученные в каждом материале.
            .questions__question
                .questions__question-title Нужно ли что-то изучить до старта обучения?
                .questions__question-desc Не обязательно. Курс создан в том числе для тех, кто вообще не располагает никакими знаниями в сфере SMM.
            .questions__question
                .questions__question-title Есть ли помощь по проектам?
                .questions__question-desc Конечно, вместе со стартом обучения формируется экосистема, в которой вы можете задать вопросы как другим ученикам, так и самому Никите, и его команде.
            .questions__question
                .questions__question-title Я владелец бизнеса. Поможет ли мне курс правильно контролировать SMM-специалиста?
                .questions__question-desc Да, для вас этот курс будет, безусловно, полезен и не только в рамках контроля специалиста.
            .questions__question
                .questions__question-title Выдаётся ли сертификат после завершения курса?
                .questions__question-desc Да, выдаётся :)