section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title В какой программе обучение? Надо скачивать или покупать?
                .questions__question-desc Обучение проходит в программе Adobe After Effects. Программу можно купить или скачать. Но мы не поддерживаем скачку платных продуктов. Поэтому это решаете уже вы :) На курсе будет отведённое время для установки программ, а также рекомендации по версии.
            .questions__question
                .questions__question-title Подойдёт ли мой компьютер для обучения?
                .questions__question-desc.questions__question-desc_mb Устанавливать последнюю версию After Effects не обязательно, поскольку базовые принципы и приёмы программы не меняются от версии к версии. Поэтому вы можете устанавливать не самые последние версии программы на более слабые компьютеры и все равно полноценно участвовать в обучении.
                .questions__question-desc.questions__question-desc_mb Минимальные системные требования:
                .questions__question-desc.questions__question-desc_mb WINDOWS:<br/>Система: Windows 7 (64 bit) / Windows 8 / Windows 8 Pro<br/>Процессор: Intel® Core™2 Duo or AMD Phenom® II<br/>Оперативная память: 4GB of RAM (8GB рекомендуется)<br/>Разрешение экрана: 1280x900<br/>Жесткий диск: Дополнительное пространство для кэша на жестком диске (рекомендуется 10 ГБ)
                .questions__question-desc.questions__question-desc_mb macOS:<br/>Система: Многоядерный процессор Intel с поддержкой 64-bit, v10.6.8, v10.7, v10.8 или v10.9<br/>Оперативная память: 4GB of RAM (8GB рекомендуется)<br/>Разрешение экрана: 1280x900<br/>Жесткий диск: Дополнительное пространство для кэша на жестком диске (рекомендуется 10 ГБ)
            .questions__question
                .questions__question-title Можно ли с нуля?
                .questions__question-desc Программа рассчитана в том числе и на тех, кто начинает с нуля. В начале обучения есть знакомство с программой и её функционалом. Если что-то совсем не будет получаться, то преподаватель подключится к вашему компьютеру через TeamViewer и покажет, что и как нужно делать.
            .questions__question
                .questions__question-title Есть ли домашние задания?
                .questions__question-desc На курсе рекомендуется повторять всё за преподавателем и выполнять творческие задания практически после каждой главы. Так что, можно сказать, весь курс состоит из практики и домашних заданий.
            .questions__question
                .questions__question-title Обязательно ли уметь рисовать?
                .questions__question-desc Нет, здесь данный навык никак не пригодится.
            .questions__question
                .questions__question-title Можно ли сразу работать после курса?
                .questions__question-desc Курс даёт полную теоретическую и практическую базу для того, чтобы сразу начать делать коммерческие заказы. Но, как показывает практика, у особо активных учеников клиенты появляются ещё во время курса. Рекомендации и инструменты по привлечению и работе с клиентами описываются в теоретическом модуле в уроке «Как искать клиентов».
            .questions__question
                .questions__question-title Сколько в среднем стоит одно видео на рынке?
                .questions__question-desc Стоимость одного 10-15-секундного видео на рынке начинается от 2 000 – 3 000 ₽
            .questions__question
                .questions__question-title Можно ли сохранить видеоматериал?
                .questions__question-desc После завершения курса все желающие переходят в общий чат с выпускниками из всех потоков, а канал и чат становятся недоступными, но ссылки на уроки можно сохранить :)
            .questions__question
                .questions__question-title Сколько времени нужно уделять в день?
                .questions__question-desc Для успешного завершения курса вам нужно уделить ему в среднем 40 часов. Это примерно 1.3 часа в день.
            .questions__question
                .questions__question-title Выдаётся ли сертификат по окончании обучения?
                .questions__question-desc Сертификат выдаётся после успешной сдачи выпускной работы, в которой ученик демонстрирует полученные на курсе навыки.





