section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Смогу ли я научиться писать с нуля?
                .questions__question-desc Да, курс адаптивен под разные начальные уровни, в том числе и для тех, кто не только начинает, но и испытывает страх перед текстом.
            .questions__question
                .questions__question-title Я не люблю писать, но хочу вести личный бренд. Курс поможет?
                .questions__question-desc Курс поможет не только вести личный бренд, но и не страдать в процессе написания постов и любых других текстов.
            .questions__question
                .questions__question-title Много пишу, но получается всё равно плохо. Я решу свою проблему?
                .questions__question-desc Да, программа поможет понять, что не так и отработать все существующие проблемы, даже те, которые вы возможно не замечаете.
            .questions__question
                .questions__question-title Нужен ли мне этот курс, если я не планирую работать копирайтером?
                .questions__question-desc В курсе только 3 главы из 18ти направлены именно на изучение тонкостей работы копирайтера. Остальные разбирают фундаментальные вещи относительно текста, текст в маркетинге и тексты в соц.сетях, превращаясь в единый пласт знаний.
            .questions__question
                .questions__question-title Я опытный копирайтер, мне есть чему научиться здесь?
                .questions__question-desc Да, первую версию курса проходили опытные копирайтеры, филологи и даже журналисты — каждый находил для себя много полезной и нужной информации. В этой редакции тенденция сохранится.
            .questions__question
                .questions__question-title Помогут ли мне разобрать мои тексты и указать на ошибки?
                .questions__question-desc Для этого в курсе и есть практическая часть, которая разработана по принципу «от простого к сложному» и охватывает множество сфер, где вообще встречаются тексты. Все задания я проверяю лично, подчёркивая каждое слово, если это требуется и поясняю каждую ошибку.
            .questions__question
                .questions__question-title Пригодится ли курс другим людям из SMM-сферы? Тартетологам? Маркетологам? Контент-менеджерам?
                .questions__question-desc Да, и в общем смысле и конкретно в сфере SMM. От основ текста и разбора всех фундаментальных проблем курс переходит к тексту в области маркетинга, а далее в область соц.сетей.
            .questions__question
                .questions__question-title Можно ли обратиться с вопросом после окончания обучения?
                .questions__question-desc Можно не только обратиться, но и получить ответ/совет/рекомендацию/помощь, а также вакансию для копирайтеров.
            .questions__question
                .questions__question-title Выдаётся ли сертификат по окончанию курса?
                .questions__question-desc Да, по окончанию курса и прохождении практической части выдаётся сертификат.