section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Подойдёт ли мне курс, если я не собираюсь работать SMM-стратегом?
                .questions__question-desc.questions__question-desc_mb Курс подойдет в том случае, если вы себя каким-либо образом ассоциируете с социальными сетями. В первую очередь, если самореализовываетесь, используя социальные сети как инструмент. То есть создаёте личный бренд. Вы создадите стратегию для себя. Часть курса посвящена конкретным практическим навыкам для реализации желаемого. Например, как правильно считать выручку и увеличивать её через 4 метрики, что такое инициация обратной связи и как её осуществлять. Кроме этого, достаточно глубоких теоретических материалов об устройстве жизни и бизнеса с позиции уровней абстракции или рассмотрение целевых клиентский групп с точки зрения ключевых факторов выбора и т.д. А практические задания здорово прокачают изученное. Большинство студентов за время прохождения курса находят в себе идеи, от которых были далеки ранее.
                .questions__question-desc Также курс подойдет, если вы рядовой маркетолог в компании. Все примеры выше применимы для бизнеса тоже. Сам материал ориентирован именно на работу с компаниями
            .questions__question
                .questions__question-title Можно ли с нуля?
                .questions__question-desc Будет тяжело, но в материале детально описываются сложные моменты, приводится множество примеров. Преподаватель на связи и выручает, если нужна помощь.
            .questions__question
                .questions__question-title Сколько времени мне нужно будет уделять курсу?
                .questions__question-desc Чтение материала 10-15 минут. Понимание зависит от ваших возможностей. Скорость выполнения домашних заданий тоже. Но обычно уходит от 10 минут до 10 часов (в заданиях указаны сложность и сколько в среднем времени требуется на выполнение).
            .questions__question
                .questions__question-title Как быстро проверяются домашние задания?
                .questions__question-desc В течение суток.
            .questions__question
                .questions__question-title Я смогу продавать после обучение услугу по созданию стратегий?
                .questions__question-desc Да. Более того, можно будет продавать отдельные этапы стратегии. Например, 2 стратега с первых потоков продали анализ конкурентов.
            .questions__question
                .questions__question-title Подойдёт ли курс, если я хочу сделать стратегию для своего бизнеса?
                .questions__question-desc Только в том случае, если вы готовы уделять этому достаточное количество времени и обладаете целеустремленностью. Курс интенсивный.
