section.questions
    .container2.questions__container 
        .questions__title Часто задаваемые вопросы
        .questions__content
            .questions__question
                .questions__question-title Можно ли с нуля?
                .questions__question-desc Можно. Даже если вы никогда не видели рекламный кабинет.
            .questions__question
                .questions__question-title Я владелец бизнеса. Поможет ли мне курс правильно контролировать таргетолога?
                .questions__question-desc Да, поможет, так как в курсе рассказывается про каждый аспект таргетинга. После прохождения вы с легкостью сможете понять, как работает таргетолог, правильно ли он всё делает и не сливает ли он ваш бюджет.
            .questions__question
                .questions__question-title Подойдёт ли для уже действующих специалистов?    
                .questions__question-desc Да, на нашем курсе много тех, кто уже давно в таргетинге. Судя по обратной связи, примерно 40-70% материала для них был новым и интересным. Благодаря обучению они приобрели навыки и улучшили свои результаты и результаты клиентов.
            .questions__question
                .questions__question-title Можно ли получить обратную связь по собственным рекламным кампаниям?
                .questions__question-desc Да, можно. Я даю обратную связь как по материалу, так и по работе с клиентами. Отвечаю в личных сообщениях и в чате учеников.
            .questions__question
                .questions__question-title Есть ли материал по аналитике?
                .questions__question-desc Да, у нас на обучении есть статьи и мануалы по работе с Яндекс.Метрикой, Google Analytics, Facebook Analytics и Google Tag Manager.
            .questions__question
                .questions__question-title Выдаётся ли сертификат по окончании курса?
                .questions__question-desc Да, выдаётся :)
            .questions__question
                .questions__question-title Что делать, если не понимаешь материал и сложно разобраться?
                .questions__question-desc Не переживать и не бояться этого. У нас есть ученики, которые помогают друг другу и наш преподаватель Василий, который с радостью помогает и отвечает на все вопросы.
            .questions__question
                .questions__question-title Вопросы можно задавать только по темам в курсе?
                .questions__question-desc Нет, вы можете задавать вопросы и по проектам, и по креативам, и по переговорам, и по коммерческим предложениям.
            .questions__question
                .questions__question-title На сколько выдается материал курса?
                .questions__question-desc На год с момента оплаты.
            .questions__question
                .questions__question-title Как часто происходит обновление курса?
                .questions__question-desc Раз в 4-6 месяцев происходит глобальное обновление. Так как для нас важно, чтобы материал для учеников был актуальным.