section.copywriting-programm.copywriting-programm--expres-smm
	.container2.copywriting-programm__container
		.copywriting-programm__content
			.copywriting-programm__inner
				h2.cwprog-title Програма курса
				.cwprog-cards
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Введение в SMM
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 1

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt С чего начинал я / С чего начать вам
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Общение с клиентом / Гарантии результата
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Сколько времени занимает работа SMM-специалиста
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt C чего нужно начать / Порядок действий с новым клиентом
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Работа SMM-специалиста


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
							a.btn.btn--v2.btn--green.cwprog-card-btn(href="") Получить бесплатно


					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Базовая информация
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 2

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аудитория
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Jobs To Be Done
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Анализ конкурентов
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Термины
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Хештеги
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Копирайтинг
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Визуал


							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Продвижение
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 3

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как работать с блогерами
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Какие есть варианты продвижения
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt SFS / Конкурсы / Giveaway / ВП / Марафоны
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Stories
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Реклама в Stories

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Таргетированная реклама
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 4

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Активация рекламного кабинета
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Цели. Оптимизация. Плейсменты
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Настройка рекламных кампаний / Форматы объявлений / Часть 1
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Настройка рекламный кампаний / Форматы объявлений / Часть 2
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Аналитика рекламных кампаний

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Другие каналы продвижения
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
										.cwprog-card-type__name Домашние задания
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 5

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Telegram чат-боты и их применения для бизнеса
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Микро-инфлюенсеры и Twitter
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt ВК
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Реклама в ВК
							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания

					.cwprog-card
						.cwprog-card-left
							.cwprog-card-left__top
								h3.cwprog-card-title Заключительная часть
								.cwprog-card-types
									.cwprog-card-type
										.cwprog-card-type__pic
											img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
										.cwprog-card-type__name Текстовые уроки
							.cwprog-card-left__bottom
								.cwprog-card-part-name Модуль 6

						.cwprog-card-right
							.cwprog-text
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Интро в личный бренд
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Поиск клиентов на SMM
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Лоббирование
								.cwprog-text-item
									.cwprog-titem-name
										.cwprog-titem-name__txt Как составлять отчеты

							.cwprog-card-types
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/text-dz.svg", alt="icon")
									.cwprog-card-type__name Текстовые уроки
								.cwprog-card-type
									.cwprog-card-type__pic
										img(src="img/landings/copywriting/prog/dz.svg", alt="icon")
									.cwprog-card-type__name Домашние задания
