section.ylearn-section.ylearn-section--express-smm
	.container2.ylearn-container
		h2.ylearn-title Чему вы научитесь <br> на курсе

	#ylearn-pinContainer.container2.ylearn-row-container
		#ylearn-scroll.ylearn-row-wrap
			.ylearn-row
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--1
						.ylearn-item__title Всем <br>  необходимым <br>  базовым <div class="only-desktop"></div> знаниям для <div class="only-desktop"></div>  работы в сфере <div class="only-desktop"></div>  SMM
						img.ylearn-item__img(src="img/landings/express-smm/exp-yl-1.svg", alt="")
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--2.ylearn-item--small(style="background: #2243E5; color:#ffffff;")
						.ylearn-item__title Созданию контент-стратегий и <br>  контент-планов, визуализации <br>  бренда
					.ylearn-item.ylearn-item--3.ylearn-item--tall
						.ylearn-item__title Формированию целей, задач, <br>  стратегий и тактик поведения в <br>  социальных сетях


				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--4
						.ylearn-item__title Базовым <br>  знаниям по <br>  подготовке <br>  текстового <br>  сопровождения <br>  аккаунта
				.ylearn-col.ylearn-col--short
					.ylearn-item.ylearn-item--5(style="background: #2243E5; color:#ffffff;")
						.ylearn-item__title Ключевым <br>  методам <br>  продвижения <br>  аккаунтов (в т. ч. <br>  бесплатным)
				.ylearn-col.ylearn-col--long
					.ylearn-item.ylearn-item--6
						.ylearn-item__title Организации своей <br> работы и работы <br> с клиентом
						img.ylearn-item__img(src="img/landings/express-smm/exp-yl-2.svg", alt="")