section.express-smm-need
	.container2.express-smm-need__container
		.express-smm-need__title Отправная точка в&nbsp;мир&nbsp;SMM
	.container2.express-smm-need__container
		.express-smm-need__content
			.express-smm-need__decor Для&nbsp;кого?
			.express-smm-need__inner
				.express-smm-need__row
					.express-smm-need__card
						.express-smm-need__card-img
							img(src="img/landings/express-smm/need-1.svg")
						.express-smm-need__card-title Владельцев бизнеса
						.express-smm-need__card-desc Которые хотят иметь <div class="only-mobile"></div> еще один источник трафика клиентов
					.express-smm-need__card
						.express-smm-need__card-img
							img(src="img/landings/express-smm/need-2.svg")
						.express-smm-need__card-title Маркетологов
						.express-smm-need__card-desc Которые хотят прокачать свои скиллы в области SMM
					.express-smm-need__card
						.express-smm-need__card-img
							img(src="img/landings/express-smm/need-3.svg")
						.express-smm-need__card-title.express-smm-need__card-title-xl Фрилансеров
						.express-smm-need__card-desc Для всех, кто хочет зарабатывать на удаленке
