section.express-smm-features
    .container2.express-smm-features__container
        .express-smm-features__content
            .express-smm-features__row
                .express-smm-features__text-one.express-smm-features__text Курс создан лично @smmagnat, в который заложен весь его 
                    span 10-летний опыт SMM
                .express-smm-features__img-wrapper-one.express-smm-features__img-wrapper
                    img.express-smm-features__img(src="img/landings/express-smm/features-1.svg")
            .express-smm-features__row
                .express-smm-features__img-wrapper-two.express-smm-features__img-wrapper
                    img.express-smm-features__img(src="img/landings/express-smm/features-2.svg")
                .express-smm-features__text-two.express-smm-features__text Курс включает все грани SMM: копирайтинг, таргетинг, стратегии, контент
            .express-smm-features__row
                .express-smm-features__text-three.express-smm-features__text Это не только курс про SMM, а это точка зрения smmagnat на этот рынок
                .express-smm-features__img-wrapper-three.express-smm-features__img-wrapper
                    img.express-smm-features__img.express-smm-features__img-desctop(src="img/landings/express-smm/features-3.svg")
                    img.express-smm-features__img.express-smm-features__img-mob(src="img/landings/express-smm/features-3-mob.svg")
            .express-smm-features__row
                .express-smm-features__img-wrapper-four.express-smm-features__img-wrapper
                    img.copywriting-features__img(src="img/landings/express-smm/features-4.svg")
                .express-smm-features__text-four.express-smm-features__text Самый эффективный и быстрый способ изучить SMM 
