.context-advantages {
	position: relative;
	padding-bottom: 256px;

	@include dArea{
		padding-bottom: vwx(256);
	}
	@media (max-width: 1200px) {
		padding-bottom: 90px;
		overflow: hidden;
	}

	&__container {
		@media (max-width: 1200px) {
			max-width: calc(100% - 7.4vw * 2);
		}
	}

	&__img {
		position: absolute;

		&--1 {
			max-width: 36%;
			top: -193px;
			right: 0;
			overflow: hidden;
			@include dArea{
				top: vwx(-193);
				img{
					width: 100%;
				}
			}

			@media (max-width: 1200px) {
				position: relative;
				top: 0;
				right: -28px;
			}
		}

		&--2 {
			max-width: 19%;
			top: 32.5%;
			left: 0;
			@include dArea{
				top: vwx(450);
				max-width: 15%;
				img{
					width: 100%;
				}
			}

			@media (max-width: 1200px) {
				top: 51.3%;
			}
		}

		&--3 {
			max-width: 37%;
			top: 42.5%;
			left: 19%;
			@include dArea{
				max-width: 30%;
				img{
					max-width: 100%;
				}
			}


			@media (max-width: 1200px) {
				top: 58.3%;
				left: unset;
				right: 0;
			}
		}

		&--4 {
			bottom: -148px;
			left: 0;
			@include dArea{
				bottom: vwx(-120);
				max-width: vwx(450);
				img{
					width: 100%;
				}
			}

			@media (max-width: 1200px) {
				bottom: 0;
				left: unset;
				right: 0;
			}
		}

		@media (max-width: 1200px) {
			max-width: 100%;
		}
	}

	&__text {
		max-width: 55.7%;
		font-size: 64px;
		line-height: 80.51px;
		position: relative;
		@include dArea{
			font-size: vwx(64);
			line-height: vwx(80.51);
		}

		@media (max-width: 1200px) {
			font-size: 54px;
			line-height: 64px;
		}

		@media (max-width: 1200px) {
			max-width: 90%;
			font-size: vw(20);
			line-height: vw(24.8);
			padding-top: 16px;
		}

		&--right {
			max-width: 1205px;
			padding-top: 460px;
			margin-left: auto;
			text-align: right;
			@include dArea{
				max-width: vwx(1205);
				padding-top: vwx(460);
			}

			@media (max-width: 1200px) {
				max-width: 75%;
				text-align: left;
				margin-left: 0;
				padding-top: 275px;
			}
		}
	}
}